@import url(http://fonts.googleapis.com/css?family=Roboto:400+700);

body {
  background: #30303A;
  font-family: Roboto;
}

.chart {
  width: 100%;
  height: 150px;
  margin: 30px auto 0;
  display: block;
}

.chart #numbers {
  height: 100%;
  width: 50px;
  margin: 0;
  padding: 0;
  display: inline-block;
  float: left;
}

.chart #numbers li {
  text-align: right;
  padding-right: 1em;
  list-style: none;
  height: 29px;
  border-bottom: 1px solid #053a4b;
  position: relative;
  bottom: 30px;
}

.chart #numbers li:last-child { height: 30px; }

.chart #numbers li span {
  color: #eee;
  position: absolute;
  bottom: 0;
  right: 10px;
  opacity:0.7;
}

.chart .bars {
  display: inline-block;
   border-left:solid 1px #053a4b;
    border-bottom:solid 1px #053a4b;
  width: 100%;
  height: 120px;
  padding: 0;
  margin: 0;
 
}

.chart .bars li {
  display: table-cell;
  width: 34px;
  height: 120px;
  margin: 0;
  text-align: center;
  position: relative;
}

.chart .bars li .bar {
  display: block;
  width: 27px;
  margin-left: 3px;
  position: absolute;
  bottom: 0;
  
background: #ffa84c; /* Old browsers */
background: -moz-linear-gradient(top,  #36bbfc 0%, #006da3  100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #36bbfc 0%,#006da3  100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #36bbfc 0%,#006da3  100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36bbfc', endColorstr='#006da3',GradientType=0 ); /* IE6-9 */

}

.chart .bars li .bar:hover {
 background: #ffa84c; /* Old browsers */
background: -moz-linear-gradient(top,  #ffa84c 0%, #ff7b0d 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ffa84c 0%,#ff7b0d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9 */
  cursor: pointer;
}

.chart .bars li .bar:hover:before {
  color: white;
  content: attr(data-percentage) '%';
  position: relative;
  bottom: 20px;
}

.chart .bars li span {
    color: #eee;
    width: 100%;
    position: absolute;
    font-size: 11px;
    bottom: -2em;
    left: -2px;
    text-align: center;
    opacity:0.7;
}
