﻿/************dark_black_theme********/
.dark_theme {
  /**************filter_nav************/
  /********************filter_nav_close******************/
  /********************Search_result_page******************/
  /********************Search_result_page_close******************/
}
.dark_theme .top_row_theme {
  background: #1f1b1b;
}
.dark_theme .sec_3 {
  background: #161517;
}
.dark_theme .sec_3 h2 {
  color: #f8deab;
}
.dark_theme .sec_3 h3 {
  color: #f8deab;
}
.dark_theme .page_banner:before {
  background: rgba(0, 0, 0, 0.55);
}
.dark_theme .top_logo_row {
  background: rgba(0, 0, 0, 0.95);
}
.dark_theme .search_page {
  background: rgba(60, 60, 60, 0.95);
}
.dark_theme .search_page .submit_btn {
  background: #1b1b1b url(../images/search.png) no-repeat center center;
}
.dark_theme .search_page .submit_btn:hover {
  background: #c23d4a url(../images/search.png) no-repeat center center;
}
.dark_theme .search_page .select_trip_type,
.dark_theme .search_page .passenger {
  border-bottom: dashed 1px #5d5d5d;
}
.dark_theme .search_page .tab_menu ul li a {
  background: rgba(0, 0, 0, 0.15);
}
.dark_theme .search_page .tab_menu ul li a:hover {
  background: rgba(0, 0, 0, 0.25);
}
.dark_theme .search_page .tab_menu ul .active a {
  /*background: #e04c5a;*/
  background: #1b1b1b;
}
.dark_theme .search_page .tab_menu ul .active a:hover {
  background: #c23d4a;
}
.dark_theme .sec_4 {
  /*background:#0484a2;*/
  background: rgba(60, 60, 60, 0.95);
}
.dark_theme .sec_4 .get_app_btn {
  background: #1b1b1b;
}
.dark_theme .sec_4 .get_app_btn:hover {
  background: #c23d4a;
}
.dark_theme .sec_4 .get_app_btn:focus {
  outline: none;
}
.dark_theme .sec_5 {
  background: #353535;
  height: auto;
}
.dark_theme .sec_5 .text h2 {
  color: #fff;
}
.dark_theme .sec_5 .sign_up_btn {
  background: #1b1b1b;
}
.dark_theme .sec_5 .sign_up_btn:hover {
  background: #c23d4a;
}
.dark_theme .sec_6 {
  background: #161517;
}
.dark_theme .sec_6 .footer_link .foo_link ul li a:hover {
  color: #e04c5a;
}
.dark_theme .sec_6 .foo_social ul li a .fa-facebook {
  background: rgba(255, 255, 255, 0.7);
  color: rgba(0, 0, 0, 0.9);
}
.dark_theme .sec_6 .foo_social ul li a .fa-facebook:hover {
  background: #003ed0;
  color: #fff;
}
.dark_theme .sec_6 .foo_social ul li a .fa-twitter {
  background: rgba(255, 255, 255, 0.7);
  color: rgba(0, 0, 0, 0.9);
}
.dark_theme .sec_6 .foo_social ul li a .fa-twitter:hover {
  background: #00ade5;
  color: #fff;
}
.dark_theme .sec_6 .foo_social ul li a .fa-linkedin {
  background: rgba(255, 255, 255, 0.7);
  color: rgba(0, 0, 0, 0.9);
}
.dark_theme .sec_6 .foo_social ul li a .fa-linkedin:hover {
  background: #00a6e5;
  color: #fff;
}
.dark_theme .sec_6 .foo_social ul li a .fa-instagram {
  background: rgba(255, 255, 255, 0.7);
  color: rgba(0, 0, 0, 0.9);
}
.dark_theme .sec_6 .foo_social ul li a .fa-instagram:hover {
  background: #464646;
  color: #fff;
}
.dark_theme .sec_6 .foo_social ul li a .fa-pinterest {
  background: rgba(255, 255, 255, 0.7);
  color: rgba(0, 0, 0, 0.9);
}
.dark_theme .sec_6 .foo_social ul li a .fa-pinterest:hover {
  background: #b52121;
  color: #fff;
}
.dark_theme .sec_6 .foo_social ul li a .fa-youtube {
  background: rgba(255, 255, 255, 0.7);
  color: rgba(0, 0, 0, 0.9);
}
.dark_theme .sec_6 .foo_social ul li a .fa-youtube:hover {
  background: #cc4242;
  color: #fff;
}
.dark_theme .filter_nav {
  background: rgba(64, 64, 64, 0.8);
}
.dark_theme .filter_nav .filter_div {
  border-bottom: solid 1px rgba(26, 26, 26, 0.25);
}
.dark_theme .filter_nav .filter_div .ul_radio li label:before {
  border: solid 2px #fff;
}
.dark_theme .filter_nav .filter_div .ul_radio li label:after {
  background: #fff;
  visibility: hidden;
  opacity: 0;
}
.dark_theme .filter_nav .filter_div .ul_radio li.active label span {
  color: #e4c20f;
}
.dark_theme .filter_nav .filter_div .ul_radio li.active label:before {
  border: solid 2px #e4c20f;
}
.dark_theme .filter_nav .filter_div .ul_radio li.active label:after {
  background: #e4c20f;
  visibility: visible;
  opacity: 1;
}
.dark_theme .filter_nav .filter_div .ul_checkbox li label:before {
  border: solid 2px #fff;
}
.dark_theme .filter_nav .filter_div .ul_checkbox li label:after {
  border-left: solid 2px #fff;
  border-bottom: solid 2px #fff;
  visibility: hidden;
  opacity: 0;
}
.dark_theme .filter_nav .filter_div .ul_checkbox li.active label:before {
  border: none;
  background: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.dark_theme .filter_nav .filter_div .ul_checkbox li.active label:after {
  border-left: solid 2px #fff;
  border-bottom: solid 2px #fff;
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.dark_theme .depart_d {
  background: rgba(35, 35, 35, 0.8);
  border: solid 1px rgba(34, 34, 34, 0.98);
}
.dark_theme .depart_d:first-child {
  border-left: solid 1px rgba(34, 34, 34, 0.98) !important;
}
.dark_theme .search_result_boxbg {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.dark_theme .search_result_boxbg .search_result_box {
  background: #404040;
}
.dark_theme .search_result_boxbg .search_result_box .air_line .img_d {
  border: solid 3px #404040;
}
.dark_theme .search_result_boxbg .search_result_box .text {
  color: #fff;
}
.dark_theme .search_result_boxbg .search_result_box .book_btn {
  background: #c23d4a;
  color: #fff;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.dark_theme .search_result_boxbg .search_result_box .book_btn:hover {
  background: #cfaf08;
}
.dark_theme .search_result_boxbg .search_result_foot {
  background: rgba(29, 29, 29, 0.9);
}
.dark_theme .search_result_boxbg .search_result_foot .dtl_btn {
  background: #404040;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.dark_theme .search_result_boxbg .search_result_foot .dtl_btn:hover {
  background: #cfaf08;
}
.dark_theme .search_result_boxbg:hover {
  -o-box-shadow: 0 0 6px 3px #010101;
  -moz-box-shadow: 0 0 6px 3px #010101;
  -webkit-box-shadow: 0 0 6px 3px #010101;
  box-shadow: 0 0 6px 3px #010101;
}
.dark_theme .search_result_boxbg .search_result_detail {
  background: #303030;
}
.dark_theme .search_result_boxbg .search_result_detail .detail_tab ul li .active:before {
  border-bottom: solid 5px #ff6a00;
  border-right: solid 5px transparent;
  border-left: solid 5px transparent;
}
.dark_theme .search_result_boxbg .search_result_detail .detail_tab ul li .active:after {
  background: #ff6a00;
}
.dark_theme .search_result_boxbg .search_result_detail .tbl_data ul li {
  border-bottom: solid 1px rgba(255, 255, 255, 0.05);
}
.dark_theme .search_result_boxbg .search_result_detail .tbl_data h3 {
  color: #ff6a00;
}
.dark_theme .search_result_boxbg .search_result_detail .tab_right h3 {
  color: #ff6a00;
}
/************blue_theme********/
.blue_theme {
  /**************filter_nav************/
  /********************filter_nav_close******************/
  /********************Search_result_page******************/
  /********************Search_result_page_close******************/
}
.blue_theme .top_row_theme {
  background: #1f1b1b;
}
.blue_theme .sec_3 {
  background: #012530;
}
.blue_theme .sec_3 h2 {
  color: #52a1b9;
}
.blue_theme .sec_3 h3 {
  color: #52a1b9;
}
.blue_theme .page_banner:before {
  background: rgba(0, 0, 0, 0.55);
}
.blue_theme .top_logo_row {
  background: rgba(2, 27, 33, 0.95);
}
.blue_theme .edit_search {
  background: rgba(15, 161, 190, 0.95);
}
.blue_theme .edit_search .search_page {
  background: transparent;
}
.blue_theme .search_page {
  background: rgba(15, 161, 190, 0.95);
}
.blue_theme .search_page .submit_btn {
  background: #024856 url(../images/search.png) no-repeat center center;
}
.blue_theme .search_page .submit_btn:hover {
  background: #c23d4a url(../images/search.png) no-repeat center center;
}
.blue_theme .search_page .select_trip_type,
.blue_theme .search_page .passenger {
  border: solid 1px rgba(100, 194, 234, 0.4);
}
.blue_theme .search_page .tab_menu ul li a {
  background: rgba(0, 0, 0, 0.15);
}
.blue_theme .search_page .tab_menu ul li a:hover {
  background: rgba(0, 0, 0, 0.25);
}
.blue_theme .search_page .tab_menu ul .active a {
  /*background: #e04c5a;*/
  background: #024856;
}
.blue_theme .search_page .tab_menu ul .active a:hover {
  background: #c23d4a;
}
.blue_theme .sec_4 {
  /*background:#0484a2;*/
  background: rgba(15, 161, 190, 0.95);
}
.blue_theme .sec_4 .get_app_btn {
  background: #024856;
}
.blue_theme .sec_4 .get_app_btn:hover {
  background: #c23d4a;
}
.blue_theme .sec_4 .get_app_btn:focus {
  outline: none;
}
.blue_theme .sec_5 {
  background: #12262b;
  height: auto;
}
.blue_theme .sec_5 .text h2 {
  color: #fff;
}
.blue_theme .sec_5 .sign_up_btn {
  background: #024856;
}
.blue_theme .sec_5 .sign_up_btn:hover {
  background: #c23d4a;
}
.blue_theme .sec_6 {
  background: #001d26;
}
.blue_theme .sec_6 .footer_link .foo_link ul li a:hover {
  color: #e04c5a;
}
.blue_theme .sec_6 .foo_social ul li a .fa-facebook {
  background: rgba(255, 255, 255, 0.7);
  color: rgba(0, 0, 0, 0.9);
}
.blue_theme .sec_6 .foo_social ul li a .fa-facebook:hover {
  background: #003ed0;
  color: #fff;
}
.blue_theme .sec_6 .foo_social ul li a .fa-twitter {
  background: rgba(255, 255, 255, 0.7);
  color: rgba(0, 0, 0, 0.9);
}
.blue_theme .sec_6 .foo_social ul li a .fa-twitter:hover {
  background: #00ade5;
  color: #fff;
}
.blue_theme .sec_6 .foo_social ul li a .fa-linkedin {
  background: rgba(255, 255, 255, 0.7);
  color: rgba(0, 0, 0, 0.9);
}
.blue_theme .sec_6 .foo_social ul li a .fa-linkedin:hover {
  background: #00a6e5;
  color: #fff;
}
.blue_theme .sec_6 .foo_social ul li a .fa-instagram {
  background: rgba(255, 255, 255, 0.7);
  color: rgba(0, 0, 0, 0.9);
}
.blue_theme .sec_6 .foo_social ul li a .fa-instagram:hover {
  background: #464646;
  color: #fff;
}
.blue_theme .sec_6 .foo_social ul li a .fa-pinterest {
  background: rgba(255, 255, 255, 0.7);
  color: rgba(0, 0, 0, 0.9);
}
.blue_theme .sec_6 .foo_social ul li a .fa-pinterest:hover {
  background: #b52121;
  color: #fff;
}
.blue_theme .sec_6 .foo_social ul li a .fa-youtube {
  background: rgba(255, 255, 255, 0.7);
  color: rgba(0, 0, 0, 0.9);
}
.blue_theme .sec_6 .foo_social ul li a .fa-youtube:hover {
  background: #cc4242;
  color: #fff;
}
.blue_theme .filter_nav {
  background: rgba(3, 59, 75, 0.8);
}
.blue_theme .filter_nav .filter_div {
  border-bottom: solid 1px rgba(14, 105, 134, 0.25);
}
.blue_theme .filter_nav .filter_div .ul_radio li label:before {
  border: solid 2px #fff;
}
.blue_theme .filter_nav .filter_div .ul_radio li label:after {
  background: #fff;
  visibility: hidden;
  opacity: 0;
}
.blue_theme .filter_nav .filter_div .ul_radio li.active label span {
  color: #00daff;
}
.blue_theme .filter_nav .filter_div .ul_radio li.active label:before {
  border: solid 2px #00daff;
}
.blue_theme .filter_nav .filter_div .ul_radio li.active label:after {
  background: #00daff;
  visibility: visible;
  opacity: 1;
}
.blue_theme .filter_nav .filter_div .ul_checkbox li label:before {
  border: solid 2px #fff;
}
.blue_theme .filter_nav .filter_div .ul_checkbox li label:after {
  border-left: solid 2px #fff;
  border-bottom: solid 2px #fff;
  visibility: hidden;
  opacity: 0;
}
.blue_theme .filter_nav .filter_div .ul_checkbox li.active label:before {
  border: none;
  background: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.blue_theme .filter_nav .filter_div .ul_checkbox li.active label:after {
  border-left: solid 2px #fff;
  border-bottom: solid 2px #fff;
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.blue_theme .depart_d {
  background: rgba(1, 37, 48, 0.8);
  border: solid 1px rgba(2, 62, 81, 0.98);
}
.blue_theme .depart_d:first-child {
  border-left: solid 1px rgba(2, 62, 81, 0.98) !important;
}
.blue_theme .search_result_boxbg {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.blue_theme .search_result_boxbg .search_result_box {
  background: #033b4b;
}
.blue_theme .search_result_boxbg .search_result_box .air_line .img_d {
  border: solid 3px #033b4b;
}
.blue_theme .search_result_boxbg .search_result_box .text {
  color: #fff;
}
.blue_theme .search_result_boxbg .search_result_box .book_btn {
  background: #058ed1;
  color: #fff;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.blue_theme .search_result_boxbg .search_result_box .book_btn:hover {
  background: #c23d4a;
}
.blue_theme .search_result_boxbg .search_result_foot {
  background: rgba(0, 29, 38, 0.9);
}
.blue_theme .search_result_boxbg .search_result_foot .dtl_btn {
  background: #033b4b;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.blue_theme .search_result_boxbg .search_result_foot .dtl_btn:hover {
  background: #c23d4a;
}
.blue_theme .search_result_boxbg:hover {
  -o-box-shadow: 0 0 6px 3px #001117;
  -moz-box-shadow: 0 0 6px 3px #001117;
  -webkit-box-shadow: 0 0 6px 3px #001117;
  box-shadow: 0 0 6px 3px #001117;
}
.blue_theme .search_result_boxbg .search_result_detail {
  background: #022e3c;
}
.blue_theme .search_result_boxbg .search_result_detail .detail_tab ul li .active:before {
  border-bottom: solid 5px #ff6a00;
  border-right: solid 5px transparent;
  border-left: solid 5px transparent;
}
.blue_theme .search_result_boxbg .search_result_detail .detail_tab ul li .active:after {
  background: #ff6a00;
}
.blue_theme .search_result_boxbg .search_result_detail .tbl_data ul li {
  border-bottom: solid 1px rgba(255, 255, 255, 0.05);
}
.blue_theme .search_result_boxbg .search_result_detail .tbl_data h3 {
  color: #ff6a00;
}
.blue_theme .search_result_boxbg .search_result_detail .tab_right h3 {
  color: #ff6a00;
}
.blue_theme .search_result_boxbg .search_result_detail .border-left {
  background: rgba(255, 255, 255, 0.05);
}
.blue_theme .search_result_boxbg .search_result_detail .border-right {
  background: rgba(255, 255, 255, 0.05);
}
.blue_theme .search_result_boxbg .roundtrip_price .price_d .price {
  background: #058ed1;
}
/************red_theme********/
.red_theme {
  /**************filter_nav************/
  /********************filter_nav_close******************/
  /********************Search_result_page******************/
  /********************Search_result_page_close******************/
}
.red_theme .top_row_theme {
  background: #1f1b1b;
}
.red_theme .sec_3 {
  background: #2b0000;
}
.red_theme .sec_3 h2 {
  color: #f9acac;
}
.red_theme .sec_3 h3 {
  color: #f9acac;
}
.red_theme .page_banner:before {
  background: rgba(0, 0, 0, 0.55);
}
.red_theme .top_logo_row {
  background: rgba(25, 0, 0, 0.95);
}
.red_theme .search_page {
  background: rgba(189, 37, 37, 0.95);
}
.red_theme .search_page .submit_btn {
  background: #ef7000 url(../images/search.png) no-repeat center center;
}
.red_theme .search_page .submit_btn:hover {
  background: #d4b40b url(../images/search.png) no-repeat center center;
}
.red_theme .search_page .select_trip_type,
.red_theme .search_page .passenger {
  border-bottom: dashed 1px #fba2a2;
}
.red_theme .search_page .tab_menu ul li a {
  background: rgba(0, 0, 0, 0.15);
}
.red_theme .search_page .tab_menu ul li a:hover {
  background: rgba(0, 0, 0, 0.25);
}
.red_theme .search_page .tab_menu ul .active a {
  /*background: #e04c5a;*/
  background: #ef7000;
}
.red_theme .search_page .tab_menu ul .active a:hover {
  background: #d4b40b;
}
.red_theme .sec_4 {
  /*background:#0484a2;*/
  background: rgba(189, 37, 37, 0.95);
}
.red_theme .sec_4 .get_app_btn {
  background: #ef7000;
}
.red_theme .sec_4 .get_app_btn:hover {
  background: #d4b40b;
}
.red_theme .sec_4 .get_app_btn:focus {
  outline: none;
}
.red_theme .sec_5 {
  background: #2f1111;
  height: auto;
}
.red_theme .sec_5 .text h2 {
  color: #fff;
}
.red_theme .sec_5 .sign_up_btn {
  background: #ef7000;
}
.red_theme .sec_5 .sign_up_btn:hover {
  background: #d4b40b;
}
.red_theme .sec_6 {
  background: #1a0505;
}
.red_theme .sec_6 .footer_link .foo_link ul li a:hover {
  color: #e04c5a;
}
.red_theme .sec_6 .foo_social ul li a .fa-facebook {
  background: rgba(255, 255, 255, 0.7);
  color: rgba(0, 0, 0, 0.9);
}
.red_theme .sec_6 .foo_social ul li a .fa-facebook:hover {
  background: #003ed0;
  color: #fff;
}
.red_theme .sec_6 .foo_social ul li a .fa-twitter {
  background: rgba(255, 255, 255, 0.7);
  color: rgba(0, 0, 0, 0.9);
}
.red_theme .sec_6 .foo_social ul li a .fa-twitter:hover {
  background: #00ade5;
  color: #fff;
}
.red_theme .sec_6 .foo_social ul li a .fa-linkedin {
  background: rgba(255, 255, 255, 0.7);
  color: rgba(0, 0, 0, 0.9);
}
.red_theme .sec_6 .foo_social ul li a .fa-linkedin:hover {
  background: #00a6e5;
  color: #fff;
}
.red_theme .sec_6 .foo_social ul li a .fa-instagram {
  background: rgba(255, 255, 255, 0.7);
  color: rgba(0, 0, 0, 0.9);
}
.red_theme .sec_6 .foo_social ul li a .fa-instagram:hover {
  background: #464646;
  color: #fff;
}
.red_theme .sec_6 .foo_social ul li a .fa-pinterest {
  background: rgba(255, 255, 255, 0.7);
  color: rgba(0, 0, 0, 0.9);
}
.red_theme .sec_6 .foo_social ul li a .fa-pinterest:hover {
  background: #b52121;
  color: #fff;
}
.red_theme .sec_6 .foo_social ul li a .fa-youtube {
  background: rgba(255, 255, 255, 0.7);
  color: rgba(0, 0, 0, 0.9);
}
.red_theme .sec_6 .foo_social ul li a .fa-youtube:hover {
  background: #cc4242;
  color: #fff;
}
.red_theme .filter_nav {
  background: rgba(75, 3, 3, 0.8);
}
.red_theme .filter_nav .filter_div {
  border-bottom: solid 1px rgba(134, 14, 14, 0.25);
}
.red_theme .filter_nav .filter_div .ul_radio li label:before {
  border: solid 2px #fff;
}
.red_theme .filter_nav .filter_div .ul_radio li label:after {
  background: #fff;
  visibility: hidden;
  opacity: 0;
}
.red_theme .filter_nav .filter_div .ul_radio li.active label span {
  color: #ffd300;
}
.red_theme .filter_nav .filter_div .ul_radio li.active label:before {
  border: solid 2px #ffd300;
}
.red_theme .filter_nav .filter_div .ul_radio li.active label:after {
  background: #ffd300;
  visibility: visible;
  opacity: 1;
}
.red_theme .filter_nav .filter_div .ul_checkbox li label:before {
  border: solid 2px #fff;
}
.red_theme .filter_nav .filter_div .ul_checkbox li label:after {
  border-left: solid 2px #fff;
  border-bottom: solid 2px #fff;
  visibility: hidden;
  opacity: 0;
}
.red_theme .filter_nav .filter_div .ul_checkbox li.active label:before {
  border: none;
  background: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.red_theme .filter_nav .filter_div .ul_checkbox li.active label:after {
  border-left: solid 2px #fff;
  border-bottom: solid 2px #fff;
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.red_theme .depart_d {
  background: rgba(48, 1, 1, 0.8);
  border: solid 1px rgba(81, 2, 2, 0.98);
}
.red_theme .depart_d:first-child {
  border-left: solid 1px rgba(81, 2, 2, 0.98) !important;
}
.red_theme .search_result_boxbg {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.red_theme .search_result_boxbg .search_result_box {
  background: #4b0303;
}
.red_theme .search_result_boxbg .search_result_box .air_line .img_d {
  border: solid 3px #4b0303;
}
.red_theme .search_result_boxbg .search_result_box .text {
  color: #fff;
}
.red_theme .search_result_boxbg .search_result_box .book_btn {
  background: #b18d05;
  color: #fff;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.red_theme .search_result_boxbg .search_result_box .book_btn:hover {
  background: #548606;
}
.red_theme .search_result_boxbg .search_result_foot {
  background: rgba(52, 3, 3, 0.9);
}
.red_theme .search_result_boxbg .search_result_foot .dtl_btn {
  background: #4b0303;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.red_theme .search_result_boxbg .search_result_foot .dtl_btn:hover {
  background: #548606;
}
.red_theme .search_result_boxbg:hover {
  -o-box-shadow: 0 0 6px 3px #170000;
  -moz-box-shadow: 0 0 6px 3px #170000;
  -webkit-box-shadow: 0 0 6px 3px #170000;
  box-shadow: 0 0 6px 3px #170000;
}
.red_theme .search_result_boxbg .search_result_detail {
  background: #440303;
}
.red_theme .search_result_boxbg .search_result_detail .detail_tab ul li .active:before {
  border-bottom: solid 5px #dcae00;
  border-right: solid 5px transparent;
  border-left: solid 5px transparent;
}
.red_theme .search_result_boxbg .search_result_detail .detail_tab ul li .active:after {
  background: #dcae00;
}
.red_theme .search_result_boxbg .search_result_detail .tbl_data ul li {
  border-bottom: solid 1px rgba(255, 255, 255, 0.05);
}
.red_theme .search_result_boxbg .search_result_detail .tbl_data h3 {
  color: #dcae00;
}
.red_theme .search_result_boxbg .search_result_detail .tab_right h3 {
  color: #dcae00;
}
/************red_theme********/
.green_theme {
  /**************filter_nav************/
  /********************filter_nav_close******************/
  /********************Search_result_page******************/
  /********************Search_result_page_close******************/
}
.green_theme .top_row_theme {
  background: #1f1b1b;
}
.green_theme .sec_3 {
  background: #001b00;
}
.green_theme .sec_3 h2 {
  color: #37a500;
}
.green_theme .sec_3 h3 {
  color: #37a500;
}
.green_theme .page_banner:before {
  background: rgba(0, 0, 0, 0.55);
}
.green_theme .top_logo_row {
  background: rgba(5, 44, 0, 0.95);
}
.green_theme .search_page {
  background: rgba(0, 124, 14, 0.95);
}
.green_theme .search_page .submit_btn {
  background: #49d603 url(../images/search.png) no-repeat center center;
}
.green_theme .search_page .submit_btn:hover {
  background: #d4b40b url(../images/search.png) no-repeat center center;
}
.green_theme .search_page .select_trip_type,
.green_theme .search_page .passenger {
  border-bottom: dashed 1px #0da51b;
}
.green_theme .search_page .tab_menu ul li a {
  background: rgba(0, 0, 0, 0.15);
}
.green_theme .search_page .tab_menu ul li a:hover {
  background: rgba(0, 0, 0, 0.25);
}
.green_theme .search_page .tab_menu ul .active a {
  /*background: #e04c5a;*/
  background: #49d603;
}
.green_theme .search_page .tab_menu ul .active a:hover {
  background: #d4b40b;
}
.green_theme .sec_4 {
  /*background:#0484a2;*/
  background: rgba(0, 124, 14, 0.95);
}
.green_theme .sec_4 .get_app_btn {
  background: #49d603;
}
.green_theme .sec_4 .get_app_btn:hover {
  background: #d4b40b;
}
.green_theme .sec_4 .get_app_btn:focus {
  outline: none;
}
.green_theme .sec_5 {
  background: #004a08;
  height: auto;
}
.green_theme .sec_5 .text h2 {
  color: #fff;
}
.green_theme .sec_5 .sign_up_btn {
  background: #49d603;
}
.green_theme .sec_5 .sign_up_btn:hover {
  background: #d4b40b;
}
.green_theme .sec_6 {
  background: #002104;
}
.green_theme .sec_6 .footer_link .foo_link ul li a:hover {
  color: #e04c5a;
}
.green_theme .sec_6 .foo_social ul li a .fa-facebook {
  background: rgba(255, 255, 255, 0.7);
  color: rgba(0, 0, 0, 0.9);
}
.green_theme .sec_6 .foo_social ul li a .fa-facebook:hover {
  background: #003ed0;
  color: #fff;
}
.green_theme .sec_6 .foo_social ul li a .fa-twitter {
  background: rgba(255, 255, 255, 0.7);
  color: rgba(0, 0, 0, 0.9);
}
.green_theme .sec_6 .foo_social ul li a .fa-twitter:hover {
  background: #00ade5;
  color: #fff;
}
.green_theme .sec_6 .foo_social ul li a .fa-linkedin {
  background: rgba(255, 255, 255, 0.7);
  color: rgba(0, 0, 0, 0.9);
}
.green_theme .sec_6 .foo_social ul li a .fa-linkedin:hover {
  background: #00a6e5;
  color: #fff;
}
.green_theme .sec_6 .foo_social ul li a .fa-instagram {
  background: rgba(255, 255, 255, 0.7);
  color: rgba(0, 0, 0, 0.9);
}
.green_theme .sec_6 .foo_social ul li a .fa-instagram:hover {
  background: #464646;
  color: #fff;
}
.green_theme .sec_6 .foo_social ul li a .fa-pinterest {
  background: rgba(255, 255, 255, 0.7);
  color: rgba(0, 0, 0, 0.9);
}
.green_theme .sec_6 .foo_social ul li a .fa-pinterest:hover {
  background: #b52121;
  color: #fff;
}
.green_theme .sec_6 .foo_social ul li a .fa-youtube {
  background: rgba(255, 255, 255, 0.7);
  color: rgba(0, 0, 0, 0.9);
}
.green_theme .sec_6 .foo_social ul li a .fa-youtube:hover {
  background: #cc4242;
  color: #fff;
}
.green_theme .filter_nav {
  background: rgba(4, 75, 3, 0.8);
}
.green_theme .filter_nav .filter_div {
  border-bottom: solid 1px rgba(14, 134, 31, 0.25);
}
.green_theme .filter_nav .filter_div .ul_radio li label:before {
  border: solid 2px #fff;
}
.green_theme .filter_nav .filter_div .ul_radio li label:after {
  background: #fff;
  visibility: hidden;
  opacity: 0;
}
.green_theme .filter_nav .filter_div .ul_radio li.active label span {
  color: #ffd300;
}
.green_theme .filter_nav .filter_div .ul_radio li.active label:before {
  border: solid 2px #ffd300;
}
.green_theme .filter_nav .filter_div .ul_radio li.active label:after {
  background: #ffd300;
  visibility: visible;
  opacity: 1;
}
.green_theme .filter_nav .filter_div .ul_checkbox li label:before {
  border: solid 2px #fff;
}
.green_theme .filter_nav .filter_div .ul_checkbox li label:after {
  border-left: solid 2px #fff;
  border-bottom: solid 2px #fff;
  visibility: hidden;
  opacity: 0;
}
.green_theme .filter_nav .filter_div .ul_checkbox li.active label:before {
  border: none;
  background: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.green_theme .filter_nav .filter_div .ul_checkbox li.active label:after {
  border-left: solid 2px #fff;
  border-bottom: solid 2px #fff;
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.green_theme .depart_d {
  background: rgba(1, 48, 11, 0.8);
  border: solid 1px rgba(2, 81, 21, 0.98);
}
.green_theme .depart_d:first-child {
  border-left: solid 1px rgba(2, 81, 21, 0.98) !important;
}
.green_theme .search_result_boxbg {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.green_theme .search_result_boxbg .search_result_box {
  background: #044b03;
}
.green_theme .search_result_boxbg .search_result_box .air_line .img_d {
  border: solid 3px #044b03;
}
.green_theme .search_result_boxbg .search_result_box .text {
  color: #fff;
}
.green_theme .search_result_boxbg .search_result_box .book_btn {
  background: #e28900;
  color: #fff;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.green_theme .search_result_boxbg .search_result_box .book_btn:hover {
  background: #4cb300;
}
.green_theme .search_result_boxbg .search_result_foot {
  background: rgba(3, 52, 15, 0.9);
}
.green_theme .search_result_boxbg .search_result_foot .dtl_btn {
  background: #044b03;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.green_theme .search_result_boxbg .search_result_foot .dtl_btn:hover {
  background: #4cb300;
}
.green_theme .search_result_boxbg:hover {
  -o-box-shadow: 0 0 6px 3px #001703;
  -moz-box-shadow: 0 0 6px 3px #001703;
  -webkit-box-shadow: 0 0 6px 3px #001703;
  box-shadow: 0 0 6px 3px #001703;
}
.green_theme .search_result_boxbg .search_result_detail {
  background: #034408;
}
.green_theme .search_result_boxbg .search_result_detail .detail_tab ul li .active:before {
  border-bottom: solid 5px #dcae00;
  border-right: solid 5px transparent;
  border-left: solid 5px transparent;
}
.green_theme .search_result_boxbg .search_result_detail .detail_tab ul li .active:after {
  background: #dcae00;
}
.green_theme .search_result_boxbg .search_result_detail .tbl_data ul li {
  border-bottom: solid 1px rgba(255, 255, 255, 0.05);
}
.green_theme .search_result_boxbg .search_result_detail .tbl_data h3 {
  color: #dcae00;
}
.green_theme .search_result_boxbg .search_result_detail .tab_right h3 {
  color: #dcae00;
}