﻿.filter_tab {
  float: left;
  width: 100%;
}
.filter_tab_head {
  float: left;
  width: 100%;
}
.filter_tab_head ul {
  float: left;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
.filter_tab_head ul li {
  float: left;
  color: #fff;
  padding: 8px 10px;
  box-sizing: border-box;
}
.filter_tab_head ul li .f_tab {
  float: left;
  width: 100%;
  background: #0f99b5;
  padding: 5px 2px;
  position: relative;
}
.filter_tab_head ul li .f_tab:before {
  content: "";
  width: 15px;
  background: #0f99b5;
  height: 100%;
  position: absolute;
  left: -6px;
  top: 0px;
  -o-transform: skew(-10deg);
  -moz-transform: skew(-10deg);
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
}
.filter_tab_head ul li .f_tab:after {
  content: "";
  width: 15px;
  background: #0f99b5;
  height: 100%;
  position: absolute;
  right: -6px;
  top: 0px;
  -o-transform: skew(-10deg);
  -moz-transform: skew(-10deg);
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
}
.filter_tab_head ul li .f_tab .tab_text_big {
  float: left;
  width: 100%;
  text-align: center;
}
.filter_tab_head ul li .f_tab .tab_text_small {
  float: left;
  width: 100%;
  text-align: center;
  font-size: 11px;
}
.tab_fl_cont {
  float: left;
  width: 100%;
}
.tab_fl_cont .tab_fl_tab {
  float: left;
  width: 100%;
}
.tab_fl_cont .tab_fl_tab ul {
  margin: 0px;
  padding: 0px;
  width: 100%;
  list-style-type: none;
  border-bottom: solid 1px #676767;
  float: left;
  position: relative;
}
.tab_fl_cont .tab_fl_tab ul li {
  float: left;
  color: #fff;
  padding: 8px 8px 12px;
  width: 25%;
  text-align: center;
  cursor: pointer;
}
.tab_fl_cont .tab_fl_tab ul .active_tab_li {
  width: 25%;
  height: 4px;
  padding: 0px;
  position: absolute;
  bottom: -2px;
  left: 0px;
  background: #0f99b5;
}
.tab_fl_tab_cont {
  float: left;
  width: 100%;
  padding-top: 10px;
}
.tab_fl_tab_cont .tab_part {
  float: left;
  width: calc(25%);
  height: auto;
  padding: 8px 8px;
}
.tab_fl_tab_cont .tab_part ul {
  float: left;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.tab_fl_tab_cont .tab_part ul li {
  list-style-type: none;
  width: 100%;
  padding: 8px 0px 8px 30px;
  position: relative;
  float: left;
}
.tab_fl_tab_cont .tab_part ul li.active .text_fl,
.tab_fl_tab_cont .tab_part ul li.active .circle_in {
  background: #11a3c3 !important;
  color: #fff !important;
}
.tab_fl_tab_cont .tab_part ul li .text_fl {
  float: left;
  width: 100%;
  background: #083944;
  border-radius: 0 15px 15px 0px;
  color: #567b82;
  padding: 2px 5px 2px 30px;
}
.tab_fl_tab_cont .tab_part ul li .circle {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #012530;
  color: #fff;
  -o-border-radius: 80%;
  -webkit-border-radius: 80%;
  -moz-border-radius: 80%;
  border-radius: 80%;
  left: 0px;
  top: 0px;
}
.tab_fl_tab_cont .tab_part ul li .circle .circle_in {
  position: absolute;
  background: #094350;
  color: #567b82;
  width: 30px;
  height: 30px;
  -o-border-radius: 80%;
  -webkit-border-radius: 80%;
  -moz-border-radius: 80%;
  border-radius: 80%;
  left: 5px;
  top: 5px;
  text-align: center;
  padding-top: 6px;
}
.left_filter .range_slid {
  float: left;
  width: 60%;
}
.left_filter .range_slid h3 {
  color: #fff;
  margin: 0px;
  padding: 0px;
  font-size: 17px;
}
.left_filter .range_slid .range_base {
  float: left;
  width: 100%;
  background: #106580;
  height: 6px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-top: 20px;
  position: relative;
}
.left_filter .range_slid .range_base .range_spot1 {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #0f99b5;
  -o-border-radius: 80%;
  -webkit-border-radius: 80%;
  -moz-border-radius: 80%;
  border-radius: 80%;
  left: 0px;
  top: -7px;
}
.left_filter .range_slid .range_base .range_spot2 {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #0f99b5;
  -o-border-radius: 80%;
  -webkit-border-radius: 80%;
  -moz-border-radius: 80%;
  border-radius: 80%;
  left: 25%;
  top: -7px;
}
.left_filter .fare_type {
  float: left;
  width: 40%;
  padding: 0px 15px;
}
.left_filter .fare_type h3 {
  color: #fff;
  margin: 0px;
  padding: 0px;
  font-size: 17px;
}
.left_filter .fare_type .refund_t {
  float: left;
  width: 100%;
  background: #18a8d6;
  color: #fff;
  padding: 5px 8px;
  -o-border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-align: center;
  margin-top: 8px;
  cursor: pointer;
}
.left_filter .fare_type .no_refund_t {
  float: left;
  width: 100%;
  background: #106580;
  color: #fff;
  padding: 5px 8px;
  -o-border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-align: center;
  margin-top: 8px;
  cursor: pointer;
}
.graph_div {
  float: left;
  width: 100%;
}
.graph_div .graph_in {
  float: left;
  width: 100%;
}
.graph_div .graph_in .g_text {
  float: left;
  width: 100%;
}
.graph_div .graph_in .g_text .g_t {
  float: left;
  width: 100%;
  padding: 5px 0px;
  font-size: 13px;
  color: #8baab3;
  border-bottom: solid 1px #0f4454;
}
.graph_div .graph_in .grh_div {
  float: left;
  width: 100%;
  min-height: 230px;
  padding-top: 30px;
}
.graph_div .graph_in .grh_div ul {
  margin: 0px;
  padding: 0px;
  float: left;
  width: 100%;
}
.graph_div .graph_in .grh_div ul li {
  float: left;
  position: relative;
  height: 145px;
  list-style-type: none;
  width: calc(8.33333333%);
}
.graph_div .graph_in .grh_div ul li .bar_height {
  float: left;
  width: 30px;
  position: absolute;
  bottom: 0px;
  left: 10px;
  background: #0f99b5;
  height: 100%;
  -o-border-radius: 15px 15px 0px 0px;
  -webkit-border-radius: 15px 15px 0px 0px;
  -moz-border-radius: 15px 15px 0px 0px;
  border-radius: 15px 15px 0px 0px;
  cursor: pointer;
}
.graph_div .graph_in .grh_div ul li .bar_height:hover {
  background: #fff;
}
.graph_div .graph_in .grh_div ul li .bar_height:hover .bar_text {
  visibility: visible;
  opacity: 1;
}
.graph_div .graph_in .grh_div ul li .bar_height .botm_text_circle {
  width: 44px;
  height: 44px;
  background: #012530;
  position: absolute;
  bottom: -30px;
  left: -7px;
  -o-border-radius: 80%;
  -webkit-border-radius: 80%;
  -moz-border-radius: 80%;
  border-radius: 80%;
}
.graph_div .graph_in .grh_div ul li .bar_height .botm_text_circle .botm_text {
  position: absolute;
  top: 6px;
  left: 4px;
  width: 35px;
  height: 35px;
  background: #0f99b5;
  color: #fff;
  padding-top: 8px;
  text-align: center;
  -o-border-radius: 80%;
  -webkit-border-radius: 80%;
  -moz-border-radius: 80%;
  border-radius: 80%;
}
.graph_div .graph_in .grh_div ul li .bar_height .bar_text {
  width: 115px;
  height: 58px;
  background: #fff;
  position: absolute;
  top: -70px;
  -o-transform: translateX(-35%);
  -moz-transform: translateX(-35%);
  -webkit-transform: translateX(-35%);
  transform: translateX(-35%);
  -o-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.graph_div .graph_in .grh_div ul li .bar_height .bar_text:before {
  content: "";
  border-top: solid 8px #fff;
  border-left: solid 8px transparent;
  border-right: solid 8px transparent;
  position: absolute;
  bottom: -8px;
  left: 43%;
}
.graph_div .graph_in .grh_div ul li .bar_height .bar_text .bar_t_small {
  float: left;
  width: 100%;
  text-align: center;
  font-size: 12px;
  padding: 6px 0px 4px;
  color: #808080;
}
.graph_div .graph_in .grh_div ul li .bar_height .bar_text .bar_t_big {
  float: left;
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}
.graph_div .graph_in .grh_div ul li .bar_height .bar_text .bar_t_big .t_black {
  color: #000;
}
.graph_div .graph_in .grh_div ul li .bar_height .bar_text .bar_t_big .t_bluek {
  color: #18a8d6;
}
.graph_div .graph_in .grh_div .graph_botm {
  width: 100%;
  height: 30px;
  margin-top: 42px;
  position: relative;
  float: left;
  text-align: center;
}
.graph_div .graph_in .grh_div .graph_botm span {
  display: inline-flex;
  position: relative;
  z-index: 11;
  background: #012530;
  padding: 2px 13px 0;
  color: #a9a9a9;
}
.graph_div .graph_in .grh_div .graph_botm:before {
  position: absolute;
  content: "";
  width: 80%;
  height: 1px;
  background: #083f50;
  left: 10%;
  top: 10px;
}
.listing_page {
  float: left;
  width: 100%;
}
.listing_page .list_d {
  float: left;
  width: 100%;
  background: #e5e5e5;
  height: auto;
  padding: 5px 5px;
  margin-bottom: 10px;
}
.listing_page .list_d .list_d_in {
  float: left;
  width: 100%;
  display: table;
}
.listing_page .list_d .col1 {
  width: 12%;
  padding-top: 30px;
  display: table-cell;
  vertical-align: top;
}
.listing_page .list_d .col1 .name_pro {
  font-size: 15px;
  float: left;
  width: 100%;
  text-align: center;
}
.listing_page .list_d .col1 .name_pro_round {
  font-size: 13px;
  float: left;
  width: 100%;
  text-align: center;
}
.listing_page .list_d .col1 .img_pro {
  width: 100%;
  float: left;
  text-align: center;
}
.listing_page .list_d .col1 .img_pro img {
  max-width: 35px;
  max-height: 100%;
}
.listing_page .list_d .col1 .img_pro_roundT {
  width: 100%;
  float: left;
  text-align: center;
  padding-top: 5px;
}
.listing_page .list_d .col1 .img_pro_roundT img {
  max-width: 70px;
  max-height: 100%;
}
.listing_page .list_d .col2 {
  vertical-align: middle;
  width: 70%;
  display: table-cell;
  position: relative;
}
.listing_page .list_d .col2:before {
  position: absolute;
  width: 1px;
  height: 80%;
  background: #d2d2d2;
  top: 10%;
  right: -5px;
  content: "";
}
.listing_page .list_d .col2 .pro_detail {
  float: left;
  width: 100%;
  padding: 30px 0px;
}
.listing_page .list_d .col2 .pro_detail .text_left {
  float: left;
  width: 22%;
  padding-right: 15px;
}
.listing_page .list_d .col2 .pro_detail .text_left .depart_time {
  font-size: 17px;
  font-weight: 600;
  text-align: right;
  width: 100%;
}
.listing_page .list_d .col2 .pro_detail .text_left .depart_time span {
  font-weight: 100;
  color: #8e8e8e;
}
.listing_page .list_d .col2 .pro_detail .text_left .air_text {
  text-align: right;
  width: 100%;
  font-size: 18px;
  line-height: 25px;
  color: #8e8e8e;
  padding-top: 5px;
}
.listing_page .list_d .col2 .pro_detail .text_left_round {
  float: left;
  width: 25%;
  padding-right: 15px;
}
.listing_page .list_d .col2 .pro_detail .text_left_round .depart_time_round {
  font-size: 17px;
  font-weight: 600;
  text-align: right;
  width: 100%;
}
.listing_page .list_d .col2 .pro_detail .text_left_round .depart_place {
  float: left;
  width: 100%;
  text-align: right;
}
.listing_page .list_d .col2 .pro_detail .text_left_round .air_text_round {
  text-align: right;
  width: 100%;
  font-size: 13px;
  line-height: 18px;
  color: #8e8e8e;
  padding-top: 5px;
}
.listing_page .list_d .col2 .pro_detail .text_middle {
  float: left;
  width: 56%;
}
.listing_page .list_d .col2 .pro_detail .text_middle .mid_img {
  float: left;
  width: 100%;
  position: relative;
}
.listing_page .list_d .col2 .pro_detail .text_middle .mid_img .stop_detail {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  padding-top: 11px;
}
.listing_page .list_d .col2 .pro_detail .text_middle .mid_img .stop_detail ul {
  float: left;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.listing_page .list_d .col2 .pro_detail .text_middle .mid_img .stop_detail ul li {
  display: inline-block;
  padding: 10px 10px 0px;
}
.listing_page .list_d .col2 .pro_detail .text_middle .mid_img img {
  max-width: 100%;
}
.listing_page .list_d .col2 .pro_detail .text_middle_round {
  float: left;
  width: 50%;
}
.listing_page .list_d .col2 .pro_detail .text_middle_round .mid_img {
  float: left;
  width: 100%;
  position: relative;
}
.listing_page .list_d .col2 .pro_detail .text_middle_round .mid_img .stop_detail {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  padding-top: 11px;
}
.listing_page .list_d .col2 .pro_detail .text_middle_round .mid_img .stop_detail ul {
  float: left;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.listing_page .list_d .col2 .pro_detail .text_middle_round .mid_img .stop_detail ul li {
  display: inline-block;
  padding: 10px 10px 0px;
}
.listing_page .list_d .col2 .pro_detail .text_middle_round .mid_img img {
  max-width: 100%;
}
.listing_page .list_d .col2 .pro_detail .text_right {
  float: left;
  width: 22%;
  padding-left: 15px;
}
.listing_page .list_d .col2 .pro_detail .text_right .depart_time {
  font-size: 17px;
  font-weight: 600;
  text-align: left;
  width: 100%;
}
.listing_page .list_d .col2 .pro_detail .text_right .depart_time span {
  font-weight: 100;
  color: #8e8e8e;
}
.listing_page .list_d .col2 .pro_detail .text_right .air_text {
  text-align: left;
  width: 100%;
  font-size: 18px;
  line-height: 25px;
  color: #8e8e8e;
  padding-top: 5px;
}
.listing_page .list_d .col2 .pro_detail .text_right_round {
  float: left;
  width: 25%;
  padding-left: 15px;
}
.listing_page .list_d .col2 .pro_detail .text_right_round .arrive_time_round {
  font-size: 17px;
  font-weight: 600;
  text-align: left;
  width: 100%;
}
.listing_page .list_d .col2 .pro_detail .text_right_round .arrive_time_round span {
  font-weight: 100;
  color: #8e8e8e;
}
.listing_page .list_d .col2 .pro_detail .text_right_round .arrive_place {
  float: left;
  width: 100%;
  text-align: left;
}
.listing_page .list_d .col2 .pro_detail .text_right_round .air_text_round {
  text-align: left;
  width: 100%;
  font-size: 13px;
  line-height: 18px;
  color: #8e8e8e;
  float: left;
}
.listing_page .list_d .col3 {
  width: 18%;
  display: table-cell;
  vertical-align: middle;
}
.listing_page .list_d .col3 .price_n {
  float: left;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #000;
  padding-top: 5px;
}
.listing_page .list_d .col3 .price_n span {
  color: #18a8d6;
}
.listing_page .list_d .col3 .refundable {
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 6px;
}
.listing_page .list_d .col3 .refundable span {
  font-size: 14px;
  border: solid 2px #18a8d6;
  display: inline-flex;
  padding: 2px 8px;
  -o-border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.listing_page .list_d .list_foot {
  float: left;
  width: 100%;
  padding: 12px 0px 8px;
  border-top: solid 1px #d2d2d2;
  margin-top: 7px;
}
.listing_page .list_d .list_foot .list_f {
  float: right;
  margin: 0px;
  padding: 0px;
}
.listing_page .list_d .list_foot .list_f li {
  float: right;
  list-style-type: none;
  padding: 0px 5px;
}
.listing_page .list_d .list_foot .list_f li a {
  float: left;
  background: #18a8d6;
  color: #fff;
  padding: 5px 12px;
  -o-border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-decoration: none;
}
/******************new popup*********************/
.popup_new_close {
  width: 30px;
  height: 30px;
  color: #fff;
  position: absolute;
  right: 10px;
  top: -21px;
  cursor: pointer;
}
.popup_new_close:before {
  position: absolute;
  width: 20px;
  height: 2px;
  content: "";
  left: 5px;
  top: 14px;
  -o-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #fff;
}
.popup_new_close:after {
  position: absolute;
  width: 20px;
  height: 2px;
  content: "";
  left: 5px;
  top: 14px;
  -o-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background: #fff;
}
.popup_top_head {
  float: left;
  width: 100%;
  background: #0f99b5;
  color: #fff;
  padding: 15px 15px;
  -webkit-box-shadow: 3px 3px 5px 0px #000;
  -moz-box-shadow: 3px 3px 5px 0px #000;
  box-shadow: 3px 3px 5px 0px #000;
}
.pop_new_content_bg {
  float: left;
  width: 100%;
  padding: 0px 20px;
}
.pop_new_content {
  float: left;
  background: #0b4d5b;
  width: 100%;
  height: auto;
  -webkit-box-shadow: 3px 3px 5px 0px #000;
  -moz-box-shadow: 3px 3px 5px 0px #000;
  box-shadow: 3px 3px 5px 0px #000;
}
.popup_tab {
  float: left;
  width: 100%;
  padding: 15px 20px 0px;
  border-bottom: solid 1px #0b87af;
}
.popup_tab ul {
  margin: 0px;
  padding: 0px;
  width: 100%;
  float: left;
  list-style-type: none;
  text-align: center;
}
.popup_tab ul li {
  float: left;
  width: calc(20%);
  padding-right: 2px;
  margin: 0px;
}
.popup_tab ul li.active_t a {
  background: #18a8d6;
}
.popup_tab ul li a {
  float: left;
  width: 100%;
  padding: 6px 15px;
  background: #237f98;
  color: #fff;
  text-decoration: none;
  border-radius: 20px;
  min-width: 150px;
}
.pop_tabcontent {
  float: left;
  width: 100%;
  padding: 15px 20px;
}
.pop_tabcontent .tabcontent {
  float: left;
  width: 100%;
  padding: 5px 0px;
}
.pop_tabcontent .tab-title {
  float: left;
  width: 100%;
  background: #237f98;
  padding: 9px 10px;
  color: #fff;
}
.pop_tabcontent .tabcontent_box {
  float: left;
  width: 100%;
  background: #f5f5f5;
  height: auto;
}
.padding-left-0 {
  padding-left: 0px;
}
.fare_ul {
  float: left;
  width: 100%;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
.fare_ul li {
  float: left;
  width: 100%;
  padding: 6px 8px;
}
.fare_ul li span {
  width: 50%;
}
.fare_ul li .left {
  float: left;
}
.fare_ul li .right {
  float: right;
  text-align: right;
}
.total_fare {
  float: left;
  width: 100%;
  padding: 9px 10px;
}
.total_fare .t_fare {
  float: left;
  width: 100%;
  font-size: 22px;
  text-align: center;
}
.total_fare .t_fare_p {
  float: left;
  width: 100%;
  background: #0f99b5;
  color: #fff;
  padding: 7px 0px;
  font-size: 20px;
  text-align: center;
  -o-border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin-top: 8px;
}
.in_tab {
  float: left;
  width: 100%;
  padding: 10px 0px 0px;
}
.in_tab ul {
  float: left;
  width: 100%;
  text-align: center;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.in_tab ul li {
  display: inline-block;
  padding: 0px 5px;
}
.in_tab ul li a {
  float: left;
  width: 100%;
  padding: 4px 15px;
  background: #237f98;
  color: #fff;
  text-decoration: none;
  -o-border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.in_tabcontent {
  float: left;
  width: 100%;
}
.in_tabcontent .in_content {
  float: left;
  width: 100%;
}
.in_tabcontent .in_content .in_boxtab {
  float: left;
  width: 33.33%;
  padding: 5px 6px;
}
.in_tabcontent .in_t_box {
  float: left;
  width: 100%;
  height: 200px;
  border: solid 1px #237f98;
  background: #fff;
}
.in_tabcontent .in_t_box .in_title {
  background: #237f98;
  float: left;
  width: 100%;
  color: #fff;
  padding: 6px 0px;
  text-align: center;
}
.in_tabcontent .in_t_box .in_text {
  float: left;
  width: 100%;
  padding: 8px 5px;
  font-size: 10px;
  line-height: 15px;
}
.in_tabcontent .in_t_box .in_ul_div {
  float: left;
  width: 100%;
  padding: 0px 5px;
}
.in_tabcontent .in_t_box .in_ul_div ul {
  float: left;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.in_tabcontent .in_t_box .in_ul_div ul li {
  float: left;
  width: 100%;
  list-style-type: none;
  font-size: 11px;
  min-height: 38px;
}
.in_tabcontent .in_t_box .in_ul_div ul li .left {
  float: left;
  width: 60%;
  text-align: left;
}
.in_tabcontent .in_t_box .in_ul_div ul li .right {
  float: right;
  width: 40%;
  text-align: right;
}
.popup_btn {
  float: left;
  width: 100%;
  padding-top: 10px;
}
.popup_btn .popup_add_to_cart {
  float: right;
  padding: 6px 15px;
  background: #237f98;
  color: #fff;
  margin-right: 8px;
  -o-border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}
.popup_btn .popup_add_to_cart:hover {
  background: #18a8d6;
}
.popup_btn .popup_book_now {
  float: right;
  padding: 6px 15px;
  background: #237f98;
  color: #fff;
  -o-border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}
.popup_btn .popup_book_now:hover {
  background: #18a8d6;
}
.disclaimer {
  float: left;
  width: 100%;
  line-height: 18px;
}
.disclaimer h4 {
  font-size: 16px;
  color: #fff;
  float: left;
  width: 100%;
  margin: 0px 0px 8px;
  padding: 0px;
}
.disclaimer p {
  font-size: 13px;
  color: #c7c7c7;
  float: left;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.p_tab {
  display: none;
}
.active_new_tab {
  display: block !important;
}
/*************popup_aminities*******************/
.popup_aminities {
  float: left;
  width: 100%;
}
.popup_aminities .aminities_box {
  float: left;
  width: calc(25%);
  padding: 0px 15px;
}
.popup_aminities .aminities_box .aminities_text {
  float: left;
  background: #e5e5e5;
  width: 100%;
  height: auto;
  margin-top: 80px;
  -o-border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 10px;
  position: relative;
}
.popup_aminities .aminities_box .aminities_text .ami_big_text {
  float: left;
  width: 100%;
  font-size: 16px;
  text-align: center;
  padding-bottom: 2px;
  font-weight: 600;
}
.popup_aminities .aminities_box .aminities_text .ami_small_text {
  float: left;
  width: 100%;
  font-size: 13px;
  text-align: center;
  color: #a4a4a4;
}
.popup_aminities .aminities_box .aminities_text .amini_img {
  width: 120px;
  height: 120px;
  -o-border-radius: 80%;
  -webkit-border-radius: 80%;
  -moz-border-radius: 80%;
  border-radius: 80%;
  position: absolute;
  background: #e5e5e5;
  border: solid 4px #0b4d5b;
  top: -75px;
  left: 50%;
  padding-top: 20px;
  -o-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
/********************popup_aminities**************************/
/********************merchant**************************/
.max_height_merchant {
  float: left;
  width: 100%;
  max-height: 236px;
  overflow-y: auto;
  overflow-x: hidden;
}
.merchant_t {
  float: left;
  padding-bottom: 8px;
  width: 100%;
}
.merch_title {
  float: left;
  color: #fff;
  width: 100%;
}
.text-right {
  text-align: right;
}
.select_merchant {
  background: #efefef !important;
}
.select_merchant .emi_rate {
  color: #737373 !important;
}
.select_merchant .merchant_name,
.select_merchant .price_rate {
  color: #000 !important;
}
.merchant_row {
  float: left;
  width: 100%;
  background: #237f98;
  color: #fff;
  padding: 8px 0 10px;
  margin-bottom: 5px;
  cursor: pointer;
}
.merchant_row .seller_name {
  float: left;
  width: 100%;
}
.merchant_row .seller_name .merchant_icon {
  width: 30px;
  height: 30px;
  float: left;
  margin: 4px 8px 0px 0px;
}
.merchant_row .seller_name .merchant_icon img {
  max-width: 100%;
  height: 100%;
}
.merchant_row .seller_name .merchant_name {
  float: left;
  padding-top: 8px;
}
.merchant_row .merchant_price_n {
  float: left;
  width: 100%;
}
.merchant_row .merchant_price_n .price_rate {
  float: left;
  width: 100%;
  padding-top: 8px;
}
.merchant_row .merchant_price_n .emi_rate {
  float: left;
  width: 100%;
  color: #d0d0d0;
  font-size: 11px;
  line-height: 9px;
}
.merchant_row .merchant_rating {
  float: right;
  width: 106px;
  height: 19px;
  margin-top: 9px;
}
.merchant_row .merchant_rating .merchant_blank {
  float: left;
  width: 106px;
  height: 19px;
  background: url(../images/merchant_rating_b.png);
  position: relative;
}
.merchant_row .merchant_rating .merchant_blank .merchant_fill {
  position: absolute;
  height: 19px;
  background: url(../images/merchant_rating_f.png);
  left: 0px;
  top: 0px;
}
.view_more_merchant {
  float: left;
  width: 100%;
}
.view_more_merchant a {
  color: #fff;
  text-decoration: none;
}
.view_more_merchant a:hover {
  text-decoration: underline;
}
/********************merchant**************************/
/********************baggage_n**************************/
.baggage_n {
  float: left;
  width: 95%;
  padding-top: 25px;
}
.baggage_n .baggage_box {
  float: left;
  width: 33.33%;
  height: 140px;
}
.baggage_n .baggage_box .baggage_img {
  height: 110px;
  position: relative;
  float: left;
  width: 100%;
  border-bottom: solid 1px #18a8d6;
}
.baggage_n .baggage_box .baggage_img .bagg_plus {
  width: 50px;
  height: 50px;
  -o-border-radius: 80%;
  -webkit-border-radius: 80%;
  -moz-border-radius: 80%;
  border-radius: 80%;
  background: #18a8d6;
  position: absolute;
  right: -14px;
  bottom: 10px;
}
.baggage_n .baggage_box .baggage_img .bagg_plus:before {
  content: "";
  width: 22px;
  height: 2px;
  position: absolute;
  left: 14px;
  top: 24px;
  background: #fff;
}
.baggage_n .baggage_box .baggage_img .bagg_plus:after {
  content: "";
  width: 2px;
  height: 22px;
  position: absolute;
  left: 24px;
  top: 14px;
  background: #fff;
}
.baggage_n .baggage_box .baggage_img img {
  max-width: 80px;
  position: absolute;
  bottom: 0px;
}
.baggage_n .baggage_box .baggage_img .b_img1 {
  left: 0px;
}
.baggage_n .baggage_box .baggage_img .b_img2 {
  right: 20%;
}
.baggage_n .baggage_box .baggage_img .b_img3 {
  right: 0px;
}
.baggage_n .baggage_box .baggage_text {
  color: #bfbfbf;
  font-size: 13px;
  float: left;
  width: 100%;
  padding-top: 4px;
}
.baggage_n .baggage_box .t_left {
  text-align: left;
}
.baggage_n .baggage_box .t_center {
  text-align: center;
}
.baggage_n .baggage_box .t_right {
  text-align: right;
}
.baggage_tab {
  float: left;
  width: 100%;
  background: #237f98;
}
.baggage_tab ul {
  margin: 0px;
  padding: 0px;
  float: left;
  list-style-type: none;
}
.baggage_tab ul li {
  float: left;
}
.baggage_tab ul li.active_t a {
  border-bottom: solid 4px #18a8d6;
}
.baggage_tab ul li a {
  float: left;
  width: 100%;
  color: #fff;
  padding: 9px 15px;
  text-decoration: none;
}
.baggage_dtail {
  float: left;
  width: 100%;
  padding: 15px 15px;
  min-height: 124px;
}
.baggage_dtail .bag_row {
  float: left;
  width: 100%;
  padding: 7px 0;
  border-bottom: solid 1px #eaeaea;
}
.baggage_dtail .bag_row:last-child {
  border-bottom: none;
}
.baggage_dtail .bag_row .bagg_col_l {
  float: left;
  width: 50%;
}
.baggage_dtail .bag_row .bagg_col_r {
  float: left;
  width: 50%;
  text-align: right;
}
.right_p {
  right: -38px !important;
}
/********************baggage_n**************************/
.top_flight_detail {
  float: left;
  width: 100%;
  padding: 0px 23px;
  color: #fff;
}
.top_flight_detail .popup_derart_place,
.top_flight_detail .popup_arrive_place {
  float: left;
  padding: 31px 10px 10px;
  line-height: 15px;
}
.top_flight_detail .popup_derart_place span,
.top_flight_detail .popup_arrive_place span {
  font-size: 11px;
  color: #cacaca;
}
.top_flight_detail .popup_flight_icon {
  float: left;
  width: 50%;
  height: auto;
  margin-top: 15px;
  margin-bottom: 10px;
}
.top_flight_detail .popup_flight_icon img {
  max-width: 100%;
}
.per_price {
  font-size: 25px;
  float: right;
  padding-top: 20px;
}
.per_price .price_b {
  float: left;
  width: 100%;
  text-align: right;
  padding-bottom: 4px;
}
.per_price span {
  font-size: 12px;
  text-align: right;
  float: left;
  width: 100%;
}
/******************new popup*********************/
/******************checkout*********************/
.checkout_top {
  float: left;
  width: 100%;
  height: auto;
  background: #0f99b5;
  padding-top: 25px;
  padding-bottom: 25px;
}
.checkout_top .left_flight_detail {
  float: left;
  padding: 20px 20px 0px 15px;
}
.checkout_top .left_flight_detail .big_text {
  display: block;
  width: 100%;
  color: #fff;
  font-size: 1.3em;
}
.checkout_top .left_flight_detail .small_text {
  display: block;
  width: 100%;
  color: #fff;
  font-size: 0.9em;
}
.checkout_top .middle_flight_detail {
  float: left;
  width: 60%;
  position: relative;
}
.checkout_top .middle_flight_detail img {
  max-width: 100%;
}
.checkout_top .right_flight_detail {
  float: left;
  padding: 20px 20px 0px 15px;
}
.checkout_top .right_flight_detail .big_text {
  display: block;
  width: 100%;
  color: #fff;
  font-size: 1.3em;
}
.checkout_top .right_flight_detail .small_text {
  display: block;
  width: 100%;
  color: #fff;
  font-size: 0.9em;
}
.checkout_top .che_top_left {
  float: left;
  width: 80%;
  padding: 0px 20px;
}
.checkout_top .che_top_right {
  float: left;
  width: 20%;
}
.checkout_top .che_top_right .cheang_flight_btn {
  float: right;
  padding: 8px 25px;
  background: #fff;
  color: #11a3c3;
  -o-border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin: 20px 30px 0px 0px;
  text-decoration: none;
}
.checkout_padding {
  padding-top: 63px;
}
.checkout_step {
  float: left;
  width: 100%;
  height: 80px;
  text-align: center;
  position: relative;
  padding-top: 14px;
}
.checkout_step:after {
  content: "";
  width: 100%;
  height: 1px;
  background: #064052;
  position: absolute;
  top: 50%;
  left: 0px;
  z-index: 8;
}
.checkout_step ul {
  display: inline-flex;
  position: relative;
  padding: 0px;
  z-index: 9;
}
.checkout_step ul li {
  width: 60px;
  height: 60px;
  background: #012530;
  display: inline-block;
  padding: 0 5px;
}
.checkout_step ul li.active span {
  background: #0f99b5;
}
.checkout_step ul li span {
  width: 50px;
  height: 50px;
  display: block;
  background: #065f71;
  -o-border-radius: 80%;
  -webkit-border-radius: 80%;
  -moz-border-radius: 80%;
  border-radius: 80%;
  color: #fff;
  padding-top: 17px;
  font-size: 19px;
}
.checkout_page {
  float: left;
  width: 100%;
  height: 300px;
}
.checkout_page .check_book_div {
  float: left;
  width: 100%;
}
.checkout_page .check_book_div .check_book_title {
  float: left;
  width: 100%;
  background: #0f99b5;
  padding: 12px 18px;
  color: #fff;
}
.checkout_page .check_book_div .check_detail_white_box {
  float: left;
  width: 100%;
  height: 150px;
  background: #e5e5e5;
}
.checkout_page .check_book_div .check_detail_white_box .checkout_flight_n {
  float: left;
  width: 100%;
}
.checkout_page .check_book_div .check_detail_white_box .checkout_flight_n .checkout_fl_detail_row1 {
  float: left;
  width: 100%;
}
.checkout_page .check_book_div .check_detail_white_box .checkout_flight_n .checkout_fl_detail_row1 .show_trip_type {
  float: left;
  padding: 4px 13px;
  min-width: 100px;
  font-size: 13px;
  text-align: center;
  color: #fff;
  background: #18a8d6;
  border-radius: 15px 15px;
  margin: 8px 0px;
}
.checkout_page .check_book_div .check_detail_white_box .checkout_flight_n .checkout_fl_detail_row1 .total_time {
  float: right;
  padding-top: 18px;
}
.checkout_page .check_book_div .check_detail_white_box .checkout_flight_n .checkout_fl_detail_row1 .total_time span {
  color: #9c9c9c;
  margin-right: 5px;
}
/******************checkout*********************/