﻿@import "variable.less";
body {
    margin: 0;
    padding: 0;
    line-height: 20px;
    .active{
        display:block!important;
    }

    .calendar_main {
        width: 500px;
        height: auto;
        font-family: 'Open Sans',sans-serif;
        display:none;

        .calendar_main_box {
            float: left;
            width: 100%;

            .calendar_head {
                float: left;
                width: 100%;
                height: 40px;
                background: #2e2d2d;
            }

            .calendar_body {
                float: left;
                width: 100%;

                .calendar_left {
                    width: 25%;
                    float: left;
                    height: 343px;
                    background: #0f8197;

                    .calendar_month {
                        float: left;
                        width: 100%;

                        ul {
                            margin: 0;
                            padding: 0;
                            float: left;
                            list-style-type: none;
                            position: relative;

                            li {
                                float: left;
                                width: 100%;
                                position: relative;
                                z-index: 9;
                                height: 29px;

                                a {
                                    float: left;
                                    width: 100%;
                                    display: block;
                                    font-size: 13px;
                                    color: #fff;
                                    text-decoration: none;
                                    padding: 4px 5px 4px 25px;
                                    height: 29px;
                                    box-sizing: border-box;
                                }

                                &.active {
                                    position: absolute;
                                    z-index: 8;
                                    height: 28px;
                                    width: 100%;
                                    background: rgba(0,0,0,.6);
                                    top: 0;
                                    left: 0;

                                    &:before {
                                        position: absolute;
                                        content: "";
                                        width: 4PX;
                                        height: 100%;
                                        background:#e04c5a;
                                       /* border-left: solid 14px #ff6a00;
                                        border-top: solid 14px transparent;
                                        border-bottom: solid 14px transparent;*/
                                    }
                                }
                                &:nth-child(12) a{
                                    padding: 0px 5px 4px 25px;
                                }
                            }
                        }
                    }
                }

                .calendar_right {
                    float: right;
                    width: 75%;
                    .cal-small-month{
                        position:absolute;
                        left:21px;
                        top:0px;
                    }
                    .days_title {
                        float: left;
                        width: 100%;
                        padding-right: 33px;
                        box-sizing: border-box;
                        background: #001a22;
                        .cal-head {
                            float: left;
                            margin: 0;
                            padding: 0;
                            width: 100%;
                           

                            div {
                                text-transform: uppercase;
                                color:#fff;
                                padding: 8px 0px 9px;
                                float:left;
                                width:calc(100% / 7);
                                text-align:center;
                                font-size:12px;
                            }
                        }
                    }
                }

                .calendar_month_div {
                    float: left;
                    width: 100%;
                    height: 307px;
                    background: #eaeaea;
                    overflow-x: hidden;
                    overflow-y: scroll;
                    .calendar_month_div_in{
                        float:left;
                        width:100%;
                    }
                    .calender_month {
                        float: left;
                        width: 100%;
                        height: auto;
                        background: #001a22;
                        padding: 0px 15px 0 8px;
                        position: relative;
                        box-sizing: border-box;

                        .cal_month {
                            position: absolute;
                            top: 5px;
                            left: 5px;
                            color: #fff;
                        }

                        .calender_month_tbl {
                            float: left;
                            width: 100%;

                            table {
                                margin: 0;
                                padding: 0;
                                width: 100%;
                                border-collapse: collapse;

                                td {
                                    text-align: center;
                                    padding: 3px 3px;

                                    .cal-day {
                                        display: block;
                                        color: #fff;
                                        text-decoration: none;
                                        height: 45px;
                                        box-sizing: border-box;
                                        .transition(0.3s);

                                        &:hover{
                                            background:#2da9c4;
                                        }

                                        span {
                                            padding-top: 15px;
                                            display: block;
                                        }
                                    }
                                    .cal-disable{
                                        .cal-inner{
                                        opacity:0.4;
                                        }
                                        
                                        &:hover{
                                            background:none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
