﻿@import "variable.less";
.cart_page{
    float:left;
    width:100%;
    height:500px;
    
    margin-bottom:15px;
    .page_name{
    h3{
        float:left;
        width:100%;
        padding:8px 0px 15px;
        border-bottom:solid 1px #033949;
        margin:0;
        font-family:@font;
        font-size:18px;
        color:#fff!important;
        span{
            opacity:0.8;
        }
    }
    }
    .cart_head{
        float:left;
        width:100%;
        background:#033241;
        height:auto;
        .c_head_text{
            float:left;
            width:100%;
            color:#fff;
            padding:12px 0;
            font-family:@font;
            font-size:14px;
            text-transform:uppercase;
            span{
                opacity:0.8;
            }
        }
    }
    .item_div{
        float:left;
        width:100%;
        padding:15px 0;
        border-bottom:solid 1px #053443;
        &:last-child{
            border-bottom:none;
        }
        .item_n{
            float:left;
            width:100%;
            
            .item_img{
                float:left;
                width:100%;
               
                img{
                    width:35px;
                    height:35px;
                }
            }
            .item_text{
                float:left;
                width:100%;
                
                color:#fff;
                font-size:12px;
                font-family:@font;
                padding-top:3px;
                span{
                    opacity:0.8;
                }
            }
        }
        .service_item{
            float:left;
            width:100%;
            color:#fff;
                font-size:14px;
                font-family:@font;
                padding-top:10px;
                span{
                    opacity:0.8;
                }

        }
        .item_itinerary{
            float:left;
            width:100%;
            padding-top:3px;
            .item_itin{
                float:left;
                width:100%;
                font-family:@font;
                font-size:16px;
                color:#fff;
                span{
                    opacity:0.7;
                }
                i{
                  opacity:0.7;
                  margin:0 8px;
                }
            }
            .item_text_in{
                float:left;
                width:100%;
                font-family:@font;
                font-size:12px;
                color:#fff;
                span{
                    opacity:0.7;
                }
            }
        }
        .item_t_detail{
            float:left;
                width:100%;
                font-family:@font;
                font-size:15px;
                color:#fff;
                span{
                    opacity:0.7;
                }
                .item_d1{
                    float:left;
                    width:45%;
                    span{
                        float:left;
                        width:100%;
                    }
                    .font_12{
                        font-size:12px;
                    }
                }
                .clock_d{
                    float:left;
                    width:10%;
                    i{
                        font-size:20px;
                        opacity:0.7;
                    }
                }
        }
        .item_person{
           float:left;
                width:100%;
                font-family:@font;
                font-size:15px;
                color:#fff;
                span{
                    opacity:0.7;
                }
        }
        .item_price{
            float:left;
                width:100%;
                font-family:@font;
                font-size:20px;
                color:#fff;
                font-weight:600;
                 span{
                    opacity:0.7;
                }
        }
        .item_close{
            float:left;
            width:100%;
            .close_it{
                width:25px;
                height:25px;
                background:#f00;
                float:left;
                .border-radius(50%);
                color:#fff;
                font-size:19px;
                text-align:center;
                cursor:pointer;
            }
        }
    }
}