﻿@import "variable.less";

.check_out_page {
    float: left;
    width: 100%;
    margin-bottom: 20px;

    .tab_no {
        float: left;
        width: 100%;
        position: relative;
        margin: 35px 0px 65px 0;

        &::after {
            content: "";
            width: 100%;
            height: 1px;
            background: #095e6f;
            position: absolute;
        }

        .step_1 {
            position: absolute;
            left: 0;
            width: 53px;
            height: 53px;
            background: #1aa5c1;
            top: -27px;
            z-index: 9;
            .border-radius(100%);
            color: #fff;
            text-align: center;
            font-size: 22px;
            padding-top: 17px;
            span{
                position:absolute;
                color:#1aa5c1;
                font-family:@font;
                font-size:14px;
                bottom:-24px;
                left:0;
            }
             &.active{
                background: #c23d4a;
                span{
                    color:#c23d4a;
                }
            }
        }

        .step_2 {
            position: absolute;
            left: 32%;
            margin-left: -26px;
            width: 53px;
            height: 53px;
            background: #1aa5c1;
            top: -27px;
            z-index: 9;
            .border-radius(100%);
            color: #fff;
            text-align: center;
            font-size: 22px;
            padding-top: 17px;
            span{
                position:absolute;
                color:#1aa5c1;
                font-family:@font;
                font-size:14px;
                bottom:-24px;
                left:0;
            }
            &.active{
                background: #c23d4a;
                span{
                    color:#c23d4a;
                }
            }
        }

        .step_3 {
            position: absolute;
            left:65%;
            margin-left: -26px;
            width: 53px;
            height: 53px;
            background: #1aa5c1;
            top: -27px;
            z-index: 9;
            .border-radius(100%);
            color: #fff;
            text-align: center;
            font-size: 22px;
            padding-top: 17px;
            span{
                position:absolute;
                color:#1aa5c1;
                font-family:@font;
                font-size:14px;
                bottom:-24px;
                left:0;
            }
             &.active{
                background: #c23d4a;
                span{
                    color:#c23d4a;
                }
            }
        }
        
        .step_4 {
            position: absolute;
            right: 0;
            margin-left: -26px;
            width: 53px;
            height: 53px;
            background: #1aa5c1;
            top: -27px;
            z-index: 9;
            .border-radius(100%);
            color: #fff;
            text-align: center;
            font-size: 22px;
            padding-top: 17px;
            span{
                position:absolute;
                color:#1aa5c1;
                font-family:@font;
                font-size:14px;
                bottom:-24px;
                left:0;
            }
             &.active{
                background: #c23d4a;
                span{
                    color:#c23d4a;
                }
            }
        }
    }

    .page_box_div {
        float: left;
        width: 100%;
        display: none;

        &.active {
            display: block !important;
        }

        &.pay_active {
            display: block !important;
        }
    }

    .page_box {
        float: left;
        width: 100%;
        height: auto;
        padding-bottom: 10px;

        .page_head {
            float: left;
            width: 100%;
            background: #023b4c;
            .border-radius(4px 4px 0 0);
            padding: 9px 10px 9px 15px;
            font-family: @font;
            font-size: 17px;
            font-weight: 300;

            span {
                color: #fff;
                opacity: 0.8;
            }
        }

        .page_content {
            float: left;
            width: 100%;
            padding: 10px 10px;
            background: #002029;

            .pro_box {
                float: left;
                width: 100%;
                border-bottom: solid 1px #042b38;
                margin-bottom: 10px;
                padding-bottom: 6px;
                .pro_box_in{
                    float:left;
                    width:100%;
                }
                .padding_top_bottom{
                    padding:50px 0;
                }
                .btn_pay{
                    float:left;
                    width:33.33%;
                    text-align:center;
                    a{
                        display:inline-block;
                       .border-radius(5px);
                        color:#fff;
                        text-decoration:none;
                        &:hover{
                            text-decoration:none;
                        }
                       
                    }
                    .pay_hold{
                     background:#c65e04 url(../images/pay_hold.png) no-repeat 10px center;
                      padding:19px 20px 19px 70px;
                    }
                      .pay_later{
                     background:#0b9783 url(../images/pay_later.png) no-repeat 10px center;
                      padding:19px 20px 19px 60px;
                    }
                       .asguest{
                     background:#c23d4a  url(../images/asguest.png) no-repeat  10px center;
                      padding:19px 20px 19px 60px;
                    }
                }

                &:last-child {
                    border-bottom: none;
                    margin-bottom: 0px;
                    padding-bottom: 0px;
                }

                  .layover_div {
                                    float: left;
                                    width: 100%;
                                    padding: 10px 10px;

                                    .layover_con {
                                        background: #022a36;
                                        float: left;
                                        width: 100%;
                                        padding: 7px 0px;
                                        .border-radius(15px);
                                        border: dashed 1px #04465a;
                                        text-align: center;
                                        color: #fff;

                                        .layover_text {
                                            opacity: 0.7;
                                            font-family: @font;
                                            font-size: 12px;
                                            font-weight: 400;

                                            span {
                                                font-weight: 600 !important;
                                                color: #ff5400;
                                                font-size: 13px;
                                            }
                                        }
                                    }
                                }

                .pro_head {
                    float: left;
                    width: 100%;

                    .depart_st {
                        float: left;
                        background: #012530;
                        color: #fff;
                        padding: 6px 10px;
                        .border-radius(0 4px 4px 0);
                        font-family: @font;
                        text-transform: uppercase;
                        font-size: 12px;
                        margin-left: -10px;
                        i{
                            margin-right:7px;
                        }
                    }
                    .return_st {
                        float: left;
                        background: #012530;
                        color: #fff;
                        padding: 6px 10px;
                        .border-radius(0 4px 4px 0);
                        font-family: @font;
                        text-transform: uppercase;
                        font-size: 12px;
                        margin-left: -10px;
                        i{
                            margin-right:7px;
                            .transform(rotate(-80deg));
                        }
                    }

                    .total_t {
                        float: right;
                        font-family: @font;
                        padding: 6px 8px 0px;
                        font-weight: 400;

                        span {
                            color: #fff;
                            opacity: 0.8;
                        }
                    }
                }

                .pro_content {
                    float: left;
                    width: 100%;

                    .pro_name {
                        float: left;
                        width: 18%;
                        height: auto;
                        text-align: center;

                        .pro_img {
                            float: left;
                            width: 100%;
                            padding: 10px 0px;
                        }

                        .pro_n {
                            float: left;
                            width: 100%;
                            text-align: center;

                            span {
                                float: left;
                                width: 100%;
                                text-align: center;
                                color: #fff;
                                opacity: 0.8;
                            }

                            .small_t {
                                font-size: 11px;
                            }
                        }
                    }
                }

                .pro_detail {
                    float: left;
                    width: 82%;
                    height: auto;
                    font-family: @font;

                    .pro_left, .pro_right {
                        float: left;
                        width: 25%;
                        height: auto;

                        .form_d {
                            float: left;
                            width: 100%;

                            .from_name {
                                float: left;
                                width: 100%;
                                color: #fff;
                                opacity: 0.8;
                                padding: 3px 0;
                            }

                            .name_time {
                                float: left;
                                width: 100%;
                                opacity: 0.8;

                                span {
                                    color: #ff5400;
                                    padding: 3px 5px 3px 0px;
                                    font-weight: bold;
                                    font-size: 17px;

                                    & + span {
                                        padding: 3px 0px 3px 5px;
                                    }
                                }
                            }

                            .day_time {
                                float: left;
                                width: 100%;
                                color: #fff;
                                opacity: 0.6;
                                padding: 2px 0 0px;
                                font-size: 11px;
                            }

                            .air_port {
                                float: left;
                                width: 100%;
                                color: #fff;
                                opacity: 0.6;
                                font-size: 12px;
                            }
                        }
                    }

                    .pro_middle {
                        float: left;
                        width: 50%;
                        padding-right: 32px;
                        height: auto;

                        .pro_middle_d {
                            float: left;
                            width: 100%;
                            text-align: center;

                            ul {
                                margin: 12px 0px 0px 0px;
                                padding: 0;
                                list-style-type: none;
                                display: inline-block;
                                text-align: center;

                                li {
                                    display: inline-block;
                                    color: #fff;
                                    opacity: 0.7;
                                    padding-left: 12px;
                                    position: relative;
                                    font-family: @font;
                                    font-weight: 300;

                                    i {
                                        margin-right: 4px;
                                    }

                                    &:after {
                                        content: "";
                                        position: absolute;
                                        width: 1px;
                                        height: 13px;
                                        background: #fff;
                                        left: 5px;
                                        top: 4px;
                                    }

                                    &:first-child::after {
                                        display: none;
                                    }
                                }
                            }
                        }

                        .fl_icon_d {
                            float: left;
                            width: 100%;
                            position: relative;

                            .icon_fl {
                                width: 100%;
                                float: left;
                                opacity: 0.8;
                                margin-top: 19px;

                                .border_line {
                                    width: 100%;
                                    height: 1px;
                                    background: #095f7b;
                                    position: absolute;
                                    top: 18px;
                                    z-index: 9;

                                    i {
                                        position: absolute;
                                        left: 50%;
                                        top: -6px;
                                        color: #095f7b;
                                        .transform(rotate(30deg) translateX(-50%));
                                    }
                                }

                                &:before {
                                    content: "";
                                    position: absolute;
                                    left: 0;
                                    top: 14px;
                                    width: 9px;
                                    height: 9px;
                                    background: #095f7b;
                                    z-index: 12;
                                }

                                &:after {
                                    content: "";
                                    position: absolute;
                                    right: 0;
                                    top: 14px;
                                    width: 9px;
                                    height: 9px;
                                    background: #095f7b;
                                    z-index: 12;
                                }
                            }
                        }
                    }
                }
            }

            .promo_code {
                float: left;
                width: 100%;

                .input_text {
                    float: left;
                    border: none;
                    background: #00171d;
                    padding: 10px 8px;
                    width: 50%;

                    &:focus {
                        outline: none;
                    }
                }

                .sub_btn {
                    padding: 10px 14px;
                    color: #fff;
                    background: #058ed1;
                    border: none;

                    &:focus {
                        outline: none;
                    }
                }

                .text_field {
                    padding: 9px 0px 0px 15px;
                }

                .page_tbl {
                    float: left;
                    width: 100%;

                    .text_field {
                        float: left;
                        width: 35%;
                        color: #fff;
                        opacity: 0.7;
                        font-family: @font;
                    }

                    .input_field {
                        float: left;
                        width: 65%;
                    }
                }

                .text_succces {
                    float: left;
                    width: 100%;
                    padding: 10px 10px 10px 40px;
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        left: 18px;
                        top: 11px;
                        width: 15px;
                        height: 8px;
                        border-left: solid 2px #02c217;
                        border-bottom: solid 2px #02c217;
                        .transform(rotate(-45deg));
                    }

                    span {
                        color: #ff5500;
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}

.continue {
    float: left;
    width: 100%;
    text-align: center;
    padding: 8px 0;

    a {
        padding: 8px 25px;
        background: #058ed1;
        color: #fff;
        font-family: @font;
        .border-radius(4px);
        text-decoration: none;
        .transition(0.3s);

        &:hover {
            background: #c23d4a;
        }
    }
}

.traveller_d {
    float: left;
    width: 100%;

    .traveller {
        float: left;
        width: 10%;
        color: #fff;
        padding: 9px 0 0 8px;

        span {
            opacity: 0.8;
        }
    }

    .travel_detail {
        float: left;
        width: 90%;




        .traveller_first_name {
            float: left;
            width: 34%;
            padding-right: 5px;

            .select_d {
                padding: 9px 8px 10px;
                border: none;
                background: #00171d;
                color: #fff;
                width: 25%;
                float: left;

                &:focus {
                    outline: none;
                }
            }

            .first_name {
                float: left;
                width: 75%;
                padding-left: 5px;

                .input_fl {
                    width: 100%;
                }
            }
        }

        .traveller_middle_name {
            float: left;
            width: 22%;
            padding-right: 5px;

            .input_fl {
                width: 100%;
            }
        }

        .traveller_last_name {
            float: left;
            width: 22%;
            padding-right: 5px;

            .input_fl {
                width: 100%;
            }
        }

        .traveller_dob {
            float: left;
            width: 22%;

            .input_fl {
                width: 100%;
            }
        }

        .passport_detail {
            float: left;
            width: 100%;
            padding: 12px 0 0 0px;

            .passport_text {
                float: left;
                width: 100%;
                color: #05cfff;
                margin-bottom: 10px;
                font-family: @font;

                span {
                    opacity: 0.7;
                    position: relative;
                    cursor: pointer;

                    &:after {
                        content: "";
                        width: 10px;
                        height: 10px;
                        border-left: solid 2px #05cfff;
                        border-bottom: solid 2px #05cfff;
                        position: absolute;
                        right: -20px;
                        top: 2px;
                        .transform(rotate(-45deg));
                    }
                }
            }

            .passport_detail_box {
                float: left;
                width: 100%;

                .pass_box_text {
                    float: left;
                    width: 100%;
                    font-family: @font;
                    padding-bottom: 10px;

                    span {
                        color: #fff;
                        opacity: 0.7;
                    }

                    .smal_text {
                        color: #467684;
                        font-size: 12px;
                    }
                }

                .pass_box_input {
                    float: left;
                    width: 100%;
                    padding-bottom: 10px;

                    .input_fl {
                        width: 100%;
                    }

                    .pass_box {
                        float: left;
                        width: 25%;
                    }

                    .pass_box_40 {
                        float: left;
                        width: 40%;
                    }

                    .pass_box_30 {
                        float: left;
                        width: 30%;
                    }

                    .one_div {
                        padding-right: 5px;
                    }

                    .two_div {
                        padding-right: 5px;
                    }

                    .three_div {
                        padding-right: 5px;

                        .select {
                            padding: 9px 8px 10px;
                            border: none;
                            background: #00171d;
                            color: #fff;
                            width: 100%;
                            float: left;

                            &:focus {
                                outline: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

.sep_line {
    float: left;
    width: 100%;
    height: 1px;
    background: #022d3a;
    margin: 10px 0;
}

.contact_detail {
    float: left;
    width: 100%;

    .contact_text {
        float: left;
        width: 15%;
        padding: 8px 0 0 5px;

        span {
            color: #fff;
            opacity: 0.7;
        }
    }

    .contact_input {
        float: left;
        width: 85%;

        .input_fl {
            width: 100%;
        }

        .first_div {
            float: left;
            width: 35%;
            padding-right: 7px;
        }

        .second_div {
            float: left;
            width: 35%;
        }

        .cont_text {
            float: left;
            width: 100%;
            padding: 5px 0;

            span {
                color: #467684;
                font-size: 12px;
            }
        }
    }
}

.pl_note {
    float: left;
    width: 100%;
    padding-top: 7px;

    .note_text {
        float: left;
        font-family: @font;
        font-weight: 500;
        color: #fff;
        padding-left: 7px;

        span {
            opacity: 0.8;
        }
    }

    ul {
        float: left;
        width: 100%;
        margin: 10px 0 0 0;

        li {
            padding: 3px 0;
            color: #35545d;
        }
    }
}

.margin_10 {
    margin: 10px 0;
}

.insurance_div {
    float: left;
    width: 100%;

    .insu_title {
        padding: 5px 0px 5px 5px;
        font-family: @font;
        color: #fff;

        img {
            margin-right: 8px;
        }

        span {
            text-transform: uppercase;
            opacity: 0.7;
        }
    }

    .insu_div {
        float: left;
        width: 100%;
        padding-left: 45px;
        position: relative;

        input[type="checkbox"] {
            display: none;
            opacity: 0;

            & + label {
                position: absolute;
                left: 6px;
                top: 3px;
                width: 25px;
                height: 25px;
                cursor: pointer;

                &:after {
                    width: 25px;
                    height: 25px;
                    background: none;
                    border: solid 2px #fff;
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    .transition(0.3s);
                }

                &:before {
                    content: "";
                    width: 18px;
                    height: 8px;
                    border-left: solid 2px #02c217;
                    border-bottom: solid 2px #02c217;
                    position: absolute;
                    left: 3px;
                    top: 6px;
                    .transform(rotate(-45deg));
                    opacity: 0;
                    .transition(0.3s);
                    z-index: 9;
                }
            }

            &:checked + label:after {
                background: #fff;
            }

            &:checked + label:before {
                opacity: 1;
            }
        }

        span {
            color: #fff;
            opacity: 0.7;

            a {
                color: #f16000;
            }
        }
    }
}

.Service_div {
    float: left;
    width: 100%;

    .service_tab {
        float: left;
        width: 100%;

        ul {
            float: left;
            margin: 0;
            padding: 0;
            list-style-type: none;

            li {
                float: left;
                margin-right: 10px;
                padding: 8px 15px;
                border: solid 1px #095e6f;
                color: #095e6f;
                cursor: pointer;

                &.active {
                    background: #fff;
                    border: solid 1px #fff;
                }
            }
        }
    }

    .service_tabcont {
        float: left;
        width: 100%;

        .ser_tab {
            float: left;
            width: 100%;
            display: none;

            &.active {
                display: block !important;
            }

            h3 {
                font-family: @font;
                font-size: 14px;
            }

            .ser_tab_box {
                float: left;
                width: 100%;
                margin-top: 10px;

                .tab_box {
                    float: left;
                    width: calc(100% / 3);

                    .de_part {
                        background: #022b38;
                        padding: 6px 10px 6px 30px;
                        color: #fff;
                        float: left;
                        .border-radius(3px);

                        span {
                            opacity: 0.8;
                            font-size: 12px;
                            text-transform: uppercase;
                        }
                    }

                    .re_turn {
                        background: #022b38;
                        padding: 6px 10px 6px 30px;
                        color: #fff;
                        float: left;
                        .border-radius(3px);

                        span {
                            opacity: 0.8;
                            font-size: 12px;
                            text-transform: uppercase;
                        }
                    }

                    .de_part_fl, .re_turn_fl {
                        float: left;
                        width: 100%;
                        padding-top: 8px;
                        padding-bottom: 8px;
                        padding-left: 10px;

                        span {
                            color: #fff;
                            text-transform: uppercase;
                            opacity: 0.7;
                        }

                        i {
                            color: #fff;
                            opacity: 0.7;
                            margin: 0px 3px 0px 3px;
                        }
                    }

                    .name {
                        color: #fff;
                        opacity: 0.7;
                        float: left;
                        text-align: right;
                        width: 100%;
                        padding-right: 15px;
                        padding-top: 10px;
                    }

                    .select {
                        width: 90%;
                    }
                }
            }
        }
    }
}

.fare_detail {
    float: left;
    width: 100%;

    ul {
        margin: 0;
        padding: 0;
        float: left;
        width: 100%;
        list-style-type: none;

        li {
            float: left;
            width: 100%;
            padding: 6px 0;
            border-bottom: solid 1px #02313e;
            font-family: @font;

            &:last-child {
                border-bottom: none;
            }

            .left {
                float: left;
                color: #fff;
                opacity: 0.7;
                max-width: 65%;

                &.fee_charge {
                    padding-left: 15px;
                    cursor: pointer;
                    position: relative;

                    &:before {
                        content: "";
                        width: 7px;
                        height: 7px;
                        position: absolute;
                        border-right: solid 1px #fff;
                        border-bottom: solid 1px #fff;
                        left: 0;
                        top: 6px;
                        .transform(rotate(-45deg));
                    }
                }

                .coupan_apl {
                    display: block;
                    background: #02c217;
                    color: #fff;
                    font-size: 12px;
                    font-family: @font;
                    padding: 3px 8px;
                    .border-radius(3px);
                    margin-top: 3px;
                }
            }

            .right {
                float: right;
                color: #fff;
                opacity: 0.7;
                max-width: 35%;
                font-family: @font;
                font-size: 15px;

                .remove_bt {
                    display: block;
                    background: #35545d;
                    color: #fff;
                    font-size: 12px;
                    font-family: @font;
                    padding: 3px 8px;
                    .border-radius(3px);
                    margin-top: 3px;
                }
            }
        }

        &.fee_datail {
            display: none;
        }
    }

    .you_pay {
        float: left;
        width: 100%;
        text-align: right;
        color: #fff;

        p {
            float: left;
            width: 100%;
            margin: 0;
            padding: 8px 8px 4px;
            opacity: 0.6;

            a {
                color: #1aa5c1;
                margin-top: 5px;
                float: right;
                &:focus{
                    outline:none;
                }
            }
        }

        .amount {
            font-size: 35px;
            font-family: @font;
        }
    }
}

.payment_method {
    float: left;
    width: 100%;

    .payment_type {
        float: left;
        width: 20%;

        .payment_ul {
            float: left;
            width: 100%;

            ul {
                margin: 0;
                padding: 0;
                float: left;
                width: 100%;
                height: auto;
                list-style-type: none;

                li {
                    float: left;
                    width: 100%;
                    padding: 13px 8px 13px 15px;
                    color: #fff;
                    background: #002731;
                    border-bottom: solid 1px #01313e;
                    border-top: solid 1px #00222b;
                    position: relative;
                    cursor: pointer;
                    font-family: @font;

                    span {
                        opacity: 0.7;
                    }

                    &:first-child {
                        border-top: none;
                    }

                    &:last-child {
                        border-bottom: none;
                    }

                    &:before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 5px;
                        height: 100%;
                        background: #022e3c;
                    }

                    &.active:before {
                        background: #1aa5c1;
                    }
                }
            }
        }
    }

    .payment_tab {
        float: left;
        width: 80%;
        padding: 8px 15px;

        .payment_tab_box {
            float: left;
            width: 100%;
            display: none;

            &.active {
                display: block !important;
            }

            .payment_box {
                float: left;
                width: 100%;
                margin-bottom: 15px;
                h3{
                    float:left;
                    width:100%;
                    margin:0;
                    padding:0;
                    font-family:@font;
                    font-size:15px;
                    font-weight:500;
                        color: #ff6a00;
                }

                .pay_now, .partial_pay {
                    float: left;
                    width: 35%;

                    input[type="radio"] {
                        display: none;
                        opacity: 0;

                        & + label {
                            position: relative;

                            &:before {
                                width: 20px;
                                height: 20px;
                                border: solid 2px #1aa5c1;
                                .border-radius(100%);
                                content: "";
                                position: absolute;
                                left: 0;
                                top: 11px;
                            }

                            &:after {
                                width: 12px;
                                height: 12px;
                                background: #1aa5c1;
                                .border-radius(100%);
                                content: "";
                                position: absolute;
                                left: 4px;
                                top: 15px;
                                .transition(0.3s);
                                opacity: 0;
                            }
                        }

                        &:checked + label:after {
                            opacity: 1;
                        }
                    }

                    label {
                        float: left;
                        padding-left: 30px;
                        font-family: @font;
                        font-weight: 400;
                        cursor: pointer;

                        span {
                            padding: 10px 15px;
                            min-width: 150px;
                            text-align: center;
                            float: left;
                            color: #fff;
                            background: #1aa5c1;
                        }
                    }
                }
                .net_bank{
                    float:left;
                    width:25%;
                    margin-bottom:12px;
                    input[type="radio"] {
                        display: none;
                        opacity: 0;

                        & + label {
                            position: relative;

                            &:before {
                                width: 20px;
                                height: 20px;
                                border: solid 2px #1aa5c1;
                                .border-radius(100%);
                                content: "";
                                position: absolute;
                                left: 4px;
                                top: 14px;
                            }

                            &:after {
                                width: 12px;
                                height: 12px;
                                background: #1aa5c1;
                                .border-radius(100%);
                                content: "";
                                position: absolute;
                                left: 8px;
                                top: 18px;
                                .transition(0.3s);
                                opacity: 0;
                            }
                        }

                        &:checked + label:after {
                            opacity: 1;
                        }
                    }
                    label {
                        float: left;
                        padding-left: 30px;
                        font-family: @font;
                        font-weight: 400;
                        cursor: pointer;
                        width:92%;

                        span {
                            padding: 10px 0px;
                            width:100%;
                            text-align: center;
                            float: left;
                            color: #fff;
                            background: #fff;
                        }
                    }
                }

                .pay_text {
                    float: left;
                    width: 100%;
                    color: #fff;
                    font-family: @font;
                    padding-bottom: 10px;

                    span {
                        opacity: 0.7;

                        .small_t {
                            font-size: 11px;
                            margin-left: 8px;
                        }
                        
                    }
                    .note_t{
                            font-size:13px;
                            padding-top:8px;
                            float:left;
                            width:100%;
                        }
                }

                .pay_input_box {
                    float: left;
                    width: 100%;
                    .card_img{
                        float:left;
                        width:50%;
                        padding-top:2px;
                    }
                    .pay_input {
                        float: left;
                        width: 45%;
                        padding-right: 8px;

                        .input_fl {
                            width: 100%;
                        }
                    }

                    .cardname_input {
                        float: left;
                        width: 60%;
                        padding-right: 8px;

                        .input_fl {
                            width: 100%;
                        }
                    }

                    .month_input, .year_input {
                        float: left;
                        width: 50%;
                        padding-right: 8px;

                        .select {
                            width: 100%;
                        }
                    }

                    .cvv_no {
                        float: left;
                        width: 50%;
                        padding-right: 8px;

                        .input_fl {
                            width: 100%;
                        }
                    }

                    .cvv_no_img {
                        float: left;
                        width: 50%;
                        position: relative;

                        .cvv_text {
                            position: absolute;
                            left: 72px;
                            top: 10px;
                            color: #fff;
                            font-family: @font;
                            opacity: .7;
                            font-size: 11px;
                            width: 107px;
                        }
                    }
                    .other_bank{
                        float:left;
                        width:60%;
                        .select {
                            width:100%;
                        }
                    }
                    .cardissu{
                         float:left;
                        width:60%;
                        .select {
                            width:100%;
                        }
                    }
                }

                .card_date_input {
                    float: left;
                    width: 30%;
                }
            }
        }
    }
}

.input_fl {
    padding: 9px 8px;
    border: none;
    background-color: #00171d;
    color: #fff;

    &:focus {
        outline: none;
    }

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #35545d;
    }

    &::-moz-placeholder { /* Firefox 19+ */
        color: #35545d;
    }

    &:-ms-input-placeholder { /* IE 10+ */
        color: #35545d;
    }

    &:-moz-placeholder { /* Firefox 18- */
        color: #35545d;
    }
}

.select {
    padding: 9px 8px 10px;
    border: none;
    background: #00171d;
    color: #fff;
    float: left;

    &:focus {
        outline: none;
    }
}
.modal-title{
    font-family:@font;
}
.mod_table{
   
    width:100%;
    margin:0;
    border-collapse:collapse;
    border-top:solid 1px #f1f1f1;
    border-left:solid 1px #f1f1f1;
    margin-bottom:15px;
    td{
        width:50%;
        font-family:@font;
           border-right:solid 1px #f1f1f1;
    border-bottom:solid 1px #f1f1f1;
    padding:8px 8px;
    font-weight:400;
    .fl_n{
        margin-right:8px;
        font-size:14px;
        position:relative;
        cursor:pointer;
        &:hover{
            color:#1aa5c1;
        }
        &:last-child:after{
            display:none;
        }
        &:after{
               content: "";
    position: absolute;
    right: -4px;
    top: 3px;
    width: 1px;
    height: 15px;
    background: #444;
        }
    }

    &:first-child{
        font-weight:600;
          font-size:13px;
    }
    &:nth-child(2){
        font-size:12px;
    }
    }
}
.per_person{
   
    width:100%;
}
.over_height{
    max-height:400px;
    overflow-y:auto;
}
.login_sep{
   
    width:100%;
    padding-bottom:4px;
    input[type="text"],input[type="password"]{
        width:100%;
        padding:7px 10px;
        border:solid 1px #dedede;
    }
}