﻿
/************dark_black_theme********/
@import "variable.less";

.dark_theme {
    @black: #000;
    @dark_gray: #1f1b1b;
    @dark_sec_3: #161517;
    @dark_serch: #3c3c3c;
    @dark_btn: #1b1b1b;
    @dark_btn_hover: #c23d4a;
    @white: #fff;
    @dar_h2_h3: #f8deab;
    @sec_5: #353535;
    @sec_6: #161517;
    @type_dash_border: #5d5d5d;
    @top_logo_row: #000;
     @filter_nav: #404040;
    @dpart_dbg: #232323;
    @dpart_dborder: #222222;
    @filter_div_border: #1a1a1a;
    @input_radio: #e4c20f;
    @book_btn_hover: #cfaf08;
    @book_btn: #c23d4a;
    @search_result_foot: #1d1d1d;
    @search_box_shadow: #010101;
    @search_result_detail: #303030;
    @tab_active: #ff6a00;

    .top_row_theme {
        background: @dark_gray;
    }

    .sec_3 {
        background: @dark_sec_3;

        h2 {
            color: #f8deab;
        }

        h3 {
            color: #f8deab;
        }
    }

    .page_banner {
        &:before {
            background: fade(@black, 55%);
        }
    }

    .top_logo_row {
        background: fade(@top_logo_row, 95%);
    }

    .search_page {
        background: fade(@dark_serch, 95%);

        .submit_btn {
            background: @dark_btn url(../images/search.png) no-repeat center center;

            &:hover {
                background: @dark_btn_hover url(../images/search.png) no-repeat center center;
            }
        }

        .select_trip_type, .passenger {
            border-bottom: dashed 1px @type_dash_border;
        }

        .tab_menu {
            ul {
                li {
                    a {
                        background: fade(@black,15%);

                        &:hover {
                            background: fade(@black,25%);
                        }
                    }
                }

                .active {
                    a {
                        /*background: #e04c5a;*/
                        background: @dark_btn;

                        &:hover {
                            background: @dark_btn_hover;
                        }
                    }
                }
            }
        }
    }

    .sec_4 {
        /*background:#0484a2;*/
        background: fade(@dark_serch, 95%);

        .get_app_btn {
            background: @dark_btn;

            &:hover {
                background: @dark_btn_hover;
            }

            &:focus {
                outline: none;
            }
        }
    }

    .sec_5 {
        background: @sec_5;
        height: auto;

        .text {

            h2 {
                color: #fff;
            }
        }

        .sign_up_btn {
            background: @dark_btn;

            &:hover {
                background: @dark_btn_hover;
            }
        }
    }

    .sec_6 {
        background: @sec_6;

        .footer_link {
            .foo_link {
                ul {
                    li {
                        a {
                            &:hover {
                                color: #e04c5a;
                            }
                        }
                    }
                }
            }
        }

        .foo_social {
            ul {
                li {
                    a {
                        .fa-facebook {
                            background: fade(@white,70%);
                            color: fade(@black,90%);

                            &:hover {
                                background: #003ed0;
                                color: @white;
                            }
                        }

                        .fa-twitter {
                            background: fade(@white,70%);
                            color: fade(@black,90%);

                            &:hover {
                                background: #00ade5;
                                color: @white;
                            }
                        }

                        .fa-linkedin {
                            background: fade(@white,70%);
                            color: fade(@black,90%);

                            &:hover {
                                background: #00a6e5;
                                color: @white;
                            }
                        }
                     .fa-instagram {
                            background: fade(@white,70%);
                            color: fade(@black,90%);

                            &:hover {
                                background: #464646;
                                color: @white;
                            }
                        }
                        .fa-pinterest {
                            background: fade(@white,70%);
                            color: fade(@black,90%);

                            &:hover {
                                background: #b52121;
                                color: @white;
                            }
                        }
                         .fa-youtube {
                            background: fade(@white,70%);
                            color: fade(@black,90%);

                            &:hover {
                                background: #cc4242;
                                color: @white;
                            }
                        }
                    }
                }
            }
        }
    }
     /**************filter_nav************/
    .filter_nav {
        background: fade(@filter_nav,80%);

        .filter_div {
            border-bottom: solid 1px fade(@filter_div_border,25%);

            .ul_radio li label {
                &:before {
                    border: solid 2px @white;
                }

                &:after {
                    background: @white;
                    visibility: hidden;
                    opacity: 0;
                }
            }

            .ul_radio li.active label {
                span {
                    color: @input_radio;
                }

                &:before {
                    border: solid 2px @input_radio;
                }

                &:after {
                    background: @input_radio;
                    visibility: visible;
                    opacity: 1;
                }
            }

            .ul_checkbox li label {
                &:before {
                    border: solid 2px @white;
                }

                &:after {
                    border-left: solid 2px @white;
                    border-bottom: solid 2px @white;
                    visibility: hidden;
                    opacity: 0;
                }
            }

            .ul_checkbox li.active label {
                &:before {
                    border: none;
                    background: none;
                    .transition(0.3s);
                }

                &:after {
                    border-left: solid 2px @white;
                    border-bottom: solid 2px @white;
                    visibility: visible;
                    opacity: 1;
                    .transition(0.3s);
                }
            }
        }
    }

    .depart_d {
        background: fade(@dpart_dbg,80%);
        border: solid 1px fade(@dpart_dborder,98%);

        &:first-child {
            border-left: solid 1px fade(@dpart_dborder,98%) !important;
        }
    }
    /********************filter_nav_close******************/
    /********************Search_result_page******************/
    .search_result_boxbg {
        .transition(0.3s);

        .search_result_box {
            background: @filter_nav;

            .air_line .img_d {
                border: solid 3px @filter_nav;
            }

            .text {
                color: #fff;
            }

            .book_btn {
                background: @book_btn;
                color: @white;
                .transition(0.3s);

                &:hover {
                    background: @book_btn_hover;
                }
            }
        }
        
        .search_result_foot {
            background: fade(@search_result_foot,90%);

            .dtl_btn {
                background: @filter_nav;
                .transition(0.3s);

                &:hover {
                    background: @book_btn_hover;
                }
            }
        }

        &:hover {
            .box-shadow(0 0 6px 3px @search_box_shadow);
        }

        .search_result_detail {
            background: @search_result_detail;

            .detail_tab ul li .active {
                &:before {
                    border-bottom: solid 5px @tab_active;
                    border-right: solid 5px transparent;
                    border-left: solid 5px transparent;
                }

                &:after {
                    background: @tab_active;
                }
            }

            .tbl_data ul li {
                border-bottom: solid 1px fade(@white,5%);
            }

            .tbl_data h3 {
                color: @tab_active;
            }

            .tab_right h3 {
                color: @tab_active;
            }
        }
        
    }
    /********************Search_result_page_close******************/
}
/************blue_theme********/


.blue_theme {
    @black: #000;
    @white: #fff;
    @dark_gray: #1f1b1b;
    @dark_sec_3: #012530;
    @dark_serch: #0fa1be;
    @dark_btn: #024856;
    @dark_btn_hover: #c23d4a;
    @white: #fff;
    @dar_h2_h3: #52a1b9;
    @sec_5: #12262b;
    @sec_6: #001d26;
    @type_dash_border: #64c2ea;
    @top_logo_row: #021b21;
    @filter_nav: #033b4b;
    @dpart_dbg: #012530;
    @dpart_dborder: #023e51;
    @filter_div_border: #0e6986;
    @input_radio: #00daff;
    @book_btn_hover: #c23d4a;
    @book_btn: #058ed1;
    @search_result_foot: #001d26;
    @search_box_shadow: #001117;
    @search_result_detail: #022e3c;
    @tab_active: #ff6a00;

    .top_row_theme {
        background: @dark_gray;
    }

    .sec_3 {
        background: @dark_sec_3;

        h2 {
            color: @dar_h2_h3;
        }

        h3 {
            color: @dar_h2_h3;
        }
    }

    .page_banner {
        &:before {
            background: fade(@black, 55%);
        }
    }

    .top_logo_row {
        background: fade(@top_logo_row, 95%);
    }
    .edit_search{
        background: fade(@dark_serch, 95%);
        .search_page{
            background:transparent;
        }
    }
    .search_page {
        background: fade(@dark_serch, 95%);

        .submit_btn {
            background: @dark_btn url(../images/search.png) no-repeat center center;

            &:hover {
                background: @dark_btn_hover url(../images/search.png) no-repeat center center;
            }
        }

        .select_trip_type, .passenger {
            border: solid 1px fade(@type_dash_border,40%);
        }

        .tab_menu {
            ul {
                li {
                    a {
                        background: fade(@black,15%);

                        &:hover {
                            background: fade(@black,25%);
                        }
                    }
                }

                .active {
                    a {
                        /*background: #e04c5a;*/
                        background: @dark_btn;

                        &:hover {
                            background: @dark_btn_hover;
                        }
                    }
                }
            }
        }
    }

    .sec_4 {
        /*background:#0484a2;*/
        background: fade(@dark_serch, 95%);

        .get_app_btn {
            background: @dark_btn;

            &:hover {
                background: @dark_btn_hover;
            }

            &:focus {
                outline: none;
            }
        }
    }

    .sec_5 {
        background: @sec_5;
        height: auto;

        .text {

            h2 {
                color: #fff;
            }
        }

        .sign_up_btn {
            background: @dark_btn;

            &:hover {
                background: @dark_btn_hover;
            }
        }
    }

    .sec_6 {
        background: @sec_6;

        .footer_link {
            .foo_link {
                ul {
                    li {
                        a {
                            &:hover {
                                color: #e04c5a;
                            }
                        }
                    }
                }
            }
        }

        .foo_social {
            ul {
                li {
                    a {
                        .fa-facebook {
                            background: fade(@white,70%);
                            color: fade(@black,90%);

                            &:hover {
                                background: #003ed0;
                                color: @white;
                            }
                        }

                        .fa-twitter {
                            background: fade(@white,70%);
                            color: fade(@black,90%);

                            &:hover {
                                background: #00ade5;
                                color: @white;
                            }
                        }

                        .fa-linkedin {
                            background: fade(@white,70%);
                            color: fade(@black,90%);

                            &:hover {
                                background: #00a6e5;
                                color: @white;
                            }
                        }
                          .fa-instagram {
                            background: fade(@white,70%);
                            color: fade(@black,90%);

                            &:hover {
                                background: #464646;
                                color: @white;
                            }
                        }
                        .fa-pinterest {
                            background: fade(@white,70%);
                            color: fade(@black,90%);

                            &:hover {
                                background: #b52121;
                                color: @white;
                            }
                        }
                         .fa-youtube {
                            background: fade(@white,70%);
                            color: fade(@black,90%);

                            &:hover {
                                background: #cc4242;
                                color: @white;
                            }
                        }
                    }
                }
            }
        }
    }
    /**************filter_nav************/
    .filter_nav {
        background: fade(@filter_nav,80%);

        .filter_div {
            border-bottom: solid 1px fade(@filter_div_border,25%);

            .ul_radio li label {
                &:before {
                    border: solid 2px @white;
                }

                &:after {
                    background: @white;
                    visibility: hidden;
                    opacity: 0;
                }
            }

            .ul_radio li.active label {
                span {
                    color: @input_radio;
                }

                &:before {
                    border: solid 2px @input_radio;
                }

                &:after {
                    background: @input_radio;
                    visibility: visible;
                    opacity: 1;
                }
            }

            .ul_checkbox li label {
                &:before {
                    border: solid 2px @white;
                }

                &:after {
                    border-left: solid 2px @white;
                    border-bottom: solid 2px @white;
                    visibility: hidden;
                    opacity: 0;
                }
            }

            .ul_checkbox li.active label {
                &:before {
                    border: none;
                    background: none;
                    .transition(0.3s);
                }

                &:after {
                    border-left: solid 2px @white;
                    border-bottom: solid 2px @white;
                    visibility: visible;
                    opacity: 1;
                    .transition(0.3s);
                }
            }
        }
    }

    .depart_d {
        background: fade(@dpart_dbg,80%);
        border: solid 1px fade(@dpart_dborder,98%);

        &:first-child {
            border-left: solid 1px fade(@dpart_dborder,98%) !important;
        }
    }
    /********************filter_nav_close******************/
    /********************Search_result_page******************/
    .search_result_boxbg {
        .transition(0.3s);

        .search_result_box {
            background: @filter_nav;

            .air_line .img_d {
                border: solid 3px @filter_nav;
            }

            .text {
                color: #fff;
            }

            .book_btn {
                background: @book_btn;
                color: @white;
                .transition(0.3s);

                &:hover {
                    background: @book_btn_hover;
                }
            }
        }

        .search_result_foot {
            background: fade(@search_result_foot,90%);

            .dtl_btn {
                background: @filter_nav;
                .transition(0.3s);

                &:hover {
                    background: @book_btn_hover;
                }
            }
        }

        &:hover {
            .box-shadow(0 0 6px 3px @search_box_shadow);
        }

        .search_result_detail {
            background: @search_result_detail;

            .detail_tab ul li .active {
                &:before {
                    border-bottom: solid 5px @tab_active;
                    border-right: solid 5px transparent;
                    border-left: solid 5px transparent;
                }

                &:after {
                    background: @tab_active;
                }
            }

            .tbl_data ul li {
                border-bottom: solid 1px fade(@white,5%);
            }

            .tbl_data h3 {
                color: @tab_active;
            }

            .tab_right h3 {
                color: @tab_active;
            }
            .border-left{
                 background:fade(@white,5%);
            }
            .border-right{
                 background:fade(@white,5%);
            }
        }
        .roundtrip_price .price_d .price{
            background:@book_btn;
        }
    }
    /********************Search_result_page_close******************/
}
/************red_theme********/


.red_theme {
    @black: #000;
    @dark_gray: #1f1b1b;
    @dark_sec_3: #2b0000;
    @dark_serch: #bd2525;
    @dark_btn: #ef7000;
    @dark_btn_hover: #d4b40b;
    @white: #fff;
    @dar_h2_h3: #f9acac;
    @sec_5: #2f1111;
    @sec_6: #1a0505;
    @type_dash_border: #fba2a2;
    @top_logo_row: #190000;
    @filter_nav: #4b0303;
    @dpart_dbg: #300101;
    @dpart_dborder: #510202;
    @filter_div_border: #860e0e;
    @input_radio: #ffd300;
    @book_btn_hover: #548606;
    @book_btn: #b18d05;
    @search_result_foot: #340303;
    @search_box_shadow: #170000;
    @search_result_detail: #440303;
    @tab_active: #dcae00;

    .top_row_theme {
        background: @dark_gray;
    }

    .sec_3 {
        background: @dark_sec_3;

        h2 {
            color: @dar_h2_h3;
        }

        h3 {
            color: @dar_h2_h3;
        }
    }

    .page_banner {
        &:before {
            background: fade(@black, 55%);
        }
    }

    .top_logo_row {
        background: fade(@top_logo_row, 95%);
    }

    .search_page {
        background: fade(@dark_serch, 95%);

        .submit_btn {
            background: @dark_btn url(../images/search.png) no-repeat center center;

            &:hover {
                background: @dark_btn_hover url(../images/search.png) no-repeat center center;
            }
        }

        .select_trip_type, .passenger {
            border-bottom: dashed 1px @type_dash_border;
        }

        .tab_menu {
            ul {
                li {
                    a {
                        background: fade(@black,15%);

                        &:hover {
                            background: fade(@black,25%);
                        }
                    }
                }

                .active {
                    a {
                        /*background: #e04c5a;*/
                        background: @dark_btn;

                        &:hover {
                            background: @dark_btn_hover;
                        }
                    }
                }
            }
        }
    }

    .sec_4 {
        /*background:#0484a2;*/
        background: fade(@dark_serch, 95%);

        .get_app_btn {
            background: @dark_btn;

            &:hover {
                background: @dark_btn_hover;
            }

            &:focus {
                outline: none;
            }
        }
    }

    .sec_5 {
        background: @sec_5;
        height: auto;

        .text {

            h2 {
                color: #fff;
            }
        }

        .sign_up_btn {
            background: @dark_btn;

            &:hover {
                background: @dark_btn_hover;
            }
        }
    }

    .sec_6 {
        background: @sec_6;

        .footer_link {
            .foo_link {
                ul {
                    li {
                        a {
                            &:hover {
                                color: #e04c5a;
                            }
                        }
                    }
                }
            }
        }

        .foo_social {
            ul {
                li {
                    a {
                        .fa-facebook {
                            background: fade(@white,70%);
                            color: fade(@black,90%);

                            &:hover {
                                background: #003ed0;
                                color: @white;
                            }
                        }

                        .fa-twitter {
                            background: fade(@white,70%);
                            color: fade(@black,90%);

                            &:hover {
                                background: #00ade5;
                                color: @white;
                            }
                        }

                        .fa-linkedin {
                            background: fade(@white,70%);
                            color: fade(@black,90%);

                            &:hover {
                                background: #00a6e5;
                                color: @white;
                            }
                        }
                          .fa-instagram {
                            background: fade(@white,70%);
                            color: fade(@black,90%);

                            &:hover {
                                background: #464646;
                                color: @white;
                            }
                        }
                        .fa-pinterest {
                            background: fade(@white,70%);
                            color: fade(@black,90%);

                            &:hover {
                                background: #b52121;
                                color: @white;
                            }
                        }
                         .fa-youtube {
                            background: fade(@white,70%);
                            color: fade(@black,90%);

                            &:hover {
                                background: #cc4242;
                                color: @white;
                            }
                        }
                    }
                }
            }
        }
    }
    /**************filter_nav************/
    .filter_nav {
        background: fade(@filter_nav,80%);

        .filter_div {
            border-bottom: solid 1px fade(@filter_div_border,25%);

            .ul_radio li label {
                &:before {
                    border: solid 2px @white;
                }

                &:after {
                    background: @white;
                    visibility: hidden;
                    opacity: 0;
                }
            }

            .ul_radio li.active label {
                span {
                    color: @input_radio;
                }

                &:before {
                    border: solid 2px @input_radio;
                }

                &:after {
                    background: @input_radio;
                    visibility: visible;
                    opacity: 1;
                }
            }

            .ul_checkbox li label {
                &:before {
                    border: solid 2px @white;
                }

                &:after {
                    border-left: solid 2px @white;
                    border-bottom: solid 2px @white;
                    visibility: hidden;
                    opacity: 0;
                }
            }

            .ul_checkbox li.active label {
                &:before {
                    border: none;
                    background: none;
                    .transition(0.3s);
                }

                &:after {
                    border-left: solid 2px @white;
                    border-bottom: solid 2px @white;
                    visibility: visible;
                    opacity: 1;
                    .transition(0.3s);
                }
            }
        }
    }

    .depart_d {
        background: fade(@dpart_dbg,80%);
        border: solid 1px fade(@dpart_dborder,98%);

        &:first-child {
            border-left: solid 1px fade(@dpart_dborder,98%) !important;
        }
    }
    /********************filter_nav_close******************/
    /********************Search_result_page******************/
    .search_result_boxbg {
        .transition(0.3s);

        .search_result_box {
            background: @filter_nav;

            .air_line .img_d {
                border: solid 3px @filter_nav;
            }

            .text {
                color: #fff;
            }

            .book_btn {
                background: @book_btn;
                color: @white;
                .transition(0.3s);

                &:hover {
                    background: @book_btn_hover;
                }
            }
        }

        .search_result_foot {
            background: fade(@search_result_foot,90%);

            .dtl_btn {
                background: @filter_nav;
                .transition(0.3s);

                &:hover {
                    background: @book_btn_hover;
                }
            }
        }

        &:hover {
            .box-shadow(0 0 6px 3px @search_box_shadow);
        }

        .search_result_detail {
            background: @search_result_detail;

            .detail_tab ul li .active {
                &:before {
                    border-bottom: solid 5px @tab_active;
                    border-right: solid 5px transparent;
                    border-left: solid 5px transparent;
                }

                &:after {
                    background: @tab_active;
                }
            }

            .tbl_data ul li {
                border-bottom: solid 1px fade(@white,5%);
            }

            .tbl_data h3 {
                color: @tab_active;
            }

            .tab_right h3 {
                color: @tab_active;
            }
        }
    }
    /********************Search_result_page_close******************/
}
/************red_theme********/


.green_theme {
    @black: #000;
    @dark_gray: #1f1b1b;
    @dark_sec_3: #001b00;
    @dark_serch: #007c0e;
    @dark_btn: #49d603;
    @dark_btn_hover: #d4b40b;
    @white: #fff;
    @dar_h2_h3: #37a500;
    @sec_5: #004a08;
    @sec_6: #002104;
    @type_dash_border: #0da51b;
    @top_logo_row: #052c00;
     @filter_nav: #044b03;
    @dpart_dbg: #01300b;
    @dpart_dborder: #025115;
    @filter_div_border: #0e861f;
    @input_radio: #ffd300;
    @book_btn_hover: #4cb300;
    @book_btn: #e28900;
    @search_result_foot: #03340f;
    @search_box_shadow: #001703;
    @search_result_detail: #034408;
    @tab_active: #dcae00;

    .top_row_theme {
        background: @dark_gray;
    }

    .sec_3 {
        background: @dark_sec_3;

        h2 {
            color: @dar_h2_h3;
        }

        h3 {
            color: @dar_h2_h3;
        }
    }

    .page_banner {
        &:before {
            background: fade(@black, 55%);
        }
    }

    .top_logo_row {
        background: fade(@top_logo_row, 95%);
    }

    .search_page {
        background: fade(@dark_serch, 95%);

        .submit_btn {
            background: @dark_btn url(../images/search.png) no-repeat center center;

            &:hover {
                background: @dark_btn_hover url(../images/search.png) no-repeat center center;
            }
        }

        .select_trip_type, .passenger {
            border-bottom: dashed 1px @type_dash_border;
        }

        .tab_menu {
            ul {
                li {
                    a {
                        background: fade(@black,15%);

                        &:hover {
                            background: fade(@black,25%);
                        }
                    }
                }

                .active {
                    a {
                        /*background: #e04c5a;*/
                        background: @dark_btn;

                        &:hover {
                            background: @dark_btn_hover;
                        }
                    }
                }
            }
        }
    }

    .sec_4 {
        /*background:#0484a2;*/
        background: fade(@dark_serch, 95%);

        .get_app_btn {
            background: @dark_btn;

            &:hover {
                background: @dark_btn_hover;
            }

            &:focus {
                outline: none;
            }
        }
    }

    .sec_5 {
        background: @sec_5;
        height: auto;

        .text {

            h2 {
                color: #fff;
            }
        }

        .sign_up_btn {
            background: @dark_btn;

            &:hover {
                background: @dark_btn_hover;
            }
        }
    }

    .sec_6 {
        background: @sec_6;

        .footer_link {
            .foo_link {
                ul {
                    li {
                        a {
                            &:hover {
                                color: #e04c5a;
                            }
                        }
                    }
                }
            }
        }

        .foo_social {
            ul {
                li {
                    a {
                        .fa-facebook {
                            background: fade(@white,70%);
                            color: fade(@black,90%);

                            &:hover {
                                background: #003ed0;
                                color: @white;
                            }
                        }

                        .fa-twitter {
                            background: fade(@white,70%);
                            color: fade(@black,90%);

                            &:hover {
                                background: #00ade5;
                                color: @white;
                            }
                        }

                        .fa-linkedin {
                            background: fade(@white,70%);
                            color: fade(@black,90%);

                            &:hover {
                                background: #00a6e5;
                                color: @white;
                            }
                        }
                          .fa-instagram {
                            background: fade(@white,70%);
                            color: fade(@black,90%);

                            &:hover {
                                background: #464646;
                                color: @white;
                            }
                        }
                        .fa-pinterest {
                            background: fade(@white,70%);
                            color: fade(@black,90%);

                            &:hover {
                                background: #b52121;
                                color: @white;
                            }
                        }
                         .fa-youtube {
                            background: fade(@white,70%);
                            color: fade(@black,90%);

                            &:hover {
                                background: #cc4242;
                                color: @white;
                            }
                        }
                    }
                }
            }
        }
    }
     /**************filter_nav************/
    .filter_nav {
        background: fade(@filter_nav,80%);

        .filter_div {
            border-bottom: solid 1px fade(@filter_div_border,25%);

            .ul_radio li label {
                &:before {
                    border: solid 2px @white;
                }

                &:after {
                    background: @white;
                    visibility: hidden;
                    opacity: 0;
                }
            }

            .ul_radio li.active label {
                span {
                    color: @input_radio;
                }

                &:before {
                    border: solid 2px @input_radio;
                }

                &:after {
                    background: @input_radio;
                    visibility: visible;
                    opacity: 1;
                }
            }

            .ul_checkbox li label {
                &:before {
                    border: solid 2px @white;
                }

                &:after {
                    border-left: solid 2px @white;
                    border-bottom: solid 2px @white;
                    visibility: hidden;
                    opacity: 0;
                }
            }

            .ul_checkbox li.active label {
                &:before {
                    border: none;
                    background: none;
                    .transition(0.3s);
                }

                &:after {
                    border-left: solid 2px @white;
                    border-bottom: solid 2px @white;
                    visibility: visible;
                    opacity: 1;
                    .transition(0.3s);
                }
            }
        }
    }

    .depart_d {
        background: fade(@dpart_dbg,80%);
        border: solid 1px fade(@dpart_dborder,98%);

        &:first-child {
            border-left: solid 1px fade(@dpart_dborder,98%) !important;
        }
    }
    /********************filter_nav_close******************/
    /********************Search_result_page******************/
    .search_result_boxbg {
        .transition(0.3s);

        .search_result_box {
            background: @filter_nav;

            .air_line .img_d {
                border: solid 3px @filter_nav;
            }

            .text {
                color: #fff;
            }

            .book_btn {
                background: @book_btn;
                color: @white;
                .transition(0.3s);

                &:hover {
                    background: @book_btn_hover;
                }
            }
        }

        .search_result_foot {
            background: fade(@search_result_foot,90%);

            .dtl_btn {
                background: @filter_nav;
                .transition(0.3s);

                &:hover {
                    background: @book_btn_hover;
                }
            }
        }

        &:hover {
            .box-shadow(0 0 6px 3px @search_box_shadow);
        }

        .search_result_detail {
            background: @search_result_detail;

            .detail_tab ul li .active {
                &:before {
                    border-bottom: solid 5px @tab_active;
                    border-right: solid 5px transparent;
                    border-left: solid 5px transparent;
                }

                &:after {
                    background: @tab_active;
                }
            }

            .tbl_data ul li {
                border-bottom: solid 1px fade(@white,5%);
            }

            .tbl_data h3 {
                color: @tab_active;
            }

            .tab_right h3 {
                color: @tab_active;
            }
        }
    }
    /********************Search_result_page_close******************/
}
