﻿@import "variable.less";

.filter_nav {
    float: left;
    width: 100%;
    padding: 10px 10px;
    height: auto;
    margin: 10px 0;

    .filter_div {
        float: left;
        width: 100%;
        margin-bottom: 10px;
        padding-bottom: 10px;

        .filter_name {
            float: left;
            width: 100%;
            font-family: @font;
            font-size: 14px;
            color: #fff;
            padding: 5px 0px 8px 5px;
            text-transform: uppercase;
            opacity: 0.8;
            span{
                float:right;
            }
        }

        .depart_div {
            float: left;
            width: 100%;

            .depart_d {
                float: left;
                width: 25%;
                border-left: none;
                height: 65px;

                .icon_d {
                    float: left;
                    width: 100%;
                    height: 43px;
                }

                .text {
                    color: #fff;
                    float: left;
                    width: 100%;
                    text-align: center;
                    font-size: 12px;
                    font-family: @font;
                    opacity: 0.8;
                }

                .morning {
                    background: url(../images/morning.png) no-repeat;
                    background-position: center center;
                    opacity: 0.8;
                }

                .afternoon {
                    background: url(../images/afternoon.png) no-repeat;
                    background-position: center center;
                    opacity: 0.8;
                }

                .evening {
                    background: url(../images/evening.png) no-repeat;
                    background-position: center center;
                    opacity: 0.8;
                }

                .night {
                    background: url(../images/night.png) no-repeat;
                    background-position: center center;
                    opacity: 0.8;
                }
            }
        }

        ul {
            float: left;
            width: 100%;
            margin: 0;
            padding: 0;

            li {
                float: left;
                width: 100%;
                list-style-type: none;
            }
        }

        .ul_radio {
            li {
                position: relative;
                padding: 3px 4px 3px 0px;

                input[type="radio"] {
                    position: absolute;
                    z-index: -9999;
                    opacity: 0;
                }

                label {
                    position: relative;
                    color: #fff;
                    font-weight: 300;
                    font-family: @font;
                    font-size: 13px;
                    padding: 3px 0 3px 30px;
                    cursor: pointer;

                    &:before {
                        width: 15px;
                        height: 15px;
                        position: absolute;
                        content: "";
                        left: 6px;
                        top: 50%;
                        .transform(translateY(-50%));
                        .border-radius(100%);
                        .transition(0.3s);
                    }

                    &:after {
                        width: 7px;
                        height: 7px;
                        position: absolute;
                        content: "";
                        left: 10px;
                        top: 50%;
                        .transform(translateY(-50%));
                        .border-radius(100%);
                        .transition(0.3s);
                    }

                    span {
                        opacity: 0.9;
                    }
                }
            }
        }

        .ul_checkbox {
            li {
                position: relative;
                padding: 0px 4px 0px 0px;

                input[type="checkbox"] {
                    position: absolute;
                    z-index: -9999;
                    opacity: 0;
                }

                label.lbl1 {
                    position: relative;
                    color: #fff;
                    font-weight: 300;
                    font-family: @font;
                    font-size: 13px;
                    padding: 3px 0 3px 30px;
                    cursor: pointer;
                    display:block;

                    &:before {
                        width: 15px;
                        height: 15px;
                        position: absolute;
                        content: "";
                        left: 6px;
                        top: 50%;
                        .transform(translateY(-50%));
                        .transition(0.3s);
                    }

                    &:after {
                        width: 12px;
                        height: 6px;
                        position: absolute;
                        content: "";
                        left: 8px;
                        top: 46%;
                        .transform(translateY(-50%)rotate(-45deg));
                        .transition(0.3s);
                    }

                    span {
                        opacity: 0.9;
                    }
                    .small_text{
                        float:right;
                        font-size:11px;
                    }
                     .small_text2{
                        float:left;
                        width:100%;
                        font-size:11px;
                    }
                }
                 label.lbl2 {
                    position: relative;
                    color: #fff;
                    font-weight: 300;
                    font-family: @font;
                    font-size: 13px;
                    padding: 3px 0 3px 35px;
                    cursor: pointer;
                    display:block;
                    float:left;
                    width:100%;
                        line-height: 15px;

                    &:before {
                        width: 15px;
                        height: 15px;
                        position: absolute;
                        content: "";
                        right: 6px!important;
                        top: 50%;
                        .transform(translateY(-50%));
                        .transition(0.3s);
                    }

                    &:after {
                        width: 12px;
                        height: 6px;
                        position: absolute;
                        content: "";
                        right: 8px!important;
                        top: 46%;
                        .transform(translateY(-50%)rotate(-45deg));
                        .transition(0.3s);
                    }
                    .filter_img{
                        float:left;
                        width:25px;
                        height:25px;
                        position:absolute;
                        left:2px;
                        top:5px;
                        img{
                            width:100%;
                        }
                    }
                    span {
                        opacity: 0.9;
                    }
                    .small_text{
                        float:right;
                        font-size:11px;
                    }
                     .small_text2{
                        float:left;
                        width:100%;
                        font-size:11px;
                        span{
                            opacity:0.5;
                        }
                    }
                }
                 .lay_time_d{
                     float:left;
                     width:33.33%;
                     padding:0 5px;
                     margin-bottom:5px;
                     .lay_time{
                         float:left;
                         width:100%;
                         padding:4px 0;
                         background-color:#043b4c;
                         color:#fff;
                         text-align:center;
                         span{
                             opacity:0.6;
                             font-family:@font;
                             font-size:12px;
                         }
                     }
                     .lay_fl{
                         float:left;
                         width:100%;
                         text-align:center;
                         color:#fff;
                         span{
                             opacity:0.5;
                              font-family:@font;
                             font-size:12px;
                         }
                     }
                 }
            }
        }
        .no-stop{
            float:left;
            width:100%;
            margin:0;
            padding:0;
            li{
                float:left;
                width:33.33%;
                height:auto;
                border-right:solid 1px #043b4c;
                 border-bottom:solid 1px #043b4c;
                  border-top:solid 1px #043b4c;
                background:#002834;
                &:first-child{
                 border-left:solid 1px #043b4c;
                }
                .text-t{
                    float:left;
                    width:100%;
                    text-align:center;
                    font-size:17px;
                    color:#fff;
                    opacity:0.7;
                    font-family:@font;
                    padding-top:8px;
                    span{
                        font-size:13px;
                    }
                }
                .text_b{
                    float:left;
                    width:100%;
                    text-align:center;
                    color:#fff;
                    opacity:0.7;
                    padding:3px 0px 8px 0;
                    font-size:13px;
                }
            }
        }
    }
}
