﻿@import "variable.less";

.property_detail_page {
    float: left;
    width: 100%;
    padding: 20px 0;

    .property_box {
        float: left;
        width: 100%;
        height: auto;
        padding-bottom: 20px;

        .property_de {
            float: left;
            width: 100%;

            h3 {
                float: left;
                font-family: @font;
                font-size: 18px;
                color: #fff;
                margin: 0;

                span {
                    opacity: 0.8;
                }
            }

            .property_add {
                float: left;
                width: 100%;
                padding: 5px 0;
                font-family: @font;
                color: #fff;
                font-weight: 100;

                p {
                    margin: 0;
                    padding: 2px 0;
                    float: left;
                    width: 100%;

                    span {
                        opacity: 0.6;
                    }
                }
            }

            .property_free_ad {
                float: left;
                width: 100%;
                font-family: @font;
                color: #00ff21;

                span {
                    opacity: 0.8;
                }

                i {
                    font-size: 20px;
                    margin-right: 5px;
                    margin-top: 2px;
                }
            }

            .hotel_review {
                float: left;
                width: 100%;
                padding-right: 15px;
                font-family: 'Open Sans',sans-serif;
                padding-top: 2px;
                padding-top: 4px;

                .review_star {
                    float: left;
                    width: 70px;
                    height: 13px;
                    background-image: url(../images/merchant/star_grey.png);
                    background-repeat: no-repeat;
                    position: relative;

                    .review_yellow {
                        height: 13px;
                        background-image: url(../images/merchant/star_yellow.png);
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                }
            }
        }
    }

    .deal_price {
        float: left;
        width: 100%;
        background: #01212b;
        height: 115px;
        .box-shadow(0px 0px 3px 2px #001921 inset);

        h3 {
            color: #0df500 !important;
            margin: 0;
            float: left;
            width: 100%;
            text-transform: uppercase;
            background-image: url(../images/deal.png);
            background-position: 8px 9px;
            background-repeat: no-repeat;
            font-family: @font;
            padding: 10px 10px 10px 40px;
            font-size: 18px;
            border-bottom: solid 1px #032935;

            span {
                opacity: 0.7;
            }
        }

        .pro_price {
            float: left;
            width: 60%;
            font-family: 'Open Sans',sans-serif;
            color: #fff;
            font-size: 30px;
            padding: 24px 19px;
            font-weight: 600;

            span {
                opacity: 0.8;
            }
        }

        .book_n_btn {
            float: left;
            width: 40%;
            padding: 14px 10px;

            a {
                float: left;
                font-family: 'Open Sans',sans-serif;
                color: #fff;
                background: #0087e0;
                padding: 10px 12px;
                text-decoration: none;
                font-weight: 600;
                font-size: 20px;
            }
        }
    }

    .prop_detail {
        float: left;
        width: 100%;
        height: auto;
        padding-top: 15px;

        .prop_slider {
            float: left;
            width: 100%;
            height: auto;
            padding: 8px 8px;
            background: #02394a;

            img {
                width: 100%;
            }
        }
    }
}

.right_box {
    float: left;
    width: 100%;
    margin-top: 15px;

    .location_map {
        float: left;
        width: 100%;
        height: auto;
        background: #02394a;

        img {
            width: 100%;
        }
    }

    .prod_box {
        float: left;
        width: 100%;
        height: auto;
        background: #02394a;
        padding: 8px 8px;

        h3 {
            color: #fff !important;
            margin: 0;
            float: left;
            width: 100%;
            text-transform: uppercase;
            font-family: 'Open Sans',sans-serif;
            padding: 10px 5px 10px 5px;
            font-size: 19px;
            font-weight: 600;
            border-bottom: solid 1px #054356;

            span {
                opacity: 0.9;
            }

            .right {
                float: right;

                span {
                    opacity: 1;
                    font-weight: 400;
                    font-size: 15px;
                }
            }
        }

        .review_range {
            float: left;
            width: 100%;
            padding: 5px 0;

            .range_text {
                float: left;
                width: 100%;
                font-family: @font;
                color: #fff;

                span {
                    opacity: 0.8;
                }
            }

            .range_text2 {
                float: left;
                width: 100%;
                font-family: @font;
                color: #fff;
                font-size: 13px;

                span {
                    opacity: 0.6;
                }
            }

            .review_range-slider {
                float: left;
                width: 100%;
                height: 8px;
                margin: 4px 0;
                background: #054b61;

                .review_range-slider_in {
                    background: #00ff21;
                    float: left;
                    height: 8px;
                }
            }
        }

        .trip_rating {
            float: left;
            width: 100%;
            background: #fff;
            padding: 8px 0;

            .trip_rate {
                float: left;
                width: 40%;
                text-align: center;
            }

            .tracata_rate {
                float: left;
                width: 60%;

                a {
                    color: #fff;
                    padding: 6px 6px;
                    background: #0087e0;
                    margin-top: 12px;
                    float: left;
                }
            }
        }

        .price_note {
            float: left;
            width: 100%;
            padding: 8px 0 5px;

            .price_link {
                float: left;
                width: 45%;
                padding-top: 5px;

                a {
                    float: left;
                    background: #0087e0;
                    color: #fff;
                    font-family: @font;
                    padding: 6px 12px;
                    text-decoration: none;
                }
            }

            .current_price {
                float: left;
                width: 55%;
                font-family: @font;
                font-size: 20px;
                color: #fff;
                font-weight: 600;

                span {
                    float: left;
                    width: 100%;
                    text-align: right;
                }

                span.cr_price {
                    font-size: 11px;
                    font-weight: 300;
                }
            }
        }
    }
}

.amenities_detial {
    float: left;
    width: 100%;
    padding: 20px 0px;

    .amenite_box {
        float: left;
        width: 33.33%;
        padding: 0px 15px;

        h5 {
            float: left;
            margin: 0;
            padding: 5px 0px 10px;
            font-family: @font;
            color: #fff;
            font-size: 18px;
            font-weight: 500;

            span {
                opacity: 0.8;
            }

            i {
                margin-right: 5px;
            }
        }

        ul {
            margin: 0;
            padding: 0;
            float: left;
            width: 100%;

            li {
                float: left;
                width: 100%;
                color: #fff;
                list-style-type: none;
                font-family: @font;
                padding: 3px 0 3px 23px;
                font-size: 13px;
                position: relative;

                span {
                    opacity: 0.7;
                }

                &:before {
                    content: "\f14a";
                    position: absolute;
                    left: 0px;
                    top: 3px;
                    font-family: FontAwesome;
                    font-size: 15px;
                    opacity: 0.6;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                }
            }
        }
    }
}

.property_room_detail_page {
    float: left;
    width: 100%;
    padding-top: 10px;
    height: auto;
    margin-bottom:50px;

    .prop_name {
        float: left;
        width: 100%;
        border-bottom: solid 1px #043342;
        color: #fff;
        font-family: @font;
        padding: 15px 5px;
        font-size: 20px;

        span {
            opacity: 0.7;
        }

        .right_span {
            float: right;
            font-size: 13px;
        }
    }

    .prop_head {
        float: left;
        width: 100%;
        color: #fff;
        font-family: @font;
        font-weight: 300;
        padding: 10px 0 0;

        .Room_type {
            float: left;
            width: 22%;
            background: #e04c5a;
            padding: 7px 8px;
        }

        .max_p {
            float: left;
            width: 9%;
            background: #c33644;
            padding: 7px 8px;
        }

        .Options_d {
            float: left;
            width: 14%;
            background: #e04c5a;
            padding: 7px 8px;
        }

        .loyalty_d {
            float: left;
            width: 15%;
            background: #c33644;
            padding: 7px 8px;
        }

        .Offers_d {
            float: left;
            width: 15%;
            background: #e04c5a;
            padding: 7px 8px;
        }

        .Price_d {
            float: left;
            width: 25%;
            background: #c33644;
            padding: 7px 8px;
        }
    }
}

.prop_body {
    float: left;
    width: 100%;
    background: #023140;

    .room_type_detail {
        float: left;
        width: 22%;
        height: 100px;
    }

    .room_detail {
        float: left;
        width: 78%;
        height: auto;
        background: #023748;
        .room_d_row{
            float:left;
            width:100%;
            margin-top:8px;
            padding-bottom:8px;
            border-bottom:solid 1px #06495f;
            &:last-child{
                border-bottom:none;
            }
        }

        .max_p_detail {
            float: left;
            width: 11.5%;
            height: auto;
            padding:5px 5px;
            text-align:center;
            i{
                   color: #fff;
    border: solid 1px #fff;
    width: 21px;
    height: 21px;
    .border-radius(50%);
    text-align: center;
    padding-top: 2px;
    margin-right: 3px;
    opacity: 0.8;
            }
            
        }

        .Options_d_detail {
            float: left;
            width: 18%;
            height: auto;
            padding:5px 5px;
            .cancellation{
                float:left;
                color:#fff;
                font-family:@font;
            }
            .service_include{
                float:left;
                width:100%;
                ul{
                    margin:0;
                    float:left;
                    width:100%;
                    padding:0;
                    color:#00ff21;
                    list-style-type:none;
                     font-family:@font;
                    li{
                        float:left;
                        width:100%;
                        font-size:13px;
                        padding:3px 0;
                        i{
                            width:20px;
                            height:20px;
                            text-align:center;
                            float:left;
                            padding-top:4px;
                            
                            margin-right:4px;
                          
                        }
                    }
                }
            }
          
        }
         .loyalty_d_detail {
            float: left;
            width: 19.2%;
            height: auto;
            padding:5px 5px;
             .reward_tra{
                float:left;
                color:#fff;
                font-family:@font;
            }
             .reward_de{
                 float:left;
                 width:100%;
             
             ul{
                    margin:0;
                    float:left;
                    width:100%;
                    padding:0;
                    color:#fff;
                    list-style-type:none;
                     font-family:@font;
                     .reward_not{
                         text-decoration:line-through;
                         opacity:0.5;
                     }
                    li{
                        float:left;
                        width:100%;
                        font-size:13px;
                        padding:3px 0;
                        opacity:0.7;
                        i{
                            width:20px;
                            height:20px;
                            text-align:center;
                            float:left;
                            padding-top:4px;
                            
                            margin-right:4px;
                          
                        }
                    }
                }
             }
           
        }
           .Offers_d_detail {
            float: left;
            width: 19.2%;
            height: auto;
             padding:5px 5px;
            .offer_de{
                float:left;
                width:100%;
                color:#ff9523;
                font-family:@font;
                .offer_deal{
                    float:left;
                    width:100%;
                    padding-left:26px;
                    background:url(../images/deal_icon.png) no-repeat;
                }
            }
          
        }
           .Price_d_detail{
                 float: left;
            width: 32%;
            height: auto;
            padding:5px 5px;
            .price_cur{
                float:left;
                width:55%;
                font-family:@font;
                color:#fff;
                font-size:18px;
                padding:5px 0;
            }
            .price_btn{
                float:left;
                width:45%;
                font-family:@font;
                color:#fff;
                font-size:18px;
                padding:5px 0;
                .book_btn{
                    float:left;
                    margin-bottom:6px;
                    width:100%;
                    a{
                        color:#fff;
                        float:left;
                        width:100%;
                        padding:7px 0;
                        text-align:center;
                        background:#0087e0;
                        font-size:13px;
                        text-decoration:none;
                         font-family:@font;
                    }
                }
                 .add_btn{
                    float:left;
                    width:100%;
                     margin-bottom:6px;
                    a{
                        color:#fff;
                        float:left;
                        width:100%;
                        padding:7px 0;
                        text-align:center;
                        background: #0c8d4b;
                        font-size:13px;
                        text-decoration:none;
                         font-family:@font;
                    }
                }
                  .marchant_btn{
                    float:left;
                    width:100%;
                    a{
                        color:#fff;
                        float:left;
                        width:100%;
                        padding:7px 0;
                        text-align:center;
                        background: #01252f;
                        font-size:13px;
                        text-decoration:none;
                         font-family:@font;
                    }
                }

            }
          
           }
    }
}

.border_bottom {
    border-bottom: solid 1px #053442;
}
