﻿@import "variable.less";

.my_account_nav {
    float: left;
    width: 100%;
    /*background: rgba(3,59,75,.8);*/
    /*border-right: solid 1px rgba(3,59,75,.8);*/
    font-family: @font;

    .my_account_detail_div {
        float: left;
        width: 100%;
        background: #003748;
        padding: 10px 0;

        .user_img {
            float: left;
            width: 100%;

            .u_img {
                width: 100px;
                height: 100px;
                margin: auto;

                .img {
                    float: left;
                    width: 100%;
                    .border-radius(50%);
                    overflow: hidden;

                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
            }
        }

        .user_name {
            float: left;
            width: 100%;
            text-align: center;
            color: #fff;
            padding: 7px 0 7px;
            border-bottom: solid 1px rgba(8, 69, 86, 0.8);
        }

        .wallet_am {
            float: left;
            width: 100%;
            padding: 12px 10px 0;

            .w_left {
                float: left;
                width: 50%;
                color: #fff;
            }

            .w_right {
                float: right;
                width: 50%;
                text-align: right;
                color: #0cb51a;
                font-family: @font;
                font-size: 17px;
                font-weight: 600;
            }
        }
    }

    ul {
        float: left;
        margin: 0;
        padding: 0;
        list-style-type: none;
        width: 100%;
        background: #032d3a;

        li {
            float: left;
            width: 100%;
            border-bottom: solid 1px rgba(3,59,75,.8);

            a {
                opacity: 0.8;
                color: #fff;
                float: left;
                padding: 12px 0 12px 45px;
                text-decoration: none;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

.account_page {
    float: left;
    width: 100%;

    .page_title {
        float: left;
        width: 100%;
        color: #fff;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 300;
        font-family: @font;
        padding: 15px 0;
        border-bottom: solid 1px #074152;
        margin-bottom:8px;

        span {
            opacity: 0.8;
        }
    }
    .acc_box{
     background: #012b38;
        height: auto;
        min-height:168px;
        margin-bottom:20px;
        float:left;
         h3{
            font-family:@font;
            float:left;
            color:#fff!important;
            margin:0;
            padding:5px 0px 5px 8px;
               padding: 11px 0 10px 8px;
    font-size: 15px;
    background: rgb(1, 28, 37);
    width: 100%;

        }
    }
    .dash_profile {
        width: 100%;
        float: left;
       
       
        .box_dash{
            float:left;
            width:100%;
            padding:8px 10px;
            min-height:166px;
            ul{
                margin:0;
                padding:0;
                float:left;
                width:100%;
                list-style-type:none;
                li{
                    float:left;
                    width:100%;
                    border-bottom:solid 1px rgba(3,59,75,.8);
                    padding:9px 0px;
                    &:last-child{
                        border-bottom:none;
                    }
                    span{
                        color:#fff;
                        opacity:0.8;
                    }
                    .left_s{
                        float:left;
                        width:40%;
                    }
                     .right_s{
                        float:left;
                        width:60%;
                    }
                }
            }
        }
    }
}
.my_trip_boder{
    border-bottom:solid 1px #033342;
    &:last-child{
        border-bottom:none;
    }
}
.my_trip{
    float:left;
    width:100%;
    padding-top: 7px;
    .trip_date{
        float:left;
        width:12%;
        padding:5px 8px;
        .date_day{
            float:left;
            width:100%;
            overflow:hidden;
            .border-radius(5px);
            font-family:@font;
            .date_month{
                float:left;
                width:100%;
                font-size:12px;
                text-transform:uppercase;
                background:rgba(3,59,75,.8);
                color:#fff;
                text-align:center;
                padding:4px 0;
            }
            .d_date{
                float:left;
                width:100%;
                font-size:18px;
                background: #135e75;
                color:#fff;
                text-align:center;
                padding:4px 0 0;
            }
            .d_day{
                float:left;
                width:100%;
                font-size:15px;
                background:#135e75;
                color:#fff;
                text-align:center;
                padding:2px 0;
                font-size:12px;
            }
        }
    }
    .trip_icon{
        float:left;
        width:7%;
        text-align:center;
        padding-top:15px;
        
          
    }
     .trip_id{
        float:left;
        width:15%;
         
         padding-top:26px;
          text-align:center;
          
          a{
           color:#fff;
          }
    }
       .trip_description{
        float:left;
        width:50%;
        padding:5px 8px;
         p{
             color:#fff;
             opacity:0.8;
         }
         
    }
       .trip_button{
        float:left;
        width:15%;
        padding-left:10px;
        padding-top:20px;
         .status_d{
             float:left;
             padding:7px 12px;
             width:120px;
             text-align:center;
             .border-radius(5px);
             
         }
         .st_booked{
             background:#1a8f03;
             color:#fff;
         }
         .st_complete{
             background:rgba(3,59,75,.8);
             color:#fff;
         }
          .st_cancel{
             background:rgba(228, 2, 2, 0.80);
             color:#fff;
         }
         
    }
}
.profile_form{
    float:left;
    width:100%;
    padding:10px 8px 10px 8px;
    h4{
        float:left;
        width:100%;
        margin:0 0 15px;
        padding:8px 8px 12px;
        color:#fff;
        font-family:@font;
        border-bottom:solid 1px #135e75;
    }
    .form_lbl{
        float:left;
        width:100%;
        position:relative;
        font-family:@font;
        font-weight:400;
        padding-top:15px;
        span{
            position:absolute;
            color:#fff;
            opacity:0.6;
            top:0;

        }
        input[type="text"]{
            float:left;
            width:100%;
              border:none;
              min-height:45px;
            background:transparent;
            border-bottom:solid 1px rgba(3,59,75,1);
            outline:none;
            color:#fff;
          
        }
         select{
            float:left;
            width:100%;
              border:none;
              min-height:45px;
            background:transparent;
            border-bottom:solid 1px rgba(3,59,75,1);
            outline:none;
            color:#fff;
          
        }
    }
}
.profile_image{
    float:left;
    width:100%;
    padding:10px 0;
    text-align:center;
    img{
        max-width:100%;
    }
}
.upload_pro_img{
    float:left;
    width:100%;
    input[type="file"]{
        display:none;
        opacity:0;
        }
    label{
        background:#0cb51a;
        color:#fff;
        font-weight:300;
        width:100%;
        text-align:center;
        padding:5px 0;
        cursor:pointer;
        .border-radius(5px);
    }
}
.margin_bot_10{
    margin-bottom:10px;
}
.sep_div {
    float: left;
    width: 100%;
}
