﻿@import "variable.less";

.filter_tab {
    float: left;
    width: 100%;
}

.filter_tab_head {
    float: left;
    width: 100%;

    ul {
        float: left;
        margin: 0px;
        padding: 0px;
        list-style-type: none;

        li {
            float: left;
            color: #fff;
            padding: 8px 10px;
            box-sizing: border-box;

            .f_tab {
                float: left;
                width: 100%;
                background: #0f99b5;
                padding: 5px 2px;
                position: relative;

                &:before {
                    content: "";
                    width: 15px;
                    background: #0f99b5;
                    height: 100%;
                    position: absolute;
                    left: -6px;
                    top: 0px;
                    .transform(skew(-10deg));
                }

                &:after {
                    content: "";
                    width: 15px;
                    background: #0f99b5;
                    height: 100%;
                    position: absolute;
                    right: -6px;
                    top: 0px;
                    .transform(skew(-10deg));
                }

                .tab_text_big {
                    float: left;
                    width: 100%;
                    text-align: center;
                }

                .tab_text_small {
                    float: left;
                    width: 100%;
                    text-align: center;
                    font-size: 11px;
                }
            }
        }
    }
}

.tab_fl_cont {
    float: left;
    width: 100%;

    .tab_fl_tab {
        float: left;
        width: 100%;

        ul {
            margin: 0px;
            padding: 0px;
            width: 100%;
            list-style-type: none;
            border-bottom: solid 1px #676767;
            float: left;
            position: relative;

            li {
                float: left;
                color: #fff;
                padding: 8px 8px 12px;
                width: 25%;
                text-align: center;
                cursor: pointer;
            }

            .active_tab_li {
                width: 25%;
                height: 4px;
                padding: 0px;
                position: absolute;
                bottom: -2px;
                left: 0px;
                background: #0f99b5;
            }
        }
    }
}

.tab_fl_tab_cont {
    float: left;
    width: 100%;
    padding-top: 10px;

    .tab_part {
        float: left;
        width: calc(100% / 4);
        height: auto;
        padding: 8px 8px;

        ul {
            float: left;
            width: 100%;
            margin: 0px;
            padding: 0px;

            li {
                list-style-type: none;
                width: 100%;
                padding: 8px 0px 8px 30px;
                position: relative;
                float: left;

                &.active .text_fl, &.active .circle_in {
                    background: #11a3c3 !important;
                    color: #fff !important;
                }

                .text_fl {
                    float: left;
                    width: 100%;
                    background: #083944;
                    border-radius: 0 15px 15px 0px;
                    color: #567b82;
                    padding: 2px 5px 2px 30px;
                }

                .circle {
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    background: #012530;
                    color: #fff;
                    .border-radius(80%);
                    left: 0px;
                    top: 0px;

                    .circle_in {
                        position: absolute;
                        background: #094350;
                        color: #567b82;
                        width: 30px;
                        height: 30px;
                        .border-radius(80%);
                        left: 5px;
                        top: 5px;
                        text-align: center;
                        padding-top: 6px;
                    }
                }
            }
        }
    }
}

.left_filter {
    .range_slid {
        float: left;
        width: 60%;

        h3 {
            color: #fff;
            margin: 0px;
            padding: 0px;
            font-size: 17px;
        }

        .range_base {
            float: left;
            width: 100%;
            background: #106580;
            height: 6px;
            .border-radius(3px);
            margin-top: 20px;
            position: relative;

            .range_spot1 {
                position: absolute;
                width: 20px;
                height: 20px;
                background: #0f99b5;
                .border-radius(80%);
                left: 0px;
                top: -7px;
            }

            .range_spot2 {
                position: absolute;
                width: 20px;
                height: 20px;
                background: #0f99b5;
                .border-radius(80%);
                left: 25%;
                top: -7px;
            }
        }
    }

    .fare_type {
        float: left;
        width: 40%;
        padding: 0px 15px;

        h3 {
            color: #fff;
            margin: 0px;
            padding: 0px;
            font-size: 17px;
        }

        .refund_t {
            float: left;
            width: 100%;
            background: #18a8d6;
            color: #fff;
            padding: 5px 8px;
            .border-radius(15px);
            text-align: center;
            margin-top: 8px;
            cursor: pointer;
        }

        .no_refund_t {
            float: left;
            width: 100%;
            background: #106580;
            color: #fff;
            padding: 5px 8px;
            .border-radius(15px);
            text-align: center;
            margin-top: 8px;
            cursor: pointer;
        }
    }
}

.graph_div {
    float: left;
    width: 100%;

    .graph_in {
        float: left;
        width: 100%;

        .g_text {
            float: left;
            width: 100%;

            .g_t {
                float: left;
                width: 100%;
                padding: 5px 0px;
                font-size: 13px;
                color: #8baab3;
                border-bottom: solid 1px #0f4454;
            }
        }

        .grh_div {
            float: left;
            width: 100%;
            min-height: 230px;
            padding-top: 30px;

            ul {
                margin: 0px;
                padding: 0px;
                float: left;
                width: 100%;

                li {
                    float: left;
                    position: relative;
                    height: 145px;
                    list-style-type: none;
                    width: calc(100% / 12);

                    .bar_height {
                        float: left;
                        width: 30px;
                        position: absolute;
                        bottom: 0px;
                        left: 10px;
                        background: #0f99b5;
                        height: 100%;
                        .border-radius(15px 15px 0px 0px);
                        cursor: pointer;

                        &:hover {
                            background: #fff;
                        }

                        &:hover .bar_text {
                            visibility: visible;
                            opacity: 1;
                        }

                        .botm_text_circle {
                            width: 44px;
                            height: 44px;
                            background: #012530;
                            position: absolute;
                            bottom: -30px;
                            left: -7px;
                            .border-radius(80%);

                            .botm_text {
                                position: absolute;
                                top: 6px;
                                left: 4px;
                                width: 35px;
                                height: 35px;
                                background: #0f99b5;
                                color: #fff;
                                padding-top: 8px;
                                text-align: center;
                                .border-radius(80%);
                            }
                        }

                        .bar_text {
                            width: 115px;
                            height: 58px;
                            background: #fff;
                            position: absolute;
                            top: -70px;
                            .transform(translateX(-35%));
                            .border-radius(4px);
                            opacity: 0;
                            visibility: hidden;
                            .transition(0.3s);

                            &:before {
                                content: "";
                                border-top: solid 8px #fff;
                                border-left: solid 8px transparent;
                                border-right: solid 8px transparent;
                                position: absolute;
                                bottom: -8px;
                                left: 43%;
                            }

                            .bar_t_small {
                                float: left;
                                width: 100%;
                                text-align: center;
                                font-size: 12px;
                                padding: 6px 0px 4px;
                                color: #808080;
                            }

                            .bar_t_big {
                                float: left;
                                width: 100%;
                                text-align: center;
                                font-size: 18px;
                                font-weight: 700;

                                .t_black {
                                    color: #000;
                                }

                                .t_bluek {
                                    color: #18a8d6;
                                }
                            }
                        }
                    }
                }
            }

            .graph_botm {
                width: 100%;
                height: 30px;
                margin-top: 42px;
                position: relative;
                float: left;
                text-align: center;

                span {
                    display: inline-flex;
                    position: relative;
                    z-index: 11;
                    background: #012530;
                    padding: 2px 13px 0;
                    color: #a9a9a9;
                }

                &:before {
                    position: absolute;
                    content: "";
                    width: 80%;
                    height: 1px;
                    background: #083f50;
                    left: 10%;
                    top: 10px;
                }
            }
        }
    }
}

.listing_page {
    float: left;
    width: 100%;

    .list_d {
        float: left;
        width: 100%;
        background: #e5e5e5;
        height: auto;
        padding: 5px 5px;
        margin-bottom: 10px;

        .list_d_in {
            float: left;
            width: 100%;
            display: table;
        }

        .col1 {
            width: 12%;
            padding-top: 30px;
            display: table-cell;
            vertical-align: top;

            .name_pro {
                font-size: 15px;
                float: left;
                width: 100%;
                text-align: center;
            }
            .name_pro_round {
                font-size: 13px;
                float: left;
                width: 100%;
                text-align: center;
            }

            .img_pro {
                width: 100%;
                float: left;
                text-align: center;

                img {
                    max-width: 35px;
                    max-height: 100%;
                }
            }

            .img_pro_roundT {
                width: 100%;
                float: left;
                text-align: center;
                padding-top: 5px;

                img {
                    max-width: 70px;
                    max-height: 100%;
                }
            }
        }

        .col2 {
            vertical-align: middle;
            width: 70%;
            display: table-cell;
            position: relative;

            &:before {
                position: absolute;
                width: 1px;
                height: 80%;
                background: #d2d2d2;
                top: 10%;
                right: -5px;
                content: "";
            }

            .pro_detail {
                float: left;
                width: 100%;
                padding: 30px 0px;

                .text_left {
                    float: left;
                    width: 22%;
                    padding-right: 15px;

                    .depart_time {
                        font-size: 17px;
                        font-weight: 600;
                        text-align: right;
                        width: 100%;

                        span {
                            font-weight: 100;
                            color: #8e8e8e;
                        }
                    }

                    .air_text {
                        text-align: right;
                        width: 100%;
                        font-size: 18px;
                        line-height: 25px;
                        color: #8e8e8e;
                        padding-top: 5px;
                    }
                }
                .text_left_round{
                    float: left;
                    width: 25%;
                    padding-right: 15px;
                    .depart_time_round{
                         font-size: 17px;
                        font-weight: 600;
                        text-align: right;
                        width: 100%;
                    }
                    .depart_place{
                        float:left;
                        width:100%;
                        text-align:right;
                    }
                     .air_text_round {
                        text-align: right;
                        width: 100%;
                        font-size: 13px;
                        line-height: 18px;
                        color: #8e8e8e;
                        padding-top: 5px;
                    }
                }

                .text_middle {
                    float: left;
                    width: 56%;

                    .mid_img {
                        float: left;
                        width: 100%;
                        position: relative;

                        .stop_detail {
                            position: absolute;
                            width: 100%;
                            text-align: center;
                            font-size: 12px;
                            font-weight: 600;
                            padding-top: 11px;

                            ul {
                                float: left;
                                margin: 0px;
                                padding: 0px;
                                width: 100%;

                                li {
                                    display: inline-block;
                                    padding: 10px 10px 0px;
                                }
                            }
                        }

                        img {
                            max-width: 100%;
                        }
                    }
                }
                .text_middle_round {
                    float: left;
                    width: 50%;

                    .mid_img {
                        float: left;
                        width: 100%;
                        position: relative;

                        .stop_detail {
                            position: absolute;
                            width: 100%;
                            text-align: center;
                            font-size: 12px;
                            font-weight: 600;
                            padding-top: 11px;

                            ul {
                                float: left;
                                margin: 0px;
                                padding: 0px;
                                width: 100%;

                                li {
                                    display: inline-block;
                                    padding: 10px 10px 0px;
                                }
                            }
                        }

                        img {
                            max-width: 100%;
                        }
                    }
                }

                .text_right {
                    float: left;
                    width: 22%;
                    padding-left: 15px;

                    .depart_time {
                        font-size: 17px;
                        font-weight: 600;
                        text-align: left;
                        width: 100%;

                        span {
                            font-weight: 100;
                            color: #8e8e8e;
                        }
                    }

                    .air_text {
                        text-align: left;
                        width: 100%;
                        font-size: 18px;
                        line-height: 25px;
                        color: #8e8e8e;
                        padding-top: 5px;
                    }
                }
                 .text_right_round {
                    float: left;
                    width: 25%;
                    padding-left: 15px;

                    .arrive_time_round {
                        font-size: 17px;
                        font-weight: 600;
                        text-align: left;
                        width: 100%;

                        span {
                            font-weight: 100;
                            color: #8e8e8e;
                        }
                    }
                      .arrive_place{
                        float:left;
                        width:100%;
                        text-align:left;
                    }

                    .air_text_round {
                        text-align: left;
                        width: 100%;
                        font-size: 13px;
                        line-height: 18px;
                        color: #8e8e8e;
                        float:left;

                    }
                }
            }
        }

        .col3 {
            vertical-align: middle;
            width: 18%;
            display: table-cell;
            vertical-align: middle;


            .price_n {
                float: left;
                width: 100%;
                text-align: center;
                font-size: 20px;
                font-weight: 600;
                color: #000;
                padding-top: 5px;

                span {
                    color: #18a8d6;
                }
            }

            .refundable {
                float: left;
                width: 100%;
                text-align: center;
                margin-top: 6px;

                span {
                    font-size: 14px;
                    border: solid 2px #18a8d6;
                    display: inline-flex;
                    padding: 2px 8px;
                    .border-radius(15px);
                }
            }
        }

        .list_foot {
            float: left;
            width: 100%;
            padding: 12px 0px 8px;
            border-top: solid 1px #d2d2d2;
            margin-top: 7px;

            .list_f {
                float: right;
                margin: 0px;
                padding: 0px;

                li {
                    float: right;
                    list-style-type: none;
                    padding: 0px 5px;

                    a {
                        float: left;
                        background: #18a8d6;
                        color: #fff;
                        padding: 5px 12px;
                        .border-radius(15px);
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
/******************new popup*********************/
.popup_new_close {
    width: 30px;
    height: 30px;
    color: #fff;
    position: absolute;
    right: 10px;
    top: -21px;
    cursor: pointer;

    &:before {
        position: absolute;
        width: 20px;
        height: 2px;
        content: "";
        left: 5px;
        top: 14px;
        .transform(rotate(45deg));
        background: #fff;
    }

    &:after {
        position: absolute;
        width: 20px;
        height: 2px;
        content: "";
        left: 5px;
        top: 14px;
        .transform(rotate(-45deg));
        background: #fff;
    }
}

.popup_top_head {
    float: left;
    width: 100%;
    background: #0f99b5;
    color: #fff;
    padding: 15px 15px;
    -webkit-box-shadow: 3px 3px 5px 0px #000;
    -moz-box-shadow: 3px 3px 5px 0px #000;
    box-shadow: 3px 3px 5px 0px #000;
}

.pop_new_content_bg {
    float: left;
    width: 100%;
    padding: 0px 20px;
}

.pop_new_content {
    float: left;
    background: #0b4d5b;
    width: 100%;
    height: auto;
    -webkit-box-shadow: 3px 3px 5px 0px #000;
    -moz-box-shadow: 3px 3px 5px 0px #000;
    box-shadow: 3px 3px 5px 0px #000;
}

.popup_tab {
    float: left;
    width: 100%;
    padding: 15px 20px 0px;
    border-bottom: solid 1px #0b87af;

    ul {
        margin: 0px;
        padding: 0px;
        width: 100%;
        float: left;
        list-style-type: none;
        text-align: center;

        li {
            float: left;
            width: calc(100% / 5);
            padding-right: 2px;
            margin: 0px;

            &.active_t a {
                background: #18a8d6;
            }

            a {
                float: left;
                width: 100%;
                padding: 6px 15px;
                background: #237f98;
                color: #fff;
                text-decoration: none;
                border-radius: 20px;
                min-width: 150px;
            }
        }
    }
}

.pop_tabcontent {
    float: left;
    width: 100%;
    padding: 15px 20px;

    .tabcontent {
        float: left;
        width: 100%;
        padding: 5px 0px;
    }

    .tab-title {
        float: left;
        width: 100%;
        background: #237f98;
        padding: 9px 10px;
        color: #fff;
    }

    .tabcontent_box {
        float: left;
        width: 100%;
        background: #f5f5f5;
        height: auto;
    }
}

.padding-left-0 {
    padding-left: 0px;
}

.fare_ul {
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    list-style-type: none;

    li {
        float: left;
        width: 100%;
        padding: 6px 8px;

        span {
            width: 50%;
        }

        .left {
            float: left;
        }

        .right {
            float: right;
            text-align: right;
        }
    }
}

.total_fare {
    float: left;
    width: 100%;
    padding: 9px 10px;

    .t_fare {
        float: left;
        width: 100%;
        font-size: 22px;
        text-align: center;
    }

    .t_fare_p {
        float: left;
        width: 100%;
        background: #0f99b5;
        color: #fff;
        padding: 7px 0px;
        font-size: 20px;
        text-align: center;
        .border-radius(20px);
        margin-top: 8px;
    }
}

.in_tab {
    float: left;
    width: 100%;
    padding: 10px 0px 0px;

    ul {
        float: left;
        width: 100%;
        text-align: center;
        list-style-type: none;
        margin: 0px;
        padding: 0px;

        li {
            display: inline-block;
            padding: 0px 5px;

            a {
                float: left;
                width: 100%;
                padding: 4px 15px;
                background: #237f98;
                color: #fff;
                text-decoration: none;
                .border-radius(15px);
            }
        }
    }
}

.in_tabcontent {
    float: left;
    width: 100%;

    .in_content {
        float: left;
        width: 100%;

        .in_boxtab {
            float: left;
            width: 33.33%;
            padding: 5px 6px;
        }
    }

    .in_t_box {
        float: left;
        width: 100%;
        height: 200px;
        border: solid 1px #237f98;
        background: #fff;

        .in_title {
            background: #237f98;
            float: left;
            width: 100%;
            color: #fff;
            padding: 6px 0px;
            text-align: center;
        }

        .in_text {
            float: left;
            width: 100%;
            padding: 8px 5px;
            font-size: 10px;
            line-height: 15px;
        }

        .in_ul_div {
            float: left;
            width: 100%;
            padding: 0px 5px;

            ul {
                float: left;
                width: 100%;
                margin: 0px;
                padding: 0px;

                li {
                    float: left;
                    width: 100%;
                    list-style-type: none;
                    font-size: 11px;
                    min-height: 38px;

                    .left {
                        float: left;
                        width: 60%;
                        text-align: left;
                    }

                    .right {
                        float: right;
                        width: 40%;
                        text-align: right;
                    }
                }
            }
        }
    }
}

.popup_btn {
    float: left;
    width: 100%;
    padding-top: 10px;

    .popup_add_to_cart {
        float: right;
        padding: 6px 15px;
        background: #237f98;
        color: #fff;
        margin-right: 8px;
        .border-radius(20px);
        text-decoration: none;

        &:hover {
            background: #18a8d6;
        }
    }

    .popup_book_now {
        float: right;
        padding: 6px 15px;
        background: #237f98;
        color: #fff;
        .border-radius(20px);
        text-decoration: none;

        &:hover {
            background: #18a8d6;
        }
    }
}

.disclaimer {
    float: left;
    width: 100%;
    line-height: 18px;

    h4 {
        font-size: 16px;
        color: #fff;
        float: left;
        width: 100%;
        margin: 0px 0px 8px;
        padding: 0px;
    }

    p {
        font-size: 13px;
        color: #c7c7c7;
        float: left;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
}

.p_tab {
    display: none;
}

.active_new_tab {
    display: block !important;
}
/*************popup_aminities*******************/
.popup_aminities {
    float: left;
    width: 100%;

    .aminities_box {
        float: left;
        width: calc(100% / 4);
        padding: 0px 15px;

        .aminities_text {
            float: left;
            background: #e5e5e5;
            width: 100%;
            height: auto;
            margin-top: 80px;
            .border-radius(7px);
            text-align: center;
            padding-top: 60px;
            padding-bottom: 10px;
            position: relative;

            .ami_big_text {
                float: left;
                width: 100%;
                font-size: 16px;
                text-align: center;
                padding-bottom: 2px;
                font-weight: 600;
            }

            .ami_small_text {
                float: left;
                width: 100%;
                font-size: 13px;
                text-align: center;
                color: #a4a4a4;
            }

            .amini_img {
                width: 120px;
                height: 120px;
                .border-radius(80%);
                position: absolute;
                background: #e5e5e5;
                border: solid 4px #0b4d5b;
                top: -75px;
                left: 50%;
                padding-top: 20px;
                .transform(translateX(-50%));
            }
        }
    }
}
/********************popup_aminities**************************/
/********************merchant**************************/
.max_height_merchant {
    float: left;
    width: 100%;
    max-height: 236px;
    overflow-y: auto;
    overflow-x: hidden;
}

.merchant_t {
    float: left;
    padding-bottom: 8px;
    width: 100%;
}

.merch_title {
    float: left;
    color: #fff;
    width: 100%;
}

.text-right {
    text-align: right;
}

.select_merchant {
    background: #efefef !important;

    .emi_rate {
        color: #737373 !important;
    }

    .merchant_name, .price_rate {
        color: #000 !important;
    }
}

.merchant_row {
    float: left;
    width: 100%;
    background: #237f98;
    color: #fff;
    padding: 8px 0 10px;
    margin-bottom: 5px;
    cursor: pointer;

    .seller_name {
        float: left;
        width: 100%;

        .merchant_icon {
            width: 30px;
            height: 30px;
            float: left;
            margin: 4px 8px 0px 0px;

            img {
                max-width: 100%;
                height: 100%;
            }
        }

        .merchant_name {
            float: left;
            padding-top: 8px;
        }
    }

    .merchant_price_n {
        float: left;
        width: 100%;

        .price_rate {
            float: left;
            width: 100%;
            padding-top: 8px;
        }

        .emi_rate {
            float: left;
            width: 100%;
            color: #d0d0d0;
            font-size: 11px;
            line-height: 9px;
        }
    }

    .merchant_rating {
        float: right;
        width: 106px;
        height: 19px;
        margin-top: 9px;

        .merchant_blank {
            float: left;
            width: 106px;
            height: 19px;
            background: url(../images/merchant_rating_b.png);
            position: relative;

            .merchant_fill {
                position: absolute;
                height: 19px;
                background: url(../images/merchant_rating_f.png);
                left: 0px;
                top: 0px;
            }
        }
    }
}

.view_more_merchant {
    float: left;
    width: 100%;

    a {
        color: #fff;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
/********************merchant**************************/
/********************baggage_n**************************/
.baggage_n {
    float: left;
    width: 95%;
    padding-top: 25px;

    .baggage_box {
        float: left;
        width: 33.33%;
        height: 140px;

        .baggage_img {
            height: 110px;
            position: relative;
            float: left;
            width: 100%;
            border-bottom: solid 1px #18a8d6;

            .bagg_plus {
                width: 50px;
                height: 50px;
                .border-radius(80%);
                background: #18a8d6;
                position: absolute;
                right: -14px;
                bottom: 10px;

                &:before {
                    content: "";
                    width: 22px;
                    height: 2px;
                    position: absolute;
                    left: 14px;
                    top: 24px;
                    background: #fff;
                }

                &:after {
                    content: "";
                    width: 2px;
                    height: 22px;
                    position: absolute;
                    left: 24px;
                    top: 14px;
                    background: #fff;
                }
            }

            img {
                max-width: 80px;
                position: absolute;
                bottom: 0px;
            }

            .b_img1 {
                left: 0px;
            }

            .b_img2 {
                right: 20%;
            }

            .b_img3 {
                right: 0px;
            }
        }

        .baggage_text {
            color: #bfbfbf;
            font-size: 13px;
            float: left;
            width: 100%;
            padding-top: 4px;
        }

        .t_left {
            text-align: left;
        }

        .t_center {
            text-align: center;
        }

        .t_right {
            text-align: right;
        }
    }
}

.baggage_tab {
    float: left;
    width: 100%;
    background: #237f98;

    ul {
        margin: 0px;
        padding: 0px;
        float: left;
        list-style-type: none;

        li {
            float: left;

            &.active_t a {
                border-bottom: solid 4px #18a8d6;
            }

            a {
                float: left;
                width: 100%;
                color: #fff;
                padding: 9px 15px;
                text-decoration: none;
            }
        }
    }
}

.baggage_dtail {
    float: left;
    width: 100%;
    padding: 15px 15px;
    min-height: 124px;

    .bag_row {
        float: left;
        width: 100%;
        padding: 7px 0;
        border-bottom: solid 1px #eaeaea;

        &:last-child {
            border-bottom: none;
        }

        .bagg_col_l {
            float: left;
            width: 50%;
        }

        .bagg_col_r {
            float: left;
            width: 50%;
            text-align: right;
        }
    }
}

.right_p {
    right: -38px !important;
}
/********************baggage_n**************************/
.top_flight_detail {
    float: left;
    width: 100%;
    padding: 0px 23px;
    color: #fff;

    .popup_derart_place, .popup_arrive_place {
        float: left;
        padding: 31px 10px 10px;
        line-height: 15px;

        span {
            font-size: 11px;
            color: #cacaca;
        }
    }

    .popup_flight_icon {
        float: left;
        width: 50%;
        height: auto;
        margin-top: 15px;
        margin-bottom: 10px;

        img {
            max-width: 100%;
        }
    }
}

.per_price {
    font-size: 25px;
    float: right;
    padding-top: 20px;

    .price_b {
        float: left;
        width: 100%;
        text-align: right;
        padding-bottom: 4px;
    }

    span {
        font-size: 12px;
        text-align: right;
        float: left;
        width: 100%;
    }
}

/******************new popup*********************/
/******************checkout*********************/
.checkout_top {
    float: left;
    width: 100%;
    height: auto;
    background: #0f99b5;
    padding-top: 25px;
    padding-bottom: 25px;

    .left_flight_detail {
        float: left;
        padding: 20px 20px 0px 15px;

        .big_text {
            display: block;
            width: 100%;
            color: #fff;
            font-size: 1.3em;
        }

        .small_text {
            display: block;
            width: 100%;
            color: #fff;
            font-size: 0.9em;
        }
    }

    .middle_flight_detail {
        float: left;
        width: 60%;
        position: relative;

        img {
            max-width: 100%;
        }
    }

    .right_flight_detail {
        float: left;
        padding: 20px 20px 0px 15px;

        .big_text {
            display: block;
            width: 100%;
            color: #fff;
            font-size: 1.3em;
        }

        .small_text {
            display: block;
            width: 100%;
            color: #fff;
            font-size: 0.9em;
        }
    }

    .che_top_left {
        float: left;
        width: 80%;
        padding: 0px 20px;
    }

    .che_top_right {
        float: left;
        width: 20%;

        .cheang_flight_btn {
            float: right;
            padding: 8px 25px;
            background: #fff;
            color: #11a3c3;
            .border-radius(20px);
            margin: 20px 30px 0px 0px;
            text-decoration: none;
        }
    }
}

.checkout_padding {
    padding-top: 63px;
}

.checkout_step {
    float: left;
    width: 100%;
    height: 80px;
    text-align: center;
    position: relative;
    padding-top: 14px;

    &:after {
        content: "";
        width: 100%;
        height: 1px;
        background: #064052;
        position: absolute;
        top: 50%;
        left: 0px;
        z-index: 8;
    }

    ul {
        display: inline-flex;
        position: relative;
        padding: 0px;
        z-index: 9;

        li {
            width: 60px;
            height: 60px;
            background: #012530;
            display: inline-block;
            padding: 0 5px;

            &.active span {
                background: #0f99b5;
            }

            span {
                width: 50px;
                height: 50px;
                display: block;
                background: #065f71;
                .border-radius(80%);
                color: #fff;
                padding-top: 17px;
                font-size: 19px;
            }
        }
    }
}

.checkout_page {
    float: left;
    width: 100%;
    height: 300px;

    .check_book_div {
        float: left;
        width: 100%;

        .check_book_title {
            float: left;
            width: 100%;
            background: #0f99b5;
            padding: 12px 18px;
            color: #fff;
        }

        .check_detail_white_box {
            float: left;
            width: 100%;
            height: 150px;
            background: #e5e5e5;
            .checkout_flight_n{
                float:left;
                width:100%;
                .checkout_fl_detail_row1{
                    float:left;
                    width:100%;
                    .show_trip_type{
                        float:left;
                        padding:4px 13px;
                        min-width:100px;
                        font-size:13px;
                        text-align:center;
                        color:#fff;
                        background:#18a8d6;
                        border-radius:15px 15px;
                        margin:8px 0px;
                    }
                    .total_time{
                        float:right;
                        padding-top:18px;
                        span{
                            color:#9c9c9c;
                            margin-right:5px;
                        }
                    }
                }
            }
        }
    }
}
/******************checkout*********************/
