﻿@import "variable.less";

.search_result_page {
    float: left;
    width: 100%;
    padding-bottom: 20px;

    .search_result {
        float: left;
        width: 100%;

        .search_result_boxbg {
            float: left;
            width: 100%;
            margin-top: 23px;

            .search_result_box {
                float: left;
                width: 100%;
                height: auto;
                padding: 10px 10px;
                .transition(0.3s);

                .text {
                    float: left;
                    width: 100%;
                    font-family: @font;
                    opacity: 0.8;
                    font-size: 17px;
                    font-weight: 600;
                    letter-spacing: 1px;
                }

                .oneway_airline {
                    width: 20%;

                    .name_d {
                        padding-left: 18px;
                    }
                }

                .inter_na_round_airline {
                    width: 100%;
                    border-bottom: solid 1px #0c4151;
                    padding-bottom: 10px !important;


                    .name_d {
                        padding-left: 45px;
                    }
                }

                .oneway_time {
                    width: 45%;

                    .internationaloneway {
                        float: left;
                        width: 100%;
                        margin-bottom: 10px;
                        padding-left: 20px;
                        position: relative;

                        .input_radio_d {
                            position: absolute;
                            left: 0;
                            top: 50%;
                            .transform(translateY(-50%));

                            input[type="radio"] {
                                opacity: 0;
                                display: none;

                                & + label {
                                    width: 17px;
                                    height: 17px;
                                    float: left;
                                    position: relative;

                                    &:after {
                                        position: absolute;
                                        content: "";
                                        border: solid 2px fade(#fff,70%);
                                        width: 16px;
                                        height: 16px;
                                        .border-radius(100%);
                                    }

                                    &:before {
                                        position: absolute;
                                        content: "";
                                        background: fade(#fff,70%);
                                        width: 8px;
                                        height: 8px;
                                        .border-radius(100%);
                                        left: 4px;
                                        top: 4px;
                                        visibility: hidden;
                                        opacity: 0;
                                        .transition(0.3s);
                                    }
                                }

                                &:checked + label:before {
                                    opacity: 1;
                                    visibility: visible;
                                }
                            }
                        }
                    }

                    .sh_more {
                        display: none;
                    }
                }

                .show_m .sh_more {
                    display: block !important;
                }

                .international_oneway {
                    padding-bottom: 30px;
                    position: relative;

                    .show_more {
                        position: absolute;
                        padding: 5px 8px;
                        background: #c23d4a;
                        color: #fff;
                        bottom: -10px;
                        left: 50%;
                        .transform(translateX(-50%));
                        .border-radius(4px 4px 0px 0px);
                        font-family: @font;
                        cursor: pointer;
                    }
                }

                .international_round {
                    /* padding-bottom: 30px;*/
                    position: relative;
                    width: 40%;
                    background-color: #0c4151;
                    padding: 8px 15px 30px;

                    .show_more {
                        position: absolute;
                        padding: 5px 8px;
                        background: #c23d4a;
                        color: #fff;
                        bottom: 0px;
                        right: 0;
                        .transform(translateX(50%));
                        .border-radius(4px 4px 0px 0px);
                        font-family: @font;
                        cursor: pointer;
                        z-index: 99;
                    }
                }

                .international_round2 {
                    /* padding-bottom: 30px;*/
                    position: relative;
                    width: 40%;
                    background-color: #033b4b;
                    padding: 8px 15px 30px;

                    .show_more {
                        position: absolute;
                        padding: 5px 8px;
                        background: #c23d4a;
                        color: #fff;
                        bottom: -10px;
                        right: 0;
                        .transform(translateX(-50%));
                        .border-radius(4px 4px 0px 0px);
                        font-family: @font;
                        cursor: pointer;
                    }
                }

                .oneway_price {
                    width: 35%;

                    .price_d {
                        float: left;
                        width: 40%;

                        .price {
                            color: #fff;
                            font-family: @font;
                            font-weight: 600;
                            font-size: 25px;
                            padding: 9px 5px;
                            opacity: 0.9;
                        }
                    }
                }

                .inter_round_price {
                    width: 20%;
                    padding-top: 15px !important;

                    .price_d {
                        float: left;
                        width: 100%;

                        .price {
                            color: #fff;
                            font-family: @font;
                            font-weight: 600;
                            font-size: 25px;
                            padding: 9px 5px;
                            opacity: 0.9;
                        }
                    }

                    .book_d {
                        float: left !important;
                        width: 59% !important;
                        padding-top: 6px !important;
                    }
                }

                .roundtrip_airline {
                    width: 17%;

                    .name_d {
                        padding-left: 8px;
                    }
                }

                .roundtrip_time {
                    width: 58%;
                }

                .roundtrip_price {
                    width: 25%;

                    .price_d {
                        float: left;
                        width: 100%;

                        .price {
                            color: #fff;
                            font-family: @font;
                            font-weight: 600;
                            font-size: 18px;
                            padding: 9px 5px;
                            opacity: 0.9;
                            text-align: center;
                            .border-radius(4px);
                        }
                    }
                }

                .air_line {
                    float: left;
                    position: relative;
                    font-family: @font;
                    padding: 0px 8px;

                    .img_d {
                        position: absolute;
                        left: -21px;
                        top: -22px;
                        float: left;
                        .border-radius(100%);
                        overflow: hidden;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .img_d_in_round {
                        position: absolute;
                        left: 8px;
                        top: -8px;
                        float: left;
                        .border-radius(100%);
                        overflow: hidden;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .name_d {
                        color: #fff;
                        opacity: 0.8;

                        .fl_name {
                            float: left;
                            width: 100%;
                        }

                        .fl_no {
                            float: left;
                            width: 100%;
                            font-size: 11px;
                        }
                    }
                }

                .time_div {
                    float: left;


                    .time_d {
                        float: left;
                        width: 33.3%;
                        padding: 0px 8px;

                        .text {
                            float: left;
                            width: 100%;
                        }

                        .sm_text {
                            float: left;
                            width: 100%;
                            font-size: 11px;
                            font-weight: 300;
                        }
                    }
                }

                .price_div {
                    float: left;
                    padding: 0px 0px 0 8px;



                    .book_d {
                        float: left;
                        width: 60%;
                        padding-top: 2px;

                        .book_btn {
                            padding: 8px 6px;
                            float: right;
                            text-decoration: none;
                        }

                        .add_to_cart {
                            float: right;
                            padding: 8px 6px;
                            background: #0c8d4b;
                            text-decoration: none;
                            margin-left: 4px;
                            color: #fff;
                            font-family: @font;

                            &:hover {
                                background: #c23d4a;
                            }
                        }
                    }
                }
            }

            .search_result_foot {
                float: left;
                width: 100%;
                height: auto;
                padding: 5px 10px;

                .left_foot {
                    float: left;
                    width: 50%;

                    ul {
                        float: left;
                        margin: 0;
                        padding: 0;

                        li {
                            float: left;
                            list-style-type: none;
                            color: #fff;
                            opacity: 0.7;
                            font-family: @font;
                            font-size: 12px;
                            padding-top: 2px;
                        }
                    }
                }

                .right_foot {
                    float: right;
                    width: 50%;

                    .dtl_btn {
                        float: right;
                        padding: 3px 10px 3px 25px;
                        text-decoration: none;
                        font-family: @font;
                        color: #fff;
                        .border-radius(12px);
                        font-size: 12px;
                        position: relative;
                        margin-left: 8px;

                        i {
                            position: absolute;
                            font-size: 15px;
                            left: 6px;
                            top: 5px;
                        }
                    }
                }
            }

            .internationaloneway_foot {
                .left_int {
                    float: left;
                    padding-bottom: 5px;

                    .fl_text {
                        float: left;
                        width: 100%;
                        font-family: @font;
                        font-size: 11px;
                        color: #fff;
                        opacity: 0.8;
                    }

                    .Flight_Inclusions {
                        margin: 4px 0px 0px 0px;
                        padding: 0;
                        list-style-type: none;
                        float: left;

                        li {
                            float: left;
                            padding-right: 20px;
                            position: relative;

                            span {
                                background: #013646;
                                color: #fff;
                                padding: 3px 5px;
                                font-family: @font;
                                font-size: 11px;
                                .border-radius(3px);
                                .transition(0.3s);
                            }

                            &:hover span {
                                background: #c23d4a;
                            }

                            &:after {
                                content: "\f101";
                                font-family: FontAwesome;
                                position: absolute;
                                right: 5px;
                                color: #fff;
                                opacity: 0.8;
                                top: 0;
                            }

                            &:last-child::after {
                                display: none;
                            }

                            &.active span {
                                background: #c23d4a;
                            }
                        }
                    }
                }

                .service_icon {
                    float: left;

                    .ser_icon {
                        float: left;
                        margin: 0;
                        padding: 0;
                        list-style-type: none;

                        li {
                            float: left;

                            .icon {
                                float: left;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

.search_result_detail {
    float: left;
    height: auto;
    width: 100%;
    padding: 10px 0px 10px 0px;
    display: none;

    .detail_tab {
        float: left;
        width: 100%;

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            width: 100%;
            float: left;
            border-bottom: solid 1px #bad2d9;

            li {
                float: left;
                padding-right: 4px;

                a {
                    color: #000;
                    display: block;
                    text-decoration: none;
                    
                    font-family: @font;
                    position: relative;
                    padding: 8px 14px;
                    background: #c0dee7;
                    position:relative;
                }

                .active {
                    &:before {
                        position: absolute;
                        content: "";
                        bottom: -8px;
                        left: 50%;
                        .transform(translateX(-50%));
                        border-top:solid 8px #c0dee7;
                        border-left:solid 10px transparent;
                        border-right:solid 10px transparent;
                    }
                    /*&:after{
                        content:"";
                        position:absolute;
                        left:0;
                        bottom:-4px;
                        width:100%;
                        height:3px;
                        background:#06d920;
                    }*/

                    
                }
            }
        }
    }

    .content_tab {
        float: left;
        width: 100%;
        margin-top: 15px;

        .act_tab {
            display: block !important;
        }

        .tab_content {
            float: left;
            width: 100%;
            display: none;

            .tbl_data {
                float: left;
                width: 100%;

                .tbl_tbl {
                    float: left;
                    width: 100%;
                    border-top: solid 1px #246d83;
                        border-left: solid 1px #246d83;

                    td {
                        width: 50%;
                        color: #fff;
                        border-bottom: solid 1px #246d83;
                        border-right: solid 1px #246d83;
                        padding: 6px 8px;
                        font-size: 12px;
                        font-family:@font;
                        font-weight:400;
                        &:first-child{
                            opacity:0.7;
                        }
                    }
                }

                .pro_box {
                    float: left;
                    width: 100%;
                    margin-bottom: 10px;
                    padding-bottom: 6px;

                    .layover_div {
                        float: left;
                        width: 100%;
                        padding: 10px 10px;

                        .layover_con {
                            background: #075167;
                            float: left;
                            width: 100%;
                            padding: 7px 0px;
                            .border-radius(15px);
                            border: dashed 1px #0c6c89;
                            text-align: center;
                            color: #fff;

                            .layover_text {
                                opacity: 0.7;
                                font-family: @font;
                                font-size: 12px;
                                font-weight: 400;

                                span {
                                    font-weight: 600 !important;
                                    color: #1cff00;
                                    font-size: 13px;
                                }
                            }
                        }
                    }

                    .pro_head {
                        float: left;
                        width: 100%;

                        .depart_st {
                            float: left;
                            background: #084b5f;
                            color: #fff;
                            padding: 6px 10px;
                            -o-border-radius: 0 4px 4px 0;
                            -webkit-border-radius: 0 4px 4px 0;
                            -moz-border-radius: 0 4px 4px 0;
                            border-radius: 0 4px 4px 0;
                            font-family: 'Open Sans',sans-serif;
                            text-transform: uppercase;
                            font-size: 12px;
                            margin-left: -25px;

                            i {
                                margin-right: 7px;
                            }
                        }

                        .total_t {
                            float: right;
                            font-family: 'Open Sans',sans-serif;
                            padding: 6px 8px 0;
                            font-weight: 400;
                        }
                    }

                    .pro_content {
                        float: left;
                        width: 100%;

                        .pro_name {
                            float: left;
                            width: 18%;
                            height: auto;
                            position: relative;

                            .border-right {
                                position: absolute;
                                right: 14px;
                                top: 10%;
                                width: 1px;
                                height: 80%;
                            }

                            .pro_img {
                                float: left;
                                width: 100%;
                                padding: 10px 0;
                            }

                            .pro_n {
                                float: left;
                                width: 100%;

                                span {
                                    float: left;
                                    width: 100%;
                                    color: #fff;
                                    opacity: .8;
                                }

                                .small_t {
                                    font-size: 11px;
                                }
                            }
                        }
                    }

                    .pro_detail {
                        float: left;
                        width: 82%;
                        height: auto;
                        font-family: @font;

                        .pro_left, .pro_right {
                            float: left;
                            width: 25%;
                            height: auto;

                            .form_d {
                                float: left;
                                width: 100%;

                                .from_name {
                                    float: left;
                                    width: 100%;
                                    color: #fff;
                                    opacity: 0.8;
                                    padding: 3px 0;
                                }

                                .name_time {
                                    float: left;
                                    width: 100%;
                                    opacity: 0.8;

                                    span {
                                        color: #00ff08;
                                        padding: 3px 5px 3px 0px;
                                        font-weight: 400;
                                        font-size: 17px;

                                        & + span {
                                            padding: 3px 0px 3px 5px;
                                        }
                                    }
                                }

                                .day_time {
                                    float: left;
                                    width: 100%;
                                    color: #fff;
                                    opacity: 0.6;
                                    padding: 2px 0 0px;
                                    font-size: 11px;
                                }

                                .air_port {
                                    float: left;
                                    width: 100%;
                                    color: #fff;
                                    opacity: 0.6;
                                    font-size: 12px;
                                }
                            }
                        }

                        .pro_middle {
                            float: left;
                            width: 50%;
                            padding-right: 32px;
                            height: auto;

                            .pro_middle_d {
                                float: left;
                                width: 100%;
                                text-align: center;

                                ul {
                                    margin: 12px 0px 0px 0px;
                                    padding: 0;
                                    list-style-type: none;
                                    display: inline-block;
                                    text-align: center;

                                    li {
                                        display: inline-block;
                                        color: #fff;
                                        opacity: 0.7;
                                        padding-left: 12px;
                                        position: relative;
                                        font-family: @font;
                                        font-weight: 300;
                                        border-bottom: none;

                                        i {
                                            margin-right: 4px;
                                        }

                                        &:after {
                                            content: "";
                                            position: absolute;
                                            width: 1px;
                                            height: 13px;
                                            background: #fff;
                                            left: 5px;
                                            top: 4px;
                                        }

                                        &:first-child::after {
                                            display: none;
                                        }
                                    }
                                }
                            }

                            .fl_icon_d {
                                float: left;
                                width: 100%;
                                position: relative;

                                .icon_fl {
                                    width: 100%;
                                    float: left;
                                    opacity: 0.8;
                                    margin-top: 19px;

                                    .border_line {
                                        width: 100%;
                                        height: 1px;
                                        background: #fff;
                                        position: absolute;
                                        top: 18px;
                                        z-index: 9;

                                        i {
                                            position: absolute;
                                            left: 50%;
                                            top: -6px;
                                            color: #fff;
                                            .transform(rotate(30deg) translateX(-50%));
                                        }
                                    }

                                    &:before {
                                        content: "";
                                        position: absolute;
                                        left: 0;
                                        top: 14px;
                                        width: 9px;
                                        height: 9px;
                                        background: #fff;
                                        z-index: 12;
                                        .border-radius(50%);
                                    }

                                    &:after {
                                        content: "";
                                        position: absolute;
                                        right: 0;
                                        top: 14px;
                                        width: 9px;
                                        height: 9px;
                                        background: #fff;
                                        z-index: 12;
                                        .border-radius(50%);
                                    }
                                }
                            }
                        }
                    }
                }

                ul.tbl {
                    margin: 0px 0 0 0;
                    padding: 0;
                    float: left;
                    width: 100%;
                    list-style-type: none;
                    border: solid 1px #246d83;

                    li {
                        width: 100%;
                        float: left;
                        font-family: @font;
                        color: #fff;
                        padding: 6px 8px;
                        font-size: 13px;
                        border-bottom: solid 1px #246d83;

                        &:last-child {
                            border: none;
                        }

                        .left {
                            float: left;
                            opacity: 0.5;
                        }

                        .right {
                            float: right;
                            opacity: 0.9;
                        }
                    }
                }

                h3 {
                    margin: 0;
                    padding: 0;
                    float: left;
                    width: 100%;
                    font-family: @font;
                    font-size: 16px;
                    text-transform: uppercase;
                }

                .cancl_h3 span {
                    float: left;
                    width: 50%;
                }

                .baggage li span {
                    width: 33.3%;
                    float: left;
                    opacity: 0.8;
                }

                .h_color {
                    color: #0aec06;
                }

                .cancl_ul span {
                    float: left;
                    width: 50%;
                    opacity: 0.8;
                }
            }

            .tab_right {
                float: left;
                padding: 0 0;

                h3 {
                    font-family: @font;
                    padding: 12px 8px;

                    span {
                        font-size: 14px;
                        float: left;
                        width: 100%;
                        padding-bottom: 8px;
                        color: #fff;
                        opacity: 0.7;
                    }
                }
            }

            .border-left {
                position: absolute;
                left: 0px;
                top: 26%;
                width: 1px;
                height: 100%;
            }

            .border-right {
                position: absolute;
                right: 0px;
                top: 26%;
                width: 1px;
                height: 80%;
            }

            .flight_dtl {
                float: left;
                width: 100%;
                padding-top: 12px;
                padding-bottom: 12px;

                .air_line {
                    float: left;
                    width: 25%;
                    position: relative;
                    font-family: 'Open Sans',sans-serif;
                    padding: 0 8px 0 0;

                    .img_d {
                        float: left;
                        margin-right: 7px;
                        padding-top: 4px;
                    }

                    .name_d {
                        color: #fff;
                        opacity: .8;
                        float: left;

                        .fl_name {
                            float: left;
                            width: 100%;
                        }

                        .fl_no {
                            float: left;
                            width: 100%;
                            font-size: 11px;
                        }
                    }
                }

                .time_div {
                    float: left;
                    width: 70%;

                    .time_d {
                        float: left;
                        width: 33.3%;
                        padding: 0 8px;


                        .text {
                            float: left;
                            width: 100%;
                            font-family: 'Open Sans',sans-serif;
                            opacity: .8;
                            font-size: 17px;
                            font-weight: 600;
                            letter-spacing: 1px;
                            color: #fff;
                        }


                        .sm_text {
                            float: left;
                            width: 100%;
                            font-size: 11px;
                            font-weight: 300;
                        }
                    }
                }
            }
        }
    }

    &.active {
        display: block !important;
    }

    .merchant_detail {
        float: left;
        width: 100%;
        border-bottom: solid 1px #04394a;
        padding-bottom: 8px;
        padding-top: 5px;

        &:last-child {
            border-bottom: none;
            padding-bottom: 0px;
        }
        /*.merchant_name,.merchant_review,.merchant_price,.merchant_book{
                        float:left;
                        width:25%;
                        padding-right:15px;
                        font-family:@font;
                    }*/
        .merchant_name {
            float: left;
            width: 30%;
            padding-right: 15px;
            font-family: @font;

            .merch_name {
                color: #fff;
                padding-top: 0px;
                padding-left: 10px;
                float: left;
                width: 85%;

                span {
                    opacity: 0.7;
                    float: left;
                    width: 100%;
                }

                .merchant_review {
                    float: left;
                    width: 100%;
                    padding-right: 15px;
                    font-family: @font;
                    padding-top: 2px;

                    .review_star {
                        float: left;
                        width: 70px;
                        height: 13px;
                        background-image: url(../images/merchant/star_grey.png);
                        background-repeat: no-repeat;
                        position: relative;

                        .review_yellow {
                            height: 13px;
                            background-image: url(../images/merchant/star_yellow.png);
                            position: absolute;
                            left: 0;
                            top: 0;
                        }
                    }
                }
            }

            .merch_logo {
                float: left;
                width: 15%;

                img {
                    max-width: 100%;
                }
            }
        }



        .merchant_price {
            float: left;
            width: 25%;

            .merch_price {
                float: left;
                padding-top: 8px;
                font-size: 25px;
                font-family: @font;
                font-weight: 600;
                color: #fff;

                span {
                    opacity: 0.8;
                }
            }
        }

        .merchant_book {
            float: left;
            width: 20%;

            .merch_book {
                float: left;
                width: 100%;
                padding-top: 4px;

                a {
                    float: right;
                    padding: 8px 12px;
                    background: #c23d4a;
                    color: #fff;
                    font-family: @font;
                    text-decoration: none;
                }
            }
        }
    }
}

.search_fl_detail {
    float: left;
    width: 100%;
    height: 51px;
    background: #012530;
    box-shadow: 0px 0px 8px 1px #000f15 inset;
    margin-top: 10px;
    padding: 6px 10px;

    .fl_detail {
        float: left;
        width: 25%;
        color: #fff;

        .fl_name_d {
            .img_fl {
                float: left;
                min-width: 30px;
                width: 11%;
                padding-top: 4px;

                img {
                    float: left;
                    width: 30px;
                    height: 30px;
                }
            }

            .fl_data {
                float: left;
                width: 89%;
                padding-left: 7px;

                span {
                    float: left;
                    opacity: 0.7;
                    font-size: 15px;
                }

                i {
                    float: left;
                    margin: 4px 5px 4px 5px;
                }

                .sm_text_d {
                    font-size: 11px;
                    font-family: @font;

                    i {
                        margin-top: 5px;
                    }

                    span {
                        font-size: 11px;
                    }
                }
            }
        }
    }
}

.search_count {
    float: left;
    font-family: @font;
    font-size: 11px;
    color: #fff;
    opacity: 0.8;
    font-weight: 300;
    text-transform: uppercase;
    width: 15%;
}

.search_fl_d {
    float: left;
    height: 40px;
    width: 55%;
    text-align: center;

    ul {
        text-align: center;
        margin-top: 1px;

        li {
            display: inline-block;
            padding: 0 20px;
            position: relative;
            font-family: @font;
            line-height: 17px;

            i {
                position: absolute;
                right: -10px;
                top: 1px;
                color: #fff;
                font-size: 17px;
                opacity: 0.7;
            }

            p {
                margin: 0;
                padding: 0;
                color: #fff;
                font-size: 14px;
                text-transform: uppercase;
                opacity: 0.7;
            }

            span {
                font-size: 10px;
                color: #fff;
                opacity: 0.7;
            }
        }
    }
}

.mod_search {
    float: right;
    padding-top: 2px;

    a {
        text-decoration: none;
        font-family: @font;
        font-size: 12px;
        color: #efefef;
        background: #024856;
        padding: 8px 12px 8px 10px;
        display: block;

        i {
            margin-right: 7px;
            opacity: 0.6;
            font-size: 13px;
        }
    }
}

.one_way_fl {
    .fl_air {
        width: 18%;

        a {
            padding: 8px 10px 8px 35px;
        }
    }

    .fl_duration {
        width: 52%;

        a {
            padding: 8px 10px 8px 15px;
            width: 33.3%;
        }
    }

    .fl_price {
        width: 30%;

        a {
            padding: 8px 10px 8px 15px;
        }
    }
}

.round_way_fl {
    .fl_air {
        width: 18%;

        a {
            padding: 8px 10px 8px 5px;
        }
    }

    .fl_duration {
        width: 59%;

        a {
            padding: 8px 3px 8px 5px;
            width: 33.33%;
        }
    }

    .fl_price {
        width: 23%;

        a {
            padding: 8px 10px 8px 15px;
        }
    }
}

.search_filter {
    float: left;
    width: 100%;
    padding: 15px 0 5px;

    .dark_col {
        background: #b12835;
    }

    .light_col {
        background: #c23d4a;
    }

    .fl_air {
        float: left;

        a {
            font-family: @font;
            color: #fff;
            text-transform: uppercase;
            float: left;
            width: 100%;
            font-size: 12px;
            text-decoration: none;

            i {
                margin-left: 7px;
            }
        }
    }

    .fl_duration {
        float: left;

        a {
            font-family: @font;
            color: #fff;
            text-transform: uppercase;
            float: left;
            font-size: 11px;
            text-decoration: none;

            i {
                margin-left: 7px;
            }
        }
    }

    .fl_price {
        float: left;

        a {
            font-family: @font;
            color: #fff;
            text-transform: uppercase;
            float: left;
            width: 100%;
            font-size: 12px;
            text-decoration: none;

            i {
                margin-left: 7px;
            }
        }
    }
}

.fixed_foot {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9;
}

.book_fl_div {
    position: fixed;
    background: #00161d;
    width: 100%;
    height: auto;
    padding-top: 7px;
    left: 0;
    bottom: 0;
    z-index: 9;

    .sl_flight {
        float: left;
        width: 100%;
        height: auto;
        padding: 13px 0px;
        position: relative;

        .v_sep {
            position: absolute;
            right: 0;
            top: 12%;
            width: 1px;
            height: 70%;
            background: #01242f;
        }

        .sl_fl_name_img {
            float: left;
            width: 16%;
            min-width: 50px;

            .fl_img {
                float: left;
                text-align: center;
                border: solid 1px #092028;
                padding: 4px 4px;

                img {
                    max-width: 40px;
                }
            }

            .fl_no_d {
                float: left;
                width: 100%;
                font-size: 12px;
                color: #fff;

                span {
                    opacity: 0.8;
                }
            }
        }

        .sl_fl_detail {
            float: left;
            width: 81%;
            color: #fff;
            opacity: 0.7;

            .start {
                width: 30%;
                float: left;
                position: relative;

                span {
                    float: left;
                    width: 100%;
                }

                &:before {
                    content: "\f178";
                    position: absolute;
                    right: 6px;
                    font: normal normal normal 14px/1 FontAwesome;
                    top: 2px;
                }
            }

            .end {
                width: 30%;
                float: left;
            }

            .stop_time {
                float: left;
                width: 40%;

                span {
                    float: left;
                    width: 100%;
                }
            }
        }
    }

    .sl_fl_book {
        float: left;
        width: 100%;

        .sl_price {
            float: left;
            width: 50%;
            padding-top: 24px;

            .sl_price_in {
                font-size: 26px;
                font-weight: 600;
                font-family: @font;
                float: left;
                color: #fff;
            }
        }

        .sl_btn {
            float: left;
            width: 50%;

            .book_now {
                float: left;
                padding: 8px 10px;
                width: 100%;
                text-align: center;
                color: #fff;
                background: #058ed1;
                border: none;
            }

            .add_cart {
                float: left;
                padding: 8px 10px;
                width: 100%;
                text-align: center;
                color: #fff;
                background: #0c8d4b;
                border: none;
                margin-top: 6px;
                text-decoration: none;
            }
        }
    }
}

.inter_round_box {
    padding: 10px 0px 0px 0 !important;
}

.ameniti {
    float: left;
    width: 100%;

    ul {
        float: left;
        margin: 0;
        padding: 0;
        list-style-type: none;
        width: 100%;

        li {
            float: left;
            width: 25%;
            padding: 15px 15px;

            div {
                float: left;
                width: 100%;
                padding: 15px 5px;
                border: solid 1px #7497a1;
                .border-radius(5px);

                .am_img {
                    float: left;
                    width: 100%;
                    text-align: center;
                    padding: 0;
                    border: none;

                    img {
                        width: 60px;
                        opacity: 0.7;
                    }
                }

                .ame_text {
                    float: left;
                    width: 100%;
                    padding: 0;
                    border: none;

                    span.big {
                        float: left;
                        width: 100%;
                        text-align: center;
                        color: #fff;
                        opacity: 0.8;
                        padding: 7px 0 0;
                    }

                    span.small {
                        float: left;
                        width: 100%;
                        text-align: center;
                        color: #fff;
                        font-size: 12px;
                        opacity: 0.6;
                        padding: 0px 0 0;
                    }
                }
            }
        }
    }
}

.bagg_d {
    float: left;
    width: 33.33%;

    .bag_div {
        float: left;
        position: relative;
        background-image: url(../images/bag_bg.png);
        background-repeat: no-repeat;
        background-size: cover;

        .bag_text {
            position: absolute;
            padding: 8px 0px;
            color: #fff;
            text-align: center;
            background: #058ed1;
            .border-radius(80%);
            left: 50%;
            top: 50%;
            .transform(translateX(-50%)translateY(-40%));
        }

        .bag_sm_text {
            position: absolute;
            bottom: -25px;
            color: #fff;
            font-family: @font;
            font-size: 12px;
            left: 3px;
            width: 90px;
            opacity: 0.7;
        }
    }

    .bag_1 {
        width: 76px;
        height: 67px;
        margin-top: 10px;

        &:after {
            position: absolute;
            width: 16px;
            height: 2px;
            background: #fff;
            content: "";
            right: -24px;
            top: 55%;
            opacity: 0.7;
        }

        &:before {
            position: absolute;
            width: 2px;
            height: 16px;
            background: #fff;
            content: "";
            right: -17px;
            top: 45%;
            opacity: 0.7;
        }

        .bag_text {
            width: 45px;
            height: 45px;
            padding: 12px 0px;
        }
    }

    .bag_2 {
        width: 66px;
        height: 59px;
        margin-top: 17px;

        &:after {
            position: absolute;
            width: 16px;
            height: 2px;
            background: #fff;
            content: "";
            right: -28px;
            top: 52%;
            opacity: 0.7;
        }

        &:before {
            position: absolute;
            width: 2px;
            height: 16px;
            background: #fff;
            content: "";
            right: -21px;
            top: 41%;
            opacity: 0.7;
        }

        .bag_text {
            font-size: 13px;
            width: 40px;
            height: 40px;
            padding: 11px 0px;
        }
    }

    .bag_3 {
        width: 56px;
        height: 49px;
        margin-top: 27px;

        .bag_text {
            font-size: 11px;
            width: 35px;
            height: 35px;
        }
    }
}

.top_filter_btn {
    float: left;
    width: 100%;
    height: auto;
    padding: 10px 0;

    .top_filter_btn_div {
        float: right;
        width: 30%;

        ul {
            float: right;
            /*width: 100%;*/
            list-style-type: none;
            text-align: center;

            li {
                display: inline-block;
                padding: 0 8px;

                a {
                    padding: 16px 30px 17px 57px;
                    color: #fff;
                    text-decoration: none;
                    background-color: #b20313;
                    background-image: url(../images/filter_btn.png);
                    float: left;
                    width: 150px;
                    font-size: 17px;
                    font-family: @font;
                    position: relative;
                    text-align: left !important;
                    .transition(0.3s);

                    &:hover {
                        background-color: #058ed1;
                    }

                    span {
                        width: 40px;
                        height: 40px;
                        position: absolute;
                        left: 6px;
                        top: 6px;
                        color: #fff;
                        background: rgba(0,0,0,0.2);
                        padding-top: 8px;
                        text-align: center;

                        i {
                            font-size: 23px;
                        }
                    }
                }
            }
        }
    }

    .top_filter_btn_div_s {
        float: left;
        width: 100%;

        ul {
            float: left;
            width: 100%;
            list-style-type: none;
            text-align: center;
            padding: 0;
            margin: 0;

            li {
                display: inline-block;
                padding: 0 8px;

                a {
                    padding: 11px 29px 12px 41px;
                    color: #fff;
                    text-decoration: none;
                    background-color: #b20313;
                    background-image: url(../images/filter_btn.png);
                    float: left;
                    width: 120px;
                    font-size: 16px;
                    font-family: @font;
                    position: relative;
                    text-align: left !important;
                    .transition(0.3s);

                    &:hover {
                        background-color: #058ed1;
                    }

                    span {
                        width: 29px;
                        height: 29px;
                        position: absolute;
                        left: 6px;
                        top: 6px;
                        color: #fff;
                        background: rgba(0,0,0,0.2);
                        padding-top: 4px;
                        text-align: center;

                        i {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }

    .trip_obar {
        float: left;
        width: 70%;
        padding-top:9px;

        .trip_bar {
            margin: 0 auto;
            width: 60%;
            padding: 15px 0;

            .tri_bar_base {
                float: left;
                width: 100%;
                position: relative;
                slider{
                    margin: 0px 5px 8px 5px;
                    .bubble {
                        display:none;
                    }
                }

                .tri_bar_base_line {
                    width: 100%;
                    height: 6px;
                    background: #fff;
                    .border-radius(5px 5px);
                }

                .tri_tumb {
                    position: absolute;
                    left: 50%;
                    top: -6px;
                    width: 18px;
                    height: 18px;
                    background: #058ed1;
                    .border-radius(20px);
                }

                .left_text {
                    position: absolute;
                    left: -60px;
                    top: -8px;
                    color: #fff;
                    opacity: 0.7;
                }

                .right_text {
                    position: absolute;
                    right: -60px;
                    color: #fff;
                    top: -8px;
                    opacity: 0.7;
                }
            }
        }
    }
}

/************************** Chart *******************************/
.chart_d {
    float: left;
    width: 100%;
    height: auto;
    padding: 10px 0 5px;
    text-align: center;

    .chart_in_d {
        width: 80%;
        height: 150px;
        margin: 0 auto;
        position: relative;
    }
}
/************************** Chart *******************************/
.owl-item {
    .item {
        padding: 0 13px;
    }
}

.customNavigation .next {
    position: absolute;
    right: 0;
    top: 0;
}

.customNavigation .prev {
    position: absolute;
    left: 0;
    top: 0;
}
/******************Hotel_design***********************/
.input_destination_hotel {
    width: 32%;
    float: left;

    .input_field {
        float: left;
        width: 100%;
    }
}

.input_type_date1 {
    float: left;
    width: 17%;
    height: auto;
    padding: 0 0 0 10px;
}

.input_type_date2 {
    float: left;
    width: 17%;
    height: auto;
    padding: 0 0 0 10px;
}

.hotel_box {
    float: left;
    height: 343px;
    float: left;
    background: #033b4b;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px 5px;

    .hotel_img {
        float: left;
        width: 100%;
        position: relative;

        .advisor_rate {
            position: absolute;
            right: 10px;
            bottom: 15px;
            width: 50px;
            height: 40px;
            background: #f7f7f7;
            color: #00c42a;
            .border-radius(3px);
            font-size: 16px;
            font-family: @font;
            text-align: center;
            padding-top: 5px;
            line-height: 15px;

            span {
                font-size: 11px;
            }

            .ad_rate {
                float: left;
                width: 100%;
                font-size: 14px !important;
            }

            .trip_logo {
                position: absolute;
                width: 74%;
                background: #fff;
                top: -24px;
                left: 6px;
                overflow: hidden;
                .border-radius(3px 3px 0px 0px);

                img {
                    width: 100%;
                }
            }
        }

        img {
            width: 100%;
        }
    }

    .hotel_d {
        float: left;
        width: 100%;
        padding-top: 8px;

        .hotel_d_in {
            float: left;
            width: 100%;

            .hotel_left {
                float: left;
                width: 65%;
                padding-left: 8px;

                .hotel_name {
                    float: left;
                    width: 100%;
                    color: #ff8d00;
                    font-family: @font;
                    font-size: 15px;
                }

                .hotel_review {
                    float: left;
                    width: 100%;
                    padding-right: 15px;
                    font-family: 'Open Sans',sans-serif;
                    padding-top: 2px;
                    padding-top: 4px;

                    .review_star {
                        float: left;
                        width: 70px;
                        height: 13px;
                        background-image: url(../images/merchant/star_grey.png);
                        background-repeat: no-repeat;
                        position: relative;

                        .review_yellow {
                            height: 13px;
                            background-image: url(../images/merchant/star_yellow.png);
                            position: absolute;
                            left: 0;
                            top: 0;
                        }
                    }
                }

                .hotel_place {
                    float: left;
                    width: 100%;
                    color: #fff;
                    padding: 7px 0px 4px 0px;
                    font-family: @font;
                    font-weight: 400;

                    span {
                        opacity: 0.8;
                        float: left;
                        width: 100%;
                    }

                    .h_small {
                        font-size: 12px;
                        opacity: 0.6;
                    }
                }
            }

            .hotel_right {
                float: left;
                width: 35%;

                .hotel_price {
                    float: right;
                    color: #fff;
                    font-family: @font;
                    font-size: 23px;
                    font-weight: 500;
                    padding-right: 8px;
                    text-align: right;

                    span {
                        float: right;
                        width: 100%;
                        font-size: 11px;
                        opacity: 0.6;
                    }
                }

                .choose_btn {
                    float: left;
                    width: 100%;
                    padding-top: 5px;

                    a {
                        float: right;
                        color: #fff;
                        padding: 10px 15px;
                        text-align: center;
                        .border-radius(4px);
                        text-decoration: none;
                        background: #058ed1;
                        font-family: @font;
                    }
                }
            }

            .h_deal {
                float: left;
                width: 100%;
                height: 38px;
                background: #01303e;
                border: dashed 1px #06495d;
                .border-radius(6px);
                margin: 4px 0;
                padding: 5px 5px;
                font-family: @font;

                .deal {
                    float: left;
                    background: #0c8d4b;
                    color: #fff;
                    padding: 3px 8px;
                    .border-radius(3px 0px 0px 3px);
                    position: relative;

                    &:after {
                        position: absolute;
                        content: "";
                        top: 0;
                        right: -12px;
                        border-left: solid 12px #0c8d4b;
                        border-top: solid 12px transparent;
                        border-bottom: solid 13px transparent;
                    }
                }

                .deal_text {
                    float: left;
                    color: #fff;
                    font-weight: 400;
                    padding-top: 3px;
                    padding-left: 15px;

                    span {
                        opacity: 0.7;
                    }
                }
            }

            .h_btn_d {
                float: left;
                width: 100%;
                padding: 4px 4px;

                .h_btn {
                    float: left;
                    width: 25%;
                    padding: 0 5px;

                    a {
                        display: block;
                        color: #fff;
                        padding: 8px 0;
                        text-align: center;
                        /*.border-radius(4px);*/
                        text-decoration: none;
                    }

                    .h_book {
                        background: #058ed1;
                    }

                    .h_add {
                        background: #0c8d4b;
                    }

                    .h_merch {
                        background: #044f64;
                    }

                    .h_quick {
                        background: #d36303;
                    }
                }
            }
        }
    }
}

.star_rat_h {
    float: left;
    width: 100%;

    .s_rating {
        float: left;
        width: 20%;
        height: auto;
        border-left: none !important;

        .h_rate {
            float: left;
            width: 100%;
            text-align: center;
            font-family: @font;
            color: #fff;
            font-size: 17px;
            padding: 3px 0;

            span {
                opacity: 0.8;
            }
        }

        .h_star {
            float: left;
            width: 100%;
            text-align: center;
            color: #ffe200;
            font-size: 17px;

            i {
                border-top: solid 1px #023443;
                border-bottom: solid 1px #023443;
                padding: 3px 8px;
            }

            div {
                padding: 2px 4px;
                background: #fff;
                .border-radius(0px 5px);
                display: inline-block;

                img {
                    width: 32px;
                }
            }
        }

        .h_star_hotel {
            float: left;
            width: 100%;
            text-align: center;
            color: #fff;
            font-size: 12px;

            span {
                opacity: 0.7;
            }
        }
    }
}

.search_h_name {
    float: left;
    width: 100%;
    padding-right: 50px;
    position: relative;

    input[type="text"] {
        float: left;
        width: 100%;
        background: #023140;
        padding: 6px 5px;
        border: solid 1px #034154;
        outline: none;
        color: #82afbd;

        &:focus {
            outline: none;
        }
    }

    .s_btn_icon {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 18px;
        padding: 7px 0 7px;
        color: #fff;
        width: 47px;
        text-align: center;
        background: #d36303;
    }
}

.m_bottom_8 {
    margin-bottom: 8px;
}
/******************Hotel_design***********************/
