﻿
@import "variable.less";
@font: 'Open Sans',sans-serif;
/*@font: 'Montserrat', sans-serif;*/

body {
    margin: 0;
    padding: 0;
    line-height: 19px;

    .wrapper {
        float: left;
        width: 100%;

        .section {
            width: 100%;
            max-width: 1300px;
            margin: 0px auto;

            .section_in {
                float: left;
                width: 100%;
            }
        }
    }

    .top_logo_row {
        height: 50px;
        position: fixed;
        z-index: 9;
        top: 13px;

        .logo {
            float: left;
            padding-top: 5px;

            img {
                float: left;
                width: 172px;
            }
        }

        .top_link {
            float: right;
            padding-top: 9px;

            ul {
                float: right;
                margin: 0;
                padding: 0;
                list-style-type: none;

                li {
                    float: right;

                    a.cart {
                        color: #fff;
                        font-size: 18px;
                        width: 33px;
                        height: 33px;
                        .border-radius(100%);
                        display: block;
                        background: #e04c5a;
                        padding: 7px 0 0 6px;
                        margin-right: 30px;
                        position: relative;

                        span {
                            width: 30px;
                            height: 30px;
                            .border-radius(100%);
                            background: #404040;
                            color: #fff;
                            position: absolute;
                            top: -7px;
                            right: -20px;
                            font-size: 14px;
                            text-align: center;
                            padding-top: 5px;
                        }
                    }

                    a.account {
                        color: #fff;
                        font-size: 18px;
                        width: 33px;
                        height: 33px;
                        .border-radius(100%);
                        display: block;
                        background: #f73c91;
                        padding: 7px 0 0 9px;
                        margin-right: 9px;
                        position: relative;
                    }

                    .curruncy {
                        float: left;
                        width: auto;
                        height: auto;
                        padding: 7px 39px 7px 25px;
                        background: #3a3a3a;
                        margin-right: 10px;
                        position: relative;
                        .border-radius(15px);
                        cursor: pointer;

                        &::after {
                            content: "";
                            position: absolute;
                            width: 0;
                            height: 0;
                            top: 50%;
                            .transform(translateY(-50%));
                            left: 8px;
                            border-top: solid 5px #e4e4e4;
                            border-right: solid 5px transparent;
                            border-left: solid 5px transparent;
                        }

                        .c_text {
                            float: left;
                            color: #fff;
                        }

                        img {
                            position: absolute;
                            width: 27px;
                            height: 27px;
                            .border-radius(100%);
                            top: 3px;
                            right: 4px;
                        }
                    }
                }
            }
        }
    }

    .page_banner {
        position: relative;
        z-index: 4;
        height: 576px;
        margin-top: 20px;

        &:before {
            content: "";
            width: 820px;
            height: 820px;
            position: absolute;
            left: 50%;
            top: 0;
            z-index: 6;
            .border-radius(100%);
            .transform(translateX(-50%));
            margin-top: -107px;
        }

        .banner_text {
            float: left;
            position: relative;
            width: 100%;
            top: 170px;
            z-index: 9;

            .h2_text {
                margin: 0 auto;
                width: 60%;
                max-width: 800px;
                text-align: center;

                h2 {
                    float: left;
                    width: 100%;
                    text-align: center;
                    font-size: 32px;
                    color: #fff;
                    line-height: 38px;
                    font-weight: 300;
                    font-family: @font;
                    .text-shadow(1px 1px 1px #000);

                    .t_small {
                        font-size: 23px;
                    }

                    .text_bold {
                        font-weight: 500;
                        font-size: 28px;
                    }
                }

                .banner_text_btn {
                    display: inline-flex;
                    padding: 10px 34px 10px 22px;
                    color: #444;
                    background: #fff;
                    .border-radius(20px);
                    text-decoration: none;
                    font-family: @font;
                    position: relative;
                    margin-top: 15px;
                    .transition(0.3s);

                    span {
                        position: relative;
                        z-index: 9;
                    }

                    &:after {
                        content: "";
                        position: absolute;
                        width: 7px;
                        height: 7px;
                        border-right: solid 2px #444;
                        border-bottom: solid 2px #444;
                        position: absolute;
                        right: 22px;
                        top: 17px;
                        .transform(rotate(-45deg));
                        .transition(0.3s);
                    }

                    &:before {
                        content: "";
                        width: 80%;
                        height: 80%;
                        position: absolute;
                        left: 10%;
                        top: 10%;
                        border: solid 2px #fff;
                        .border-radius(20px);
                        .transition(0.3s);
                        opacity: 0;
                    }

                    &:hover:after {
                        border-right: solid 2px #fff;
                        border-bottom: solid 2px #fff;
                    }

                    &:hover:before {
                        width: 100%;
                        height: 100%;
                        left: 0;
                        top: 0;
                        opacity: 1;
                    }

                    &:hover {
                        background: rgba(51,51,51,0.8);
                        color: #fff;
                    }
                }
            }
        }

        .image_slider {
            position: absolute;
            width: 100%;
            height: 576px;
            z-index: 5;

            .image {
                width: 100%;
                height: 576px;
                float: left;
            }
        }
    }

    .sec_3 {
        height: auto;
        float: left;
        width: 100%;
        position: relative;
        z-index: 7;
    }

    .top_row_theme {
        height: 13px;
        position: fixed;
        top: 0;
        z-index: 9;

        .color_theme {
            float: right;
            width: 100%;

            ul {
                margin: 0px;
                padding: 0px;
                float: right;
                list-style-type: none;

                li {
                    float: right;
                    width: 20px;
                    height: 13px;
                    cursor: pointer;
                    position: relative;
                }

                .active {
                    width: 60px;

                    &::before {
                        content: "";
                        border-top: solid 10px #fff;
                        border-left: solid 10px transparent;
                        border-right: solid 10px transparent;
                        position: absolute;
                        top: 0;
                        left: 50%;
                        .transform(translate(-50%));
                    }
                }
            }
        }
    }

    .search_margin {
        margin-top: -185px;
    }

    .edit_search {
        width: 100%;
        z-index: 10;
        margin-top: 0px;
        opacity: 0;
        visibility: hidden;
        height: 0;
        .transition(0.3s);

        .search_page .submit_btn {
            top: 11px;
        }

        &.active {
            margin-top: 63px;
            visibility: visible;
            opacity: 1;
            height: auto;
        }
    }

    .search_page {
        float: left;
        height: auto;
        width: 100%;
        position: relative;
        padding: 0px 15px 10px 15px;
        z-index: 8;
        .border-radius(4px);

        .tab_menu {
            float: left;
            width: 100%;

            ul {
                float: left;
                width: 100%;
                list-style-type: none;
                margin: 0;
                padding: 0;

                li {
                    float: left;
                    margin-right: 4px;

                    a {
                        display: block;
                        color: #fff;
                        text-decoration: none;
                        padding: 8px 12px 8px 38px;
                        font-family: @font;
                        .border-radius(0px 0px 2px 2px);
                        .transition(0.3s);
                        position: relative;

                        img {
                            position: absolute;
                            left: 5px;
                            top: 0px;
                        }
                    }
                }
            }
        }
    }

    .full_width {
        padding: 0 15px;
        width: 90%;
        max-width: 1050px;
        margin: auto;
    }

    .search_penal {
        float: left;
        width: 100%;
        position: relative;

        .submit_btn {
            position: absolute;
            right: 6px;
            top: -6px;
            width: 80px;
            height: 80px;
            .border-radius(100%);
            .transition(0.3s);

            &:hover {
            }
        }


        .flight_search {
            float: left;
            width: 100%;
        }

        .flight_search_hotel {
            padding: 22px 0;
        }

        .search_box {
            float: left;
            width: 100%;
            margin-top: 12px;
             .close_ico{
                background:#ec3b3b;
                padding:8px 12px 10px 12px;
                border:none;
                color:#fff;
                font-size:20px;
            }
        }

        .input_field {
            float: left;

            input[type="text"] {
                padding: 8px 8px 8px 25px;
                background-color: #fff;
                border: solid 1px #fff;
                width: 100%;
                font-size: 15px;
                font-family: @font;

                &:focus {
                    outline: none;
                }
            }

            .from {
                background-image: url(../images/from.png);
                background-repeat: no-repeat;
                background-position: 7px;
            }

            .to {
                background-image: url(../images/to.png);
                background-repeat: no-repeat;
                background-position: 7px;
            }
        }

        .input_destination {
            float: left;
            width: 57%;
            height: auto;

            .input_from {
                width: 46%;
            }

            .input_to {
                width: 46%;
            }

            .swap_field {
                width: 4%;
                float: left;
                height: 40px;
                color: #fff;
                margin: 0 2%;
                padding: 8px 0 0 0.2%;
                cursor: pointer;
                .transition(0.3s);

                i {
                    font-size: 22px;
                }

                &:hover {
                    .transform(rotate(180deg));
                }
            }
        }

        .input_type_date {
            float: left;
            width: 17%;
            height: auto;
            padding: 0px 10px;

            .fr_date {
                background-image: url(../images/calender.png);
                background-repeat: no-repeat;
                background-position: 7px;
                padding: 8px 8px 8px 35px !important;
            }
        }

        .input_type_class {
            float: left;
            width: 15%;
            height: auto;
            position: relative;

            input[type="text"] {
                padding: 8px 8px 8px 8px !important;
            }
        }

        .input_type_room {
            float: left;
            width: 24%;
            height: auto;
            position: relative;
            padding-left: 10px;

            input[type="text"] {
                padding: 8px 8px 8px 8px !important;
            }

            .input_field {
                width: 100%;
            }
        }
    }

      .add_city{
        float:left;
        width:89%;
        border:dashed 1px #44bfda;
        padding:8px 0;
        color:#fff;
        text-align:center;
        margin-top:8px;
        .transition(0.3s);
        cursor:pointer;
        &:hover{
            background:rgba(255,255,255,0.1);
        }
    }
    .select_trip_type {
        float: left;
        padding: 3px 6px 3px 0px;
        margin: 12px 25px 0px 0px;
        cursor: pointer;
        position: relative;

        .icon_dowm {
            position: absolute;
            width: 7px;
            height: 7px;
            border-left: solid 2px #fff;
            border-bottom: solid 2px #fff;
            right: 7px;
            top: 9px;
            .transform(rotate(-44deg));
        }

        .icon {
            width: 25px;
            height: 25px;
            float: left;
            margin-right: 6px;
        }

        .text {
            color: #fff;
            float: left;
            font-family: @font;
            margin-right: 6px;
            padding-top: 2px;
        }

        .text_bold {
            float: left;
            color: #fff;
            font-weight: 600;
            font-family: @font;
            padding-top: 2px;
        }
    }

    .toggle_div {
        float: left;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 9;
        padding-top: 10px;
        display: none;

        ul {
            float: left;
            width: 100%;
            background: #fff;
            width: 100%;
            margin: 0;
            padding: 0;
            list-style-type: none;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                border-bottom: solid 8px #fff;
                border-left: solid 8px transparent;
                border-right: solid 8px transparent;
                top: -8px;
                left: 15px;
            }

            li {
                font-family: @font;
                padding: 8px 9px 8px 9px;
                border-bottom: solid 1px #e6e6e6;
                .transition(0.3s);
                position: relative;

                &:last-child {
                    border-bottom: none;
                }

                &:hover {
                    background: #f1f1f1;
                }
            }

            .fl_type_li {
                padding: 8px 9px 8px 38px;

                img {
                    float: left;
                    margin-right: 8px;
                    position: absolute;
                    top: 5px;
                    left: 4px;
                }
            }
        }
    }

    .toggle_div_show {
        display: block !important;
    }

    .passenger {
        float: left;
        margin: 12px 24px 0 0;
        padding: 3px 6px 3px;
        position: relative;
        cursor: pointer;

        .icon {
            float: left;
            margin-right: 6px;
        }

        .text {
            color: #fff;
            float: left;
            font-family: @font;
            margin-right: 6px;
            padding-top: 2px;
        }

        .icon_dowm {
            position: absolute;
            width: 7px;
            height: 7px;
            border-left: solid 2px #fff;
            border-bottom: solid 2px #fff;
            right: 8px;
            top: 9px;
            .transform(rotate(-44deg));
        }

        #passenger_div {
            width: 340px;
            height: 100px;

            .passenger_d {
                background: #fff;
                float: left;
                width: 100%;
                position: relative;

                .done_btn_div {
                    float: left;
                    width: 99.6%;
                    padding: 5px 8px;

                    .done_btn {
                        float: left;
                        width: 100%;
                        padding: 5px 0px;
                        text-align: center;
                        color: #444;
                        border: solid 1px #ccc;
                        margin: 5px 0;
                    }
                }

                &::before {
                    content: "";
                    position: absolute;
                    border-bottom: solid 8px #fff;
                    border-left: solid 8px transparent;
                    border-right: solid 8px transparent;
                    top: -8px;
                    left: 15px;
                }

                .passe_d {
                    float: left;
                    width: 33.3%;
                    padding: 5px 8px;

                    .text {
                        color: #444;
                        text-align: center;

                        span {
                            font-size: 11px;
                            float: left;
                            width: 100%;
                        }
                    }

                    .pass_no {
                        float: left;
                        width: 100%;
                        margin-top: 8px;

                        .box_pas {
                            float: left;
                            width: 33%;
                            border-right: solid 1px #ccc;
                            border-top: solid 1px #ccc;
                            border-bottom: solid 1px #ccc;
                            text-align: center;
                            height: 32px;

                            i {
                                display: block;
                                padding: 9px 5px 0;
                                height: 31px;
                                opacity: 0.7;
                            }

                            input[type="text"] {
                                width: 100%;
                                border: none;
                                padding: 7px 5px;
                                text-align: center;
                                height: 29px;

                                &:focus {
                                    outline: none;
                                }
                            }
                        }

                        .minus_p {
                            border-left: solid 1px #ccc;
                        }
                    }
                }
            }
        }
    }

    .cont_section {
        float: left;
        width: 100%;

        h2 {
            font-family: @font;
            margin: 30px 0px;
            width: 100%;
            text-align: center;
            font-size: 26px;
            line-height: 30px;
            font-weight: 300;
        }

        .cont_text {
            float: left;
            width: 100%;

            h3 {
                font-family: @font;
                margin: 30px 0px 10px;
                width: 100%;
                text-align: center;
                font-size: 20px;
                line-height: 30px;
                font-weight: 300;
            }

            .text_container {
                float: left;
                width: 100%;
                padding: 0px 33px;

                P {
                    margin: 0;
                    padding: 0;
                    float: left;
                    width: 100%;
                    color: #fff;
                    opacity: 0.7;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
    }

    .contant_box {
        float: left;
        width: 100%;
        position: relative;
        padding: 10px 0px;

        &:before {
            width: 150px;
            height: 1px;
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            .transform(translateX(-50%));
            background: fade(#fff,20%);
        }

        .text_container {
            padding: 0px !important;
        }
    }

    .text_padding_lr {
        padding: 0px 42px;
    }

    .margin-bottom_40 {
        margin-bottom: 40px;
    }

    .margin-bottom_50 {
        margin-bottom: 50px;
    }

    .padding_bottom_40 {
        padding-bottom: 40px;
    }

    .text_center {
        text-align: center;
    }

    .text_justify {
        text-align: justify;
    }

    .slide_text {
        span {
            float: left;
            width: 100%;
            text-align: center;
            color: #fff;
            font-weight: 500;
            opacity: 0.7;
        }
    }

    .sec_4 {
        float: left;
        width: 100%;
        height: auto;
        padding: 50px 0;

        .slide_box {
            float: left;
            width: 100%;

            .slide_box_in {
                float: left;
                width: 100%;

                .slide_image {
                    float: left;
                    width: 100%;
                    text-align: center;
                }

                .slide_text_box {
                    float: left;
                    width: 100%;
                    padding-top: 25px;

                    h1 {
                        font-size: 29px;
                        line-height: 41px;
                        font-family: @font;
                        font-weight: 300;
                        color: #fff;
                        margin: 0 0 15px;
                    }

                    p {
                        margin: 10px 0 5px;
                        color: #fff;
                        font-size: 13px;
                    }

                    .app_link_box {
                        float: left;
                        width: 100%;
                        padding-top: 20px;

                        input[type="text"] {
                            width: 72%;
                            background: #fff;
                            border: none;
                            padding: 12px 12px;
                            float: left;
                            font-family: @font;
                        }

                        .get_app_btn {
                            float: left;
                            width: 18%;
                            .transition(0.3s);
                            border: none;
                            color: #fff;
                            font-family: @font;
                            padding: 12px 12px;
                        }
                    }
                }
            }
        }
    }

    .sec_5_div {
        float: left;
        width: 100%;
        padding: 18px 0;

        .text {
            float: left;
            width: 100%;
            margin-bottom: 15px;

            h2 {
                float: left;
                width: 100%;
                margin: 0;
                padding: 0;
                opacity: 0.9;
                font-family: @font;
                font-size: 20px;
                font-weight: 300;
            }

            p {
                color: #fff;
                margin: 5px 0px;
                float: left;
                width: 100%;
                opacity: 0.6;
                font-family: @font;
            }
        }
    }

    .sec_5_right {
        float: left;
        width: 100%;
        padding: 25px 0 0;

        .sign_up_btn {
            float: right;
            padding: 10px 15px;
            text-decoration: none;
            color: #fff;
            font-family: @font;
            .transition(0.3s);
        }
    }

    .footer_link {
        float: left;
        width: 100%;
        padding: 20px 0;

        .foo_link {
            float: left;
            width: 100%;

            ul {
                float: left;
                list-style-type: none;
                margin: 0 0 3px;
                padding: 0;
                width: 100%;

                li {
                    float: left;
                    margin-right: 15px;

                    a {
                        text-decoration: none;
                        .transition(0.3s);
                        color: #fff;
                        font-family: @font;
                        font-size: 15px;
                    }
                }
            }
        }

        p {
            float: left;
            margin: 0;
            padding: 0;
            width: 100%;
            color: #fff;
            opacity: 0.6;
            font-family: @font;
            font-size: 13px;
        }
    }

    .foo_social {
        float: left;
        width: 100%;
        padding-top: 25px;

        ul {
            margin: 0;
            padding: 0;
            float: right;
            list-style-type: none;

            li {
                float: left;
                padding: 0 4px;

                a {

                    i {
                        width: 30px;
                        height: 30px;
                        .border-radius(100%);
                        text-align: center;
                        font-size: 17px;
                        padding-top: 6px;
                        .transition(0.3s);
                    }
                }
            }
        }
    }

    .padding_right {
        padding-right: 18px;
        display: block;
        float: left;
    }

    .padding_right2 {
        padding-right: 11px;
        display: block;
        float: left;
    }

    .page_padding_top {
        padding-top: 5px;
    }

    .search_padding {
        padding-top: 75px;
        
    }
}

.foot_title {
    float: left;
    width: 100%;
    padding: 15px 0px 7px;
    position: relative;

    .fo_click {
        position: absolute;
        width: 56px;
        height: 25px;
        background: #0d1d21;
        left: 50%;
        top: -25px;
        .transform(translateX(-50%));
        .border-radius(26px 26px 0px 0px);
        cursor: pointer;
        z-index: 9;

        i {
            color: #597b84;
            font-size: 21px;
            width: 100%;
            text-align: center;
            padding-top: 5px;
        }
    }

    ul {
        float: left;
        width: 100%;
        list-style-type: none;

        li {
            float: left;
            width: calc(100% / 6);
            font-family: @font;
            font-weight: 400;
            position: relative;

            &:after {
                position: absolute;
                width: 1px;
                height: 14px;
                background: #305a65;
                right: 27%;
                top: 2px;
                content: "";
            }

            a {
                color: #7a9298;
                font-family: @font;
            }
        }
    }
}

.foo_link_n {
    float: left;
    width: 100%;
    padding-top: 15px;

    ul {
        float: left;
        width: 25%;
        list-style-type: none;

        li {
            float: left;
            width: 90%;

            &:first-child {
                font-size: 15px;
                color: #16708c;
                padding: 8px 0px;
            }

            a {
                color: #6b8d98;
                float: left;
                font-size: 13px;
                font-family: @font;
                padding: 3px 0px;
            }
        }
    }
}

.fo_title {
    background: #0d1d21;
}

.f_wrapper {
    float: left;
    width: 100%;
}

.fo_copy {
    background: #00181f;
    display: none;

    .copy_right {
        float: left;
        width: 100%;
        text-align: center;
        font-family: @font;
        font-size: 13px;
        color: #49656d;
        margin: 0;
        padding: 10px 0;
    }
}

.fo_link_h {
    display: none;
}

.bottom_mar {
    bottom: -87px !important;
    .transition(0.3s);
}

.m_space {
    padding-bottom: 50px;
}

.fixed_foot {
    .transition( 0.3s);
}

.fixed_foot_active {
    position: static !important;
}

#class_select {
    width: 180px;
    height: 100px;

    ul {
        float: left;
        width: 100%;
        list-style-type: none;

        li {
            float: left;
            width: 100%;
            cursor: pointer;
        }
    }
}
.padding_bottom{
    padding-bottom:7 0px;
}
/*****************Filter_nav****************/
/*****************pop_up****************/
.overlay_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    padding-top: 40px;
    z-index: 25;
    overflow: hidden;


    .pop_pup_div {
        position: relative;
        width: 970px;
        height: auto;
        margin: 0px auto;

        .pop_up_div {
            float: left;
            width: 100%;
            height: auto;
            /*background: #085870;*/
            padding: 10px 10px;
        }

        .pop_head {
            float: left;
            width: 100%;
            border-bottom: solid 1px #13627a;
            padding-bottom: 10px;

            h2 {
                float: left;
                width: 80%;
                font-size: 20px;
                font-family: @font;
                margin: 0;
                padding: 0;
                color: #dcdcdc;
            }

            .close_ico {
                float: right;
                background: url(../images/close_icon.png) center center no-repeat;
                width: 28px;
                height: 22px;
                cursor: pointer;
            }
        }

        .pro_detial_box {
            float: left;
            width: 100%;

            .pro_d {
                float: left;
                width: 70%;
                padding: 14px 0 0;

                .pro_d_box {
                    float: left;

                    .pro_n {
                        color: #00cf40;
                        font-size: 18px;
                        font-family: @font;
                        font-weight: 400;

                        i {
                            margin: 0 0px 0 5px;
                        }
                    }

                    .pro_text {
                        float: left;
                        color: #fff;
                        font-size: 13px;
                        padding-top: 2px;

                        span.opacity_7 {
                            opacity: 0.8;
                        }
                    }
                }
            }

            .pro_price {
                float: left;
                width: 30%;
                text-align: right;
                color: #fff;
                padding-top: 13px;
                padding-right: 10px;
                font-family: @font;

                .pric {
                    float: left;
                    width: 100%;
                    font-size: 25px;
                    opacity: 0.8;
                }

                .per_p {
                    float: left;
                    width: 100%;
                    font-size: 12px;
                    opacity: 0.8;
                    padding-top: 3px;
                }
            }
        }

        .pop_content {
            float: left;
            width: 100%;
            padding: 10px 0px;

            .property_slider {
                float: left;
                width: 100%;
            }

            .property_detail {
                float: left;
                width: 100%;

                .property_name {
                    float: left;
                    font-family: @font;
                    font-weight: 600;
                    font-size: 18px;
                    color: #454444;
                }

                .property_address {
                    float: left;
                    width: 100%;
                    font-size: 14px;
                    font-family: @font;
                    padding: 5px 0;
                    color: #5c5c5c;
                }

                .p_rate_price {
                    float: left;
                    width: 100%;

                    .p_rating {
                        float: left;
                        width: 60%;
                        padding: 8px 0;
                        border-top: solid 1px #ededed;
                        border-bottom: solid 1px #ededed;
                        margin: 7px 0;

                        .p_rate_text {
                            float: left;
                            width: 100%;
                            padding: 3px 0;
                            color: #5c5c5c;
                        }

                        .trip_ad_rating {
                            float: left;
                            width: 100%;
                            padding: 4px 0;

                            span {
                                float: left;
                                margin-right: 8px;
                                color: #599642;
                                font-size: 17px;
                                padding-top: 3px;
                            }
                        }
                    }

                    .p_price {
                        width: 40%;
                        float: left;
                        padding: 8px 8px;

                        .price_pro {
                            float: left;
                            padding: 37px 5px 5px;
                            font-family: 'Open Sans',sans-serif;
                            font-size: 25px;
                            font-weight: 700;
                            background: #f3f3f3;
                            width: 100%;
                            text-align: center;
                            height: 97px;

                            .save_price {
                                float: left;
                                padding-top: 4px;
                                width: 100%;
                                font-size: 13px;
                                font-weight: 400;

                                span.save_p {
                                    color: #01b515;
                                    margin-right: 7px;
                                }

                                span.full_p {
                                    color: #f00 !important;
                                    text-decoration: line-through;
                                }
                            }
                        }
                    }
                }
            }
        }

        .pop_btn {
            float: left;
            width: 100%;

            a {
                float: right;
                padding: 10px 15px;
                color: #fff;
                font-family: @font;
                font-size: 14px;
                text-decoration: none;
            }

            .buy_btn {
                background: #058ed1;
                margin-right: 8px;
            }

            .cart_btn {
                background: #0c8d4b;
            }
        }
    }
}

#add_hotel_person {
    width: 590px;
    left: auto !important;
    right: 0;
}

.hotel_person {
    width: 100%;
    height: auto;
    background: #fff;
    float: left;
    padding: 15px 0px 0;
    position:relative;
    &:before{
        position:absolute;
        width:0;
        height:0;
        border-bottom:solid 10px #fff;
        border-left:solid 10px transparent;
        border-right:solid 10px transparent;
        right:10px;
        top:-10px;
        content:"";
    }

    .ht_per_row {
        float: left;
        width: 100%;
        padding:0 8px 10px 8px;
        position:relative;
        span{
            color:#656565;
        }
        .cl_row{
            position:absolute;
            color:#f00;
            right:10px;
            font-size:17px;
            padding: 8px 7px;

        }
        .room {
            float: left;
            width: 13%;
            padding:8px 0px 8px 5px;
            color:#585858;
        }
        .room_em{
            float: left;
            width: 13%;
        }

        .adult_count {
            float: left;
            width: 18%;
            padding: 0px 8px;

            select {
                float: left;
                width: 100%;
                padding: 7px 5px;
                border: solid 1px #dbdbdb;
                outline:none;
            }
        }

        .child_count {
            float: left;
            width: 18%;
            padding: 0px 8px;

            select {
                float: left;
                width: 100%;
                padding: 7px 5px;
                border: solid 1px #dbdbdb;
                outline:none;
            }
        }
        .child_age{
            float:left;
            width:45%;
            span{
                padding-left:8px;
            }
            .child_age_box{
                float:left;
                width:25%;
                padding:0px 8px;
                 select {
                float: left;
                width: 100%;
                padding: 7px 5px;
                border: solid 1px #dbdbdb;
                outline:none;
            }
            }
        }
    }
    .add_m_row{
    float:left;
    width:100%;
   height: auto;
    background: #f1f1f1;
    padding:5px 8px;
    .add_room{
        float:left;
        padding:5px 10px;
        background:#e04c5a;
        color:#fff;
        text-decoration:none;
        i{
            margin-right:5px;
        }
        &:hover{
         text-decoration:none;
        }
    }
    .add_r_ok{
        float: right;
    padding: 3px 10px;
    font-weight: 600;
    font-size: 22px;
    color: #058ed1;
    text-decoration: none;
        i{
            margin-right:5px;
        }
        &:hover{
         text-decoration:none;
         color:#444;
        }
    }
    .add_r_cancel{
        float: right;
    padding: 5px 10px;
    margin-right: 10px;
    font-weight: 400;
    font-size: 17px;
    color: #444;
    text-decoration: none;
        i{
            margin-right:5px;
        }
        &:hover{
         text-decoration:none;
         color:#e04c5a;
        }
    }
    }
}
.process_div_con{
    position:absolute;
    width:400px;
    height:400px;
    padding-top:60px;
    
    
   left:50%;
    top:50%;
    .transform(translateX(-50%) translateY(-50%));
    z-index:22;
    background:rgba(255,255,255,1);
     .border-radius(100%);
     .logo_pro{
         float:left;
         text-align:center;
         width:100%;
         margin-bottom:15px;
     }
     .process_data{
         float:left;
         width:100%;
         text-align:center;
         font-family:@font;
         font-weight:600;
         font-size:18px;
         i{
             margin:0 25px;
         }
     }
}
.process_div{
    position:fixed;
    width:3000px;
    height:3000px;
    .border-radius(100%);
    background:rgba(255,255,255,0.93);
    left:50%;
    top:50%;
    .transform(translateX(-50%) translateY(-50%));
    z-index:20;
    animation:process_ani 7s normal;

}
@-moz-keyframes process_ani{
    0%{
        width:400px;
        height:400px;
    }
     25%{
        width:500px;
        height:500px;
    }
     50%{
        width:1000px;
        height:1000px;
    }
     75%{
        width:1500px;
        height:1500px;
    }

      100%{
        width:3000px;
        height:3000px;
    }
}

@-webkit-keyframes process_ani{
    0%{
        width:400px;
        height:400px;
    }
     25%{
        width:500px;
        height:500px;
    }
     50%{
        width:1000px;
        height:1000px;
    }
     75%{
        width:1500px;
        height:1500px;
    }

      100%{
        width:3000px;
        height:3000px;
    }

}

@keyframes process_ani{
    0%{
         width:400px;
        height:400px;
    }
     25%{
        width:500px;
        height:500px;
    }
     50%{
        width:1000px;
        height:1000px;
    }
     75%{
        width:1500px;
        height:1500px;
    }

     100%{
        width:3000px;
        height:3000px;
    }

}
/*****************pop_up****************/
@import "filter_nav.less";
@import "search_result.less";
@import "check_out_page.less";
@import "cart_page.less";
@import "hotel_detail.less";
@import "my_account.less";
