﻿.border-radius(@radius) {
    -o-border-radius: @radius;
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

.transform(@transf) {
    -o-transform: @transf;
    -moz-transform: @transf;
    -webkit-transform: @transf;
    transform: @transf;
}

.transition(@trans) {
    -webkit-transition: @trans;
    -moz-transition: @trans;
    -o-transition: @trans;
    transition: @trans;
}

.box-shadow(@b_shadow) {
    -o-box-shadow: @b_shadow;
    -moz-box-shadow: @b_shadow;
    -webkit-box-shadow: @b_shadow;
    box-shadow: @b_shadow;
}

.text-shadow(@t_shadow) {
    -o-text-shadow: @t_shadow;
    -moz-text-shadow: @t_shadow;
    -webkit-text-shadow: @t_shadow;
    text-shadow: @t_shadow;
}
